@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/gotham/Gotham-Bold.eot');
  src: url('../fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/Gotham-Bold.woff') format('woff'), url('../fonts/gotham/Gotham-Bold.ttf') format('truetype'), url('../fonts/gotham/Gotham-Bold.svg#GothamBold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/gotham/Gotham-Book.eot');
  src: url('../fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/Gotham-Book.woff') format('woff'), url('../fonts/gotham/Gotham-Book.ttf') format('truetype'), url('../fonts/gotham/Gotham-Book.svg#GothamBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/gotham/Gotham-Medium.eot');
  src: url('../fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/Gotham-Medium.woff') format('woff'), url('../fonts/gotham/Gotham-Medium.ttf') format('truetype'), url('../fonts/gotham/Gotham-Medium.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.white {
  color: #ffffff;
}
.primary {
  color: #00b9e4;
}
.primary2 {
  color: #47d5cd;
}
.secondary {
  color: #391909;
}
.secondary2 {
  color: #8b8178;
}
.secondary3 {
  color: #b0b1a6;
}
.secondary4 {
  color: #ddddd4;
}
.tertiary {
  color: #f2f2f2;
}
.tertiary2 {
  color: #e6f8fc;
}
.tertiary3 {
  color: #fcfcfc;
}
.gotham-bold {
  font-family: 'Gotham Bold', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
.gotham-book {
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.gotham-medium {
  font-family: 'Gotham Medium', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.verdana {
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.mp-reset {
  margin: 0;
  padding: 0;
}
.btn-reset {
  border: 0;
}
.push-up {
  margin-top: 15px !important;
}
.push-down {
  margin-bottom: 15px !important;
}
.push-r {
  margin-right: 15px !important;
}
.push-l {
  margin-left: 15px !important;
}
.l-push-down {
  margin-bottom: 25px !important;
}
.l-push-up {
  margin-top: 25px !important;
}
.bloc {
  background-color: #ffffff;
  padding: 10px;
  margin: 15px 0;
}
.equals-height {
  overflow: hidden;
  padding-bottom: 500em !important;
  margin-bottom: -500em !important;
}
.equals-height > div:first-child {
  height: auto !important;
}
.directions {
  clear: both;
  *zoom: 1;
}
.directions:before,
.directions:after {
  display: table;
  content: "";
  line-height: 0;
}
.directions:after {
  clear: both;
}
.directions > * {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}
.directions .left {
  float: left;
}
.directions .right {
  float: right;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-lt {
  left: 0;
  top: 0;
}
.pos-lb {
  left: 0;
  bottom: 0;
}
.pos-rt {
  right: 0;
  top: 0;
}
.pos-rb {
  right: 0;
  bottom: 0;
}
.va-m {
  vertical-align: middle;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
.regular {
  font-weight: normal;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.gray-input {
  background-color: #f2f2f2 !important;
  border: 0 !important;
  color: #8b8178 !important;
}
.gray-input:-moz-placeholder {
  color: #8b8178 !important;
}
.gray-input:-ms-input-placeholder {
  color: #8b8178 !important;
}
.gray-input::-webkit-input-placeholder {
  color: #8b8178 !important;
}
.large-modal {
  width: 920px;
  margin-left: -460px;
}
html {
  font-size: 62.5%;
}
h1,
.h1 {
  font-family: 'Gotham Medium', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.8rem;
  /* 28px */
  line-height: 3.4rem;
  /* 34px */
  color: #391909;
  margin-bottom: 30px;
}
h2,
.h2 {
  font-family: 'Gotham Medium', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.2rem;
  /* 22px */
  line-height: 2.7rem;
  /* 27px */
  color: #00b9e4;
  margin-bottom: 20px;
}
h3,
.h3 {
  font-family: 'Gotham Medium', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6rem;
  /* 16px */
  line-height: 2rem;
  /* 20px */
  color: #391909;
  margin-bottom: 20px;
  font-weight: normal;
}
h3#authLogin {
  margin-top: 30px;
}
.date {
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2rem;
  /* 12px */
  color: #b0b1a6;
}
.introduction {
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2rem;
  /* 12px */
  line-height: 2rem;
  /* 20px */
  color: #b0b1a6;
}
.courant {
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2.2rem;
  /* 22px */
  color: #391909;
}
.mentions {
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  /* 10px */
  line-height: 1.7rem;
  /* 17px */
  color: #b0b1a6;
}
a.a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #00b9e4;
  text-decoration: underline;
}
.base-font {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
.content > div > h1,
.content > h1 {
  margin: 5px 0 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
.content > div > h3,
.content > form > h3,
.content .tab-content > h3 {
  color: #391909;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
.content .milestone-all > h1 {
  text-transform: none;
}
.pager {
  font-family: 'Gotham Medium', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header {
  *zoom: 1;
  height: 165px;
  background-color: #ffffff;
}
header:before,
header:after {
  display: table;
  content: "";
  line-height: 0;
}
header:after {
  clear: both;
}
header .logo {
  clear: both;
  display: block;
  margin-top: 15px;
}
header .action {
  padding-top: 18px;
}
header .action .user {
  position: relative;
  float: right;
  z-index: 1000;
}
header .action .user .dropdown .dropdown-menu li a > div {
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
header .action .user .profile-icon {
  width: 20px;
  background: 3px 3px url("../img/sprite/profile.png") no-repeat;
  margin-right: 20px;
}
header .action .user .friends-icon {
  width: 25px;
  background: url("../img/humans.png") no-repeat;
  margin-right: 15px;
}
header .action .user .members-icon {
  width: 30px;
  background: url("../img/members.png") no-repeat;
  margin-right: 10px;
}
header .action .user > li {
  float: left;
}
header .action .user > li.nb {
  margin: 14px 0 0 35px;
}
header .action .user > li.nb a {
  position: relative;
}
header .action .user > li.nb a:hover {
  background: none;
}
header .action .user > li.nb .label {
  min-width: 12px;
  position: absolute;
  top: -8px;
  left: 18px;
  z-index: 1010;
  padding: 2px;
  background-color: #00b9e4;
  text-align: center;
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 9px;
  line-height: 11px !important;
}
header .action .user > li .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
header .action .user > li .dropdown-menu > li > a:hover,
header .action .user > li .dropdown-menu > li > a:focus,
header .action .user > li .dropdown-submenu:hover > a,
header .action .user > li .dropdown-submenu:focus > a {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #00b9e4;
}
header .action .user > li.dropdown {
  margin: 0 0 0 20px;
}
header .action .user > li.dropdown .caret {
  margin: 7px 0 0 20px;
  border-top: 6px solid #ffffff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
header .action .user > li.dropdown .dropdown-toggle > span {
  text-transform: uppercase;
}
header .action .user > li.dropdown .dropdown-menu {
  width: 100%;
}
header .action .user > li.dropdown .dropdown-menu li {
  border-bottom: 1px solid #e5e5e5;
}
header .action .user > li.dropdown .dropdown-menu a {
  padding: 5px 10px;
}
header .action .user > li.dropdown .dropdown-menu a:hover {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
header .action .user > li.dropdown .dropdown-menu a span {
  margin-right: 10px;
}
header .action .user > li.dropdown > a {
  background-color: #00b9e4;
  padding: 7px 10px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
header .action .user > li.dropdown > a > img {
  display: inline-block;
  margin: -4px 5px 0 0;
}
header .action .user > li.dropdown > a > span {
  display: inline-block;
  padding-top: 4px;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}
header .action .user .user-role {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  color: #391909;
  text-transform: none;
  font-weight: normal;
}
.header-nav {
  height: 46px;
}
.header-nav .navbar {
  *zoom: 1;
  margin-bottom: 0;
  background-color: #8b8178;
}
.header-nav .navbar:before,
.header-nav .navbar:after {
  display: table;
  content: "";
  line-height: 0;
}
.header-nav .navbar:after {
  clear: both;
}
.header-nav .navbar > .container {
  width: 940px;
  height: 100%;
}
.header-nav .navbar .nav {
  height: 100%;
  color: #ffffff;
  list-style-type: none;
}
.header-nav .navbar .nav > li {
  display: block;
  height: 100%;
  margin-right: 0;
  line-height: 18px;
  position: relative;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.header-nav .navbar .nav > li:before {
  content: '';
  width: 2px;
  height: 24px;
  position: absolute;
  left: -1px;
  top: 13px;
  background-color: #ffffff;
}
.header-nav .navbar .nav > li:first-child:before {
  content: none;
}
.header-nav .navbar .nav > li > a {
  padding: 16px 15px;
  text-align: center;
  text-shadow: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}
.header-nav .navbar .nav > li > a:hover {
  background-color: #00b9e4;
  color: #ffffff;
  text-shadow: 1px -1px 0 #a6a6a6;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header-nav .navbar .nav > li.active > a {
  background-color: #00b9e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}
.header-nav .navbar .idea {
  float: right;
  margin-right: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
}
.breadcrumb {
  padding: 10px 15px;
  margin: 0;
  background-color: #ffffff;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.breadcrumb li {
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.breadcrumb li > * {
  text-decoration: underline;
}
.breadcrumb li a {
  color: #391909;
}
.breadcrumb li.active > * {
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #00b9e4;
  text-decoration: none;
  cursor: pointer;
}
.breadcrumb li.active > *:hover {
  text-decoration: underline;
}
.breadcrumb li .divider {
  font-size: 12px;
  color: #391909;
  text-decoration: none;
}
.form-horizontal {
  *zoom: 1;
}
.form-horizontal:before,
.form-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-horizontal:after {
  clear: both;
}
.form-horizontal .control-label {
  text-transform: uppercase;
  font-family: 'Gotham Bold', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
}
.form-horizontal .controls input[type="text"],
.form-horizontal .controls input[type="password"],
.form-horizontal .controls textarea,
.form-horizontal .controls .select {
  background-color: #f2f2f2 !important;
  border: 0 !important;
  color: #8b8178 !important;
}
.form-horizontal .controls input[type="text"]:-moz-placeholder,
.form-horizontal .controls input[type="password"]:-moz-placeholder,
.form-horizontal .controls textarea:-moz-placeholder,
.form-horizontal .controls .select:-moz-placeholder {
  color: #8b8178 !important;
}
.form-horizontal .controls input[type="text"]:-ms-input-placeholder,
.form-horizontal .controls input[type="password"]:-ms-input-placeholder,
.form-horizontal .controls textarea:-ms-input-placeholder,
.form-horizontal .controls .select:-ms-input-placeholder {
  color: #8b8178 !important;
}
.form-horizontal .controls input[type="text"]::-webkit-input-placeholder,
.form-horizontal .controls input[type="password"]::-webkit-input-placeholder,
.form-horizontal .controls textarea::-webkit-input-placeholder,
.form-horizontal .controls .select::-webkit-input-placeholder {
  color: #8b8178 !important;
}
.form-horizontal .controls .select {
  *background-color: transparent;
}
.form-horizontal .controls input[type="text"],
.form-horizontal .controls input[type="password"],
.form-horizontal .controls textarea {
  width: 96%;
}
.form-horizontal .controls .select {
  width: 98.76%;
  height: 32px;
}
.form-horizontal .controls .select select {
  width: 107%;
  *width: 100%;
  color: #8b8178;
}
.form-horizontal .controls .path {
  display: inline-block;
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: italic;
}
.form-horizontal .controls .path,
.form-horizontal .controls .trash i {
  vertical-align: bottom;
}
.form-horizontal .control-group.full-size .controls {
  margin-left: 0;
}
.form-horizontal .control-group .checkbox {
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
select {
  height: 32px;
  line-height: 32px;
  padding: 6px;
}
.select {
  height: 28px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  *background-color: transparent;
}
.select select {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  border: 0;
  background: transparent;
}
.select .bg,
.select .caret {
  position: absolute;
  display: block;
  right: 10px;
  *display: none;
}
.select .caret {
  top: 14px;
  border-top: 6px solid #ffffff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.select .bg {
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background-color: #00b9e4;
}
.filter {
  *zoom: 1;
}
.filter:before,
.filter:after {
  display: table;
  content: "";
  line-height: 0;
}
.filter:after {
  clear: both;
}
.filter > form,
.filter > span {
  float: right;
}
.filter > span {
  line-height: 24px;
  *line-height: 18px;
}
.filter .caret {
  top: 12px;
}
.filter .select {
  overflow: hidden;
  float: left;
  width: 200px;
  margin: 0 0 0 20px;
}
.filter .select select {
  width: 250px;
  *width: 200px;
  height: 28px;
  line-height: 28px;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #bcbcbc;
  border-color: rgba(82, 168, 236, 0.8);
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  color: #bcbcbc;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: 0 0 6px rgba(82, 168, 236, 0.8);
  -moz-box-shadow: 0 0 6px rgba(82, 168, 236, 0.8);
  -o-box-shadow: 0 0 6px rgba(82, 168, 236, 0.8);
  box-shadow: 0 0 6px rgba(82, 168, 236, 0.8);
}
/*
#Widgets
*/
aside h5,
aside .h5 {
  text-transform: uppercase;
  font-size: 12px;
}
aside ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin: 0 0 10px;
  list-style: none;
}
aside ul.bg {
  padding: 3px 8px;
  font-weight: bold;
}
aside ul.bg.children-bg {
  background-color: transparent;
  padding: 0;
}
aside ul.bg.children-bg > li {
  display: block;
  padding: 3px 8px;
  margin-top: 10px;
}
aside ul.bg.children-bg > li:first-child {
  margin: 0;
}
aside ul.bg.children-bg.bullets > li {
  background-position: 10px 9px;
  padding-left: 28px;
}
aside ul.bullets > li {
  background: 0 7px url("../img/common/bullet.png") no-repeat;
  padding: 0 0 0 18px;
  line-height: 22px;
}
aside ul li > div {
  margin-top: 5px;
  font-weight: normal;
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
}
aside .widget {
  margin: 15px 0;
  background-color: #ffffff;
}
aside .widget:first-child {
  margin-top: 20px;
}
aside .widget .wrap {
  position: relative;
  padding: 15px 10px;
}
aside .widget a {
  color: #391909;
}
aside .widget .widget-header {
  background-color: #b0b1a6;
  padding: 12px 15px;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Gotham Bold', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
aside .dashboard .since {
  display: block;
  width: 100%;
  height: 35px;
  font-size: 10px;
  *zoom: 1;
}
aside .dashboard .since:before,
aside .dashboard .since:after {
  display: table;
  content: "";
  line-height: 0;
}
aside .dashboard .since:after {
  clear: both;
}
aside .dashboard .since:hover {
  text-decoration: none;
}
aside .dashboard .since > i {
  float: right;
}
aside .dashboard ul {
  min-width: 170px;
}
aside .dashboard h5 {
  margin: 20px 0 10px;
}
aside .dashboard h5.first {
  margin-top: 0;
}
aside .dashboard .bg.last {
  margin-bottom: 0;
}
aside .recommandation .sprite-members {
  position: absolute;
  right: 10px;
  top: 10px;
}
aside .recommandation .wrap > p {
  margin: 0;
}
aside .members-recommandation .wrap > p {
  margin: 0;
}
aside .members-recommandation .wrap > ul {
  width: 100%;
}
aside .btn.idea {
  display: block;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.nav-tabs > li > a {
  font-family: 'Gotham Bold', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
footer {
  height: 49px;
  margin-top: 20px;
  background-color: #ffffff;
}
footer .navbar {
  margin-bottom: 0;
}
footer .navbar nav > ul {
  margin: 0 10px;
  *zoom: 1;
}
footer .navbar nav > ul:before,
footer .navbar nav > ul:after {
  display: table;
  content: "";
  line-height: 0;
}
footer .navbar nav > ul:after {
  clear: both;
}
footer .navbar nav > ul li {
  float: left;
}
footer .navbar nav > ul li > a,
footer .navbar nav > ul li .divider {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  float: left;
  text-shadow: none;
  padding: 17px 0;
}
footer .navbar nav > ul li > a {
  padding: 17px 10px 18px;
  text-transform: uppercase;
  font-family: 'Gotham Bold', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #391909;
  font-weight: bold;
}
body .wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -59px;
}
body .wrapper > .main {
  padding: 25px 0 59px;
}
.content .tabs .nav.nav-tabs {
  margin-bottom: 0;
}
.content .tab-content {
  background-color: #ffffff;
  padding: 10px;
}
.content .tab-content .tab-pane {
  padding-top: 10px;
}
.content-wrp {
  background-color: #ffffff;
  padding: 15px;
}
.idea-all .filter {
  padding: 10px 0;
}
.report-abuse a,
.read-more {
  color: #00b9e4;
  font-size: 11px;
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: underline;
}
.caret {
  border-top: 6px solid #ffffff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.heading {
  *zoom: 1;
  margin: 12px 0 0;
}
.heading:before,
.heading:after {
  display: table;
  content: "";
  line-height: 0;
}
.heading:after {
  clear: both;
}
.heading.links > span > a {
  display: inline-block;
  padding-top: 3px;
}
.heading.links > span > a:hover {
  color: #00b9e4;
}
.heading.links > span > i {
  vertical-align: top;
}
.heading .btn.square,
.heading .progress {
  float: right;
}
.heading .title {
  float: left;
  padding: 5px 15px 5px 0;
  max-width: 63%;
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
}
.heading .title a {
  color: #391909;
}
.heading .progress {
  width: 124px;
  margin: 0;
}
.nb-idea {
  float: left;
  display: inline-block;
  font-size: 14px;
}
.nb-comments {
  color: #00b9e4;
  font-size: 16px;
  margin: 10px 0 15px;
}
.date,
.tags {
  margin: 8px 4px 0 0;
}
.tags {
  color: #00b9e4;
}
.tags.secondary,
.tags.secondary .wrap-tags a {
  color: #391909;
}
.tags > i {
  float: left;
  margin-right: 10px;
}
.tags .wrap-tags {
  float: left;
}
.author > p,
.author .one-user-on-a-list {
  margin-bottom: 0;
}
.trash:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.add {
  display: inline-block;
  font-weight: bold;
  font-size: 3em;
  line-height: 1em;
  cursor: pointer;
}
.marker {
  vertical-align: top;
}
.basic-sprite,
.basic-black_00,
.basic-black_01,
.basic-black_02,
.basic-black_03,
.basic-black_04,
.basic-black_05,
.basic-black_06,
.basic-black_07,
.basic-black_08,
.basic-black_09,
.basic-black_10,
.basic-black_11,
.basic-black_12,
.basic-black_13,
.basic-black_14,
.basic-black_15,
.basic-black_16,
.basic-black_17,
.basic-black_18,
.basic-black_19,
.basic-black_20,
.basic-black_21,
.basic-black_22,
.basic-black_23,
.basic-black_24,
.basic-black_25,
.basic-black_26,
.basic-black_27,
.basic-black_28,
.basic-black_29,
.basic-black_30,
.basic-black_31,
.basic-black_32,
.basic-black_33,
.basic-black_34,
.basic-black_35,
.basic-black_36,
.basic-black_37,
.basic-black_38,
.basic-black_39,
.basic-black_40,
.basic-black_41,
.basic-blue_00,
.basic-blue_01,
.basic-blue_02,
.basic-blue_03,
.basic-blue_04,
.basic-blue_05,
.basic-blue_06,
.basic-blue_07,
.basic-blue_08,
.basic-blue_09,
.basic-blue_10,
.basic-blue_11,
.basic-blue_12,
.basic-blue_13,
.basic-blue_14,
.basic-blue_15,
.basic-blue_16,
.basic-blue_17,
.basic-blue_18,
.basic-blue_19,
.basic-blue_20,
.basic-blue_21,
.basic-blue_22,
.basic-blue_23,
.basic-blue_24,
.basic-blue_25,
.basic-blue_26,
.basic-blue_27,
.basic-blue_28,
.basic-blue_29,
.basic-blue_30,
.basic-blue_31,
.basic-blue_32,
.basic-blue_33,
.basic-blue_34,
.basic-blue_35,
.basic-blue_36,
.basic-blue_37,
.basic-blue_38,
.basic-blue_39,
.basic-blue_40,
.basic-blue_41,
.basic-brown_00,
.basic-brown_01,
.basic-brown_02,
.basic-brown_03,
.basic-brown_04,
.basic-brown_05,
.basic-brown_06,
.basic-brown_07,
.basic-brown_08,
.basic-brown_09,
.basic-brown_10,
.basic-brown_11,
.basic-brown_12,
.basic-brown_13,
.basic-brown_14,
.basic-brown_15,
.basic-brown_16,
.basic-brown_17,
.basic-brown_18,
.basic-brown_19,
.basic-brown_20,
.basic-brown_21,
.basic-brown_22,
.basic-brown_23,
.basic-brown_24,
.basic-brown_25,
.basic-brown_26,
.basic-brown_27,
.basic-brown_28,
.basic-brown_29,
.basic-brown_30,
.basic-brown_31,
.basic-brown_32,
.basic-brown_33,
.basic-brown_34,
.basic-brown_35,
.basic-brown_36,
.basic-brown_37,
.basic-brown_38,
.basic-brown_39,
.basic-brown_40,
.basic-brown_41 {
  background: url('../img/sprites/basic-s0b8974df3d.png') no-repeat;
}
.basic-black_00 {
  background-position: 0 0;
  height: 24px;
  width: 24px;
}
.basic-black_01 {
  background-position: -34px 0;
  height: 24px;
  width: 24px;
}
.basic-black_02 {
  background-position: -68px 0;
  height: 24px;
  width: 24px;
}
.basic-black_03 {
  background-position: -102px 0;
  height: 24px;
  width: 24px;
}
.basic-black_04 {
  background-position: -136px 0;
  height: 24px;
  width: 24px;
}
.basic-black_05 {
  background-position: -170px 0;
  height: 24px;
  width: 24px;
}
.basic-black_06 {
  background-position: -204px 0;
  height: 24px;
  width: 24px;
}
.basic-black_07 {
  background-position: -238px 0;
  height: 24px;
  width: 24px;
}
.basic-black_08 {
  background-position: -272px 0;
  height: 24px;
  width: 24px;
}
.basic-black_09 {
  background-position: -306px 0;
  height: 24px;
  width: 24px;
}
.basic-black_10 {
  background-position: -340px 0;
  height: 24px;
  width: 24px;
}
.basic-black_11 {
  background-position: -374px 0;
  height: 24px;
  width: 24px;
}
.basic-black_12 {
  background-position: -408px 0;
  height: 24px;
  width: 24px;
}
.basic-black_13 {
  background-position: -442px 0;
  height: 24px;
  width: 24px;
}
.basic-black_14 {
  background-position: -476px 0;
  height: 24px;
  width: 24px;
}
.basic-black_15 {
  background-position: -510px 0;
  height: 24px;
  width: 24px;
}
.basic-black_16 {
  background-position: -544px 0;
  height: 24px;
  width: 24px;
}
.basic-black_17 {
  background-position: -578px 0;
  height: 24px;
  width: 24px;
}
.basic-black_18 {
  background-position: -612px 0;
  height: 24px;
  width: 24px;
}
.basic-black_19 {
  background-position: -646px 0;
  height: 24px;
  width: 24px;
}
.basic-black_20 {
  background-position: -680px 0;
  height: 24px;
  width: 24px;
}
.basic-black_21 {
  background-position: -714px 0;
  height: 24px;
  width: 24px;
}
.basic-black_22 {
  background-position: -748px 0;
  height: 24px;
  width: 24px;
}
.basic-black_23 {
  background-position: -782px 0;
  height: 24px;
  width: 24px;
}
.basic-black_24 {
  background-position: -816px 0;
  height: 24px;
  width: 24px;
}
.basic-black_25 {
  background-position: -850px 0;
  height: 24px;
  width: 24px;
}
.basic-black_26 {
  background-position: -884px 0;
  height: 24px;
  width: 24px;
}
.basic-black_27 {
  background-position: -918px 0;
  height: 24px;
  width: 24px;
}
.basic-black_28 {
  background-position: -952px 0;
  height: 24px;
  width: 24px;
}
.basic-black_29 {
  background-position: -986px 0;
  height: 24px;
  width: 24px;
}
.basic-black_30 {
  background-position: -1020px 0;
  height: 24px;
  width: 24px;
}
.basic-black_31 {
  background-position: -1054px 0;
  height: 24px;
  width: 24px;
}
.basic-black_32 {
  background-position: -1088px 0;
  height: 24px;
  width: 24px;
}
.basic-black_33 {
  background-position: -1122px 0;
  height: 24px;
  width: 24px;
}
.basic-black_34 {
  background-position: -1156px 0;
  height: 24px;
  width: 24px;
}
.basic-black_35 {
  background-position: -1190px 0;
  height: 24px;
  width: 24px;
}
.basic-black_36 {
  background-position: -1224px 0;
  height: 24px;
  width: 24px;
}
.basic-black_37 {
  background-position: -1258px 0;
  height: 24px;
  width: 24px;
}
.basic-black_38 {
  background-position: -1292px 0;
  height: 24px;
  width: 24px;
}
.basic-black_39 {
  background-position: -1326px 0;
  height: 24px;
  width: 24px;
}
.basic-black_40 {
  background-position: -1360px 0;
  height: 24px;
  width: 24px;
}
.basic-black_41 {
  background-position: -1394px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_00 {
  background-position: -1428px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_01 {
  background-position: -1462px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_02 {
  background-position: -1496px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_03 {
  background-position: -1530px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_04 {
  background-position: -1564px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_05 {
  background-position: -1598px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_06 {
  background-position: -1632px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_07 {
  background-position: -1666px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_08 {
  background-position: -1700px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_09 {
  background-position: -1734px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_10 {
  background-position: -1768px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_11 {
  background-position: -1802px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_12 {
  background-position: -1836px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_13 {
  background-position: -1870px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_14 {
  background-position: -1904px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_15 {
  background-position: -1938px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_16 {
  background-position: -1972px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_17 {
  background-position: -2006px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_18 {
  background-position: -2040px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_19 {
  background-position: -2074px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_20 {
  background-position: -2108px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_21 {
  background-position: -2142px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_22 {
  background-position: -2176px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_23 {
  background-position: -2210px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_24 {
  background-position: -2244px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_25 {
  background-position: -2278px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_26 {
  background-position: -2312px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_27 {
  background-position: -2346px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_28 {
  background-position: -2380px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_29 {
  background-position: -2414px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_30 {
  background-position: -2448px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_31 {
  background-position: -2482px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_32 {
  background-position: -2516px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_33 {
  background-position: -2550px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_34 {
  background-position: -2584px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_35 {
  background-position: -2618px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_36 {
  background-position: -2652px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_37 {
  background-position: -2686px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_38 {
  background-position: -2720px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_39 {
  background-position: -2754px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_40 {
  background-position: -2788px 0;
  height: 24px;
  width: 24px;
}
.basic-blue_41 {
  background-position: -2822px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_00 {
  background-position: -2856px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_01 {
  background-position: -2890px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_02 {
  background-position: -2924px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_03 {
  background-position: -2958px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_04 {
  background-position: -2992px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_05 {
  background-position: -3026px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_06 {
  background-position: -3060px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_07 {
  background-position: -3094px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_08 {
  background-position: -3128px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_09 {
  background-position: -3162px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_10 {
  background-position: -3196px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_11 {
  background-position: -3230px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_12 {
  background-position: -3264px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_13 {
  background-position: -3298px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_14 {
  background-position: -3332px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_15 {
  background-position: -3366px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_16 {
  background-position: -3400px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_17 {
  background-position: -3434px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_18 {
  background-position: -3468px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_19 {
  background-position: -3502px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_20 {
  background-position: -3536px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_21 {
  background-position: -3570px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_22 {
  background-position: -3604px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_23 {
  background-position: -3638px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_24 {
  background-position: -3672px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_25 {
  background-position: -3706px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_26 {
  background-position: -3740px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_27 {
  background-position: -3774px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_28 {
  background-position: -3808px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_29 {
  background-position: -3842px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_30 {
  background-position: -3876px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_31 {
  background-position: -3910px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_32 {
  background-position: -3944px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_33 {
  background-position: -3978px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_34 {
  background-position: -4012px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_35 {
  background-position: -4046px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_36 {
  background-position: -4080px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_37 {
  background-position: -4114px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_38 {
  background-position: -4148px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_39 {
  background-position: -4182px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_40 {
  background-position: -4216px 0;
  height: 24px;
  width: 24px;
}
.basic-brown_41 {
  background-position: -4250px 0;
  height: 24px;
  width: 24px;
}
.basic-s-sprite,
.basic-s-black_00,
.basic-s-black_01,
.basic-s-black_02,
.basic-s-black_03,
.basic-s-black_04,
.basic-s-black_05,
.basic-s-black_06,
.basic-s-black_07,
.basic-s-black_08,
.basic-s-black_09,
.basic-s-black_10,
.basic-s-black_11,
.basic-s-black_12,
.basic-s-black_13,
.basic-s-black_14,
.basic-s-black_15,
.basic-s-black_16,
.basic-s-black_17,
.basic-s-black_18,
.basic-s-black_19,
.basic-s-black_20,
.basic-s-black_21,
.basic-s-black_22,
.basic-s-black_23,
.basic-s-black_24,
.basic-s-black_25,
.basic-s-black_26,
.basic-s-black_27,
.basic-s-black_28,
.basic-s-black_29,
.basic-s-black_30,
.basic-s-black_31,
.basic-s-black_32,
.basic-s-black_33,
.basic-s-black_34,
.basic-s-black_35,
.basic-s-black_36,
.basic-s-black_37,
.basic-s-black_38,
.basic-s-black_39,
.basic-s-black_40,
.basic-s-black_41,
.basic-s-blue_00,
.basic-s-blue_01,
.basic-s-blue_02,
.basic-s-blue_03,
.basic-s-blue_04,
.basic-s-blue_05,
.basic-s-blue_06,
.basic-s-blue_07,
.basic-s-blue_08,
.basic-s-blue_09,
.basic-s-blue_10,
.basic-s-blue_11,
.basic-s-blue_12,
.basic-s-blue_13,
.basic-s-blue_14,
.basic-s-blue_15,
.basic-s-blue_16,
.basic-s-blue_17,
.basic-s-blue_18,
.basic-s-blue_19,
.basic-s-blue_20,
.basic-s-blue_21,
.basic-s-blue_22,
.basic-s-blue_23,
.basic-s-blue_24,
.basic-s-blue_25,
.basic-s-blue_26,
.basic-s-blue_27,
.basic-s-blue_28,
.basic-s-blue_29,
.basic-s-blue_30,
.basic-s-blue_31,
.basic-s-blue_32,
.basic-s-blue_33,
.basic-s-blue_34,
.basic-s-blue_35,
.basic-s-blue_36,
.basic-s-blue_37,
.basic-s-blue_38,
.basic-s-blue_39,
.basic-s-blue_40,
.basic-s-blue_41,
.basic-s-blue_44,
.basic-s-brown_00,
.basic-s-brown_01,
.basic-s-brown_02,
.basic-s-brown_03,
.basic-s-brown_04,
.basic-s-brown_05,
.basic-s-brown_06,
.basic-s-brown_07,
.basic-s-brown_08,
.basic-s-brown_09,
.basic-s-brown_10,
.basic-s-brown_11,
.basic-s-brown_12,
.basic-s-brown_13,
.basic-s-brown_14,
.basic-s-brown_15,
.basic-s-brown_16,
.basic-s-brown_17,
.basic-s-brown_18,
.basic-s-brown_19,
.basic-s-brown_20,
.basic-s-brown_21,
.basic-s-brown_22,
.basic-s-brown_23,
.basic-s-brown_24,
.basic-s-brown_25,
.basic-s-brown_26,
.basic-s-brown_27,
.basic-s-brown_28,
.basic-s-brown_29,
.basic-s-brown_30,
.basic-s-brown_31,
.basic-s-brown_32,
.basic-s-brown_33,
.basic-s-brown_34,
.basic-s-brown_35,
.basic-s-brown_36,
.basic-s-brown_37,
.basic-s-brown_38,
.basic-s-brown_39,
.basic-s-brown_40,
.basic-s-brown_41 {
  background: url('../img/sprites/basic-s-scc08065416.png') no-repeat;
}
.basic-s-black_00 {
  background-position: 0 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_01 {
  background-position: -26px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_02 {
  background-position: -52px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_03 {
  background-position: -78px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_04 {
  background-position: -104px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_05 {
  background-position: -130px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_06 {
  background-position: -156px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_07 {
  background-position: -182px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_08 {
  background-position: -208px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_09 {
  background-position: -234px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_10 {
  background-position: -260px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_11 {
  background-position: -286px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_12 {
  background-position: -312px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_13 {
  background-position: -338px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_14 {
  background-position: -364px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_15 {
  background-position: -390px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_16 {
  background-position: -416px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_17 {
  background-position: -442px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_18 {
  background-position: -468px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_19 {
  background-position: -494px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_20 {
  background-position: -520px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_21 {
  background-position: -546px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_22 {
  background-position: -572px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_23 {
  background-position: -598px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_24 {
  background-position: -624px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_25 {
  background-position: -650px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_26 {
  background-position: -676px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_27 {
  background-position: -702px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_28 {
  background-position: -728px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_29 {
  background-position: -754px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_30 {
  background-position: -780px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_31 {
  background-position: -806px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_32 {
  background-position: -832px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_33 {
  background-position: -858px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_34 {
  background-position: -884px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_35 {
  background-position: -910px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_36 {
  background-position: -936px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_37 {
  background-position: -962px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_38 {
  background-position: -988px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_39 {
  background-position: -1014px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_40 {
  background-position: -1040px 0;
  height: 16px;
  width: 16px;
}
.basic-s-black_41 {
  background-position: -1066px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_00 {
  background-position: -1092px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_01 {
  background-position: -1118px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_02 {
  background-position: -1144px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_03 {
  background-position: -1170px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_04 {
  background-position: -1196px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_05 {
  background-position: -1222px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_06 {
  background-position: -1248px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_07 {
  background-position: -1274px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_08 {
  background-position: -1300px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_09 {
  background-position: -1326px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_10 {
  background-position: -1352px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_11 {
  background-position: -1378px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_12 {
  background-position: -1404px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_13 {
  background-position: -1430px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_14 {
  background-position: -1456px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_15 {
  background-position: -1482px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_16 {
  background-position: -1508px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_17 {
  background-position: -1534px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_18 {
  background-position: -1560px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_19 {
  background-position: -1586px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_20 {
  background-position: -1612px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_21 {
  background-position: -1638px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_22 {
  background-position: -1664px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_23 {
  background-position: -1690px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_24 {
  background-position: -1716px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_25 {
  background-position: -1742px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_26 {
  background-position: -1768px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_27 {
  background-position: -1794px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_28 {
  background-position: -1820px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_29 {
  background-position: -1846px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_30 {
  background-position: -1872px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_31 {
  background-position: -1898px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_32 {
  background-position: -1924px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_33 {
  background-position: -1950px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_34 {
  background-position: -1976px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_35 {
  background-position: -2002px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_36 {
  background-position: -2028px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_37 {
  background-position: -2054px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_38 {
  background-position: -2080px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_39 {
  background-position: -2106px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_40 {
  background-position: -2132px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_41 {
  background-position: -2158px 0;
  height: 16px;
  width: 16px;
}
.basic-s-blue_44 {
  background-position: -2184px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_00 {
  background-position: -2210px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_01 {
  background-position: -2236px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_02 {
  background-position: -2262px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_03 {
  background-position: -2288px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_04 {
  background-position: -2314px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_05 {
  background-position: -2340px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_06 {
  background-position: -2366px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_07 {
  background-position: -2392px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_08 {
  background-position: -2418px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_09 {
  background-position: -2444px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_10 {
  background-position: -2470px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_11 {
  background-position: -2496px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_12 {
  background-position: -2522px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_13 {
  background-position: -2548px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_14 {
  background-position: -2574px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_15 {
  background-position: -2600px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_16 {
  background-position: -2626px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_17 {
  background-position: -2652px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_18 {
  background-position: -2678px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_19 {
  background-position: -2704px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_20 {
  background-position: -2730px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_21 {
  background-position: -2756px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_22 {
  background-position: -2782px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_23 {
  background-position: -2808px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_24 {
  background-position: -2834px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_25 {
  background-position: -2860px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_26 {
  background-position: -2886px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_27 {
  background-position: -2912px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_28 {
  background-position: -2938px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_29 {
  background-position: -2964px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_30 {
  background-position: -2990px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_31 {
  background-position: -3016px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_32 {
  background-position: -3042px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_33 {
  background-position: -3068px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_34 {
  background-position: -3094px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_35 {
  background-position: -3120px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_36 {
  background-position: -3146px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_37 {
  background-position: -3172px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_38 {
  background-position: -3198px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_39 {
  background-position: -3224px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_40 {
  background-position: -3250px 0;
  height: 16px;
  width: 16px;
}
.basic-s-brown_41 {
  background-position: -3276px 0;
  height: 16px;
  width: 16px;
}
.custom-sprite,
.custom-black_43,
.custom-black_44,
.custom-blue_11,
.custom-blue_27,
.custom-blue_28,
.custom-blue_42,
.custom-blue_45,
.custom-blue_51,
.custom-blue_52,
.custom-blue_53,
.custom-blue_54,
.custom-blue_64,
.custom-brown_42,
.custom-brown_43,
.custom-brown_44,
.custom-brown_45,
.custom-brown_46,
.custom-brown_47,
.custom-brown_48,
.custom-brown_49,
.custom-brown_50,
.custom-brown_55,
.custom-brown_56,
.custom-brown_62,
.custom-gray_59,
.custom-gray_60,
.custom-gray_61,
.custom-white_55,
.custom-white_56,
.custom-white_57,
.custom-white_58,
.custom-white_63 {
  background: url('../img/sprites/custom-sd59cab5b49.png') no-repeat;
}
.custom-black_43 {
  background-position: 0 0;
  height: 18px;
  width: 26px;
}
.custom-black_44 {
  background-position: -36px 0;
  height: 25px;
  width: 25px;
}
.custom-blue_11 {
  background-position: -71px 0;
  height: 21px;
  width: 17px;
}
.custom-blue_27 {
  background-position: -98px 0;
  height: 26px;
  width: 33px;
}
.custom-blue_28 {
  background-position: -141px 0;
  height: 18px;
  width: 18px;
}
.custom-blue_42 {
  background-position: -169px 0;
  height: 21px;
  width: 20px;
}
.custom-blue_45 {
  background-position: -199px 0;
  height: 19px;
  width: 21px;
}
.custom-blue_51 {
  background-position: -230px 0;
  height: 20px;
  width: 20px;
}
.custom-blue_52 {
  background-position: -260px 0;
  height: 13px;
  width: 16px;
}
.custom-blue_53 {
  background-position: -286px 0;
  height: 13px;
  width: 13px;
}
.custom-blue_54 {
  background-position: -309px 0;
  height: 16px;
  width: 16px;
}
.custom-blue_64 {
  background-position: -335px 0;
  height: 13px;
  width: 14px;
}
.custom-brown_42 {
  background-position: -359px 0;
  height: 21px;
  width: 20px;
}
.custom-brown_43 {
  background-position: -389px 0;
  height: 19px;
  width: 19px;
}
.custom-brown_44 {
  background-position: -418px 0;
  height: 20px;
  width: 22px;
}
.custom-brown_45 {
  background-position: -450px 0;
  height: 19px;
  width: 21px;
}
.custom-brown_46 {
  background-position: -481px 0;
  height: 17px;
  width: 11px;
}
.custom-brown_47 {
  background-position: -502px 0;
  height: 17px;
  width: 11px;
}
.custom-brown_48 {
  background-position: -523px 0;
  height: 18px;
  width: 14px;
}
.custom-brown_49 {
  background-position: -547px 0;
  height: 19px;
  width: 22px;
}
.custom-brown_50 {
  background-position: -579px 0;
  height: 18px;
  width: 30px;
}
.custom-brown_55 {
  background-position: -619px 0;
  height: 17px;
  width: 14px;
}
.custom-brown_56 {
  background-position: -643px 0;
  height: 17px;
  width: 18px;
}
.custom-brown_62 {
  background-position: -671px 0;
  height: 21px;
  width: 19px;
}
.custom-gray_59 {
  background-position: -700px 0;
  height: 16px;
  width: 15px;
}
.custom-gray_60 {
  background-position: -725px 0;
  height: 18px;
  width: 16px;
}
.custom-gray_61 {
  background-position: -751px 0;
  height: 8px;
  width: 12px;
}
.custom-white_55 {
  background-position: -773px 0;
  height: 17px;
  width: 14px;
}
.custom-white_56 {
  background-position: -797px 0;
  height: 26px;
  width: 27px;
}
.custom-white_57 {
  background-position: -834px 0;
  height: 20px;
  width: 20px;
}
.custom-white_58 {
  background-position: -864px 0;
  height: 20px;
  width: 20px;
}
.custom-white_63 {
  background-position: -894px 0;
  height: 11px;
  width: 14px;
}
[class^="basic-"],
[class^="custom-"] {
  display: inline-block;
  vertical-align: middle;
}
/*
#Boutons
*/
/*
Default : `border-radius: 4px + backgound-image`, HTML could be `<a>, <span>,input, button, div`<br>
>`<div class="btn">Default btn</div>`<br>
>`<a href="#" title="" class="btn">Text btn</a>`<br>
>`<span class="btn">Text btn</span>`<br>
>`<button class="btn primary2 square">primary2 Square btn</button>`<br>
>`<input class="btn primary2" value="I'am a input" />`<br>

	<div class="btn">btn default</div>	
*/
.btn {
  position: relative;
  overflow: hidden;
  *overflow: visible;
  border: 0;
  font-family: 'Gotham Bold', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff !important;
  line-height: 20px;
}
.btn:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: -40%;
  width: 100%;
  height: 100%;
  background: url("../img/common/btn_opacity.png") no-repeat;
}
.btn:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px -1px 0 #a6a6a6;
}
.btn.square {
  background-image: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn.square:after {
  content: none;
}
.btn.primary {
  background-color: #00b9e4;
}
.btn.primary2 {
  background-color: #47d5cd;
}
.btn.secondary3 {
  background-color: #b0b1a6;
}
.btn.composed {
  *zoom: 1;
  text-align: left;
}
.btn.composed:before,
.btn.composed:after {
  display: table;
  content: "";
  line-height: 0;
}
.btn.composed:after {
  clear: both;
}
.btn.composed i {
  float: left;
  margin-right: 7px;
}
.btn.composed span {
  float: left;
}
.btn.block {
  display: block;
}
label.btn {
  *padding: 8px 0 7px;
}
label.btn input,
label.btn .btn {
  padding: 0;
  *line-height: 1em;
  background: none !important;
}
label.btn input:hover,
label.btn .btn:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.paginate {
  *zoom: 1;
}
.paginate:before,
.paginate:after {
  display: table;
  content: "";
  line-height: 0;
}
.paginate:after {
  clear: both;
}
.paginate ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.paginate ul li {
  display: inline-block;
}
.paginate ul li,
.paginate ul li a {
  color: #8b8178;
}
.paginate ul li a {
  padding: 5px;
}
.paginate ul li a:hover {
  text-decoration: none;
  color: #00b9e4;
}
.paginate ul li.active a {
  background-color: #00b9e4;
  color: #ffffff;
}
.edito {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #ffffff;
}
.edito > h2 {
  position: relative;
  margin: 0;
  color: #b0b1a6;
  font-size: 18px;
}
.edito > h2 span {
  position: absolute;
  right: 0;
  top: 0;
}
.edito .media {
  margin-top: 10px;
}
.highlight {
  background-color: #ffffff;
  padding: 5px 15px;
  margin-bottom: 15px;
  border: 1px solid #eaeaea;
}
.highlight .countdown {
  color: #391909;
  text-align: center;
}
.highlight .countdown > * {
  display: inline-block;
}
.highlight .countdown > strong {
  margin-right: 8px;
}
.highlight .countdown .timer {
  margin: 4px 0;
  padding: 5px 10px;
}
.highlight .countdown .timer span {
  color: #47d5cd;
  font-size: 16px;
}
.star-rating {
  margin: 0 auto 8px;
  width: 90px;
  *zoom: 1;
}
.star-rating:before,
.star-rating:after {
  display: table;
  content: "";
  line-height: 0;
}
.star-rating:after {
  clear: both;
}
.star-rating li {
  float: left;
  display: block;
  margin: 0;
  list-style: none;
}
.star-rating li span {
  display: block;
  padding: 0 2px;
  width: 14px;
  height: 18px;
  text-indent: -9999px;
  cursor: default;
  overflow: hidden;
  background: url("../img/common/stars.gif") no-repeat;
}
.star-rating li.active span {
  background-position: 0 -32px;
}
.star-rating.ratable span {
  cursor: pointer;
}
.star-rating.ratable li:hover span {
  background-position: 0 -32px;
}
.action-rating > p {
  padding-left: 10px;
  color: #8b8178;
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  font-style: italic;
}
.action-rating .yours span {
  color: #00b9e4;
  font-size: 16px;
}
.action-rating .yours span i {
  vertical-align: top;
}
.action-rating .btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.comment-form form {
  margin: 0;
}
.comment-form form .btn {
  float: right;
}
.comment-form form textarea,
.comment-form form input,
.comment-form form .btn {
  vertical-align: top;
}
.comment-form form textarea {
  float: left;
  height: 14px;
  padding: 8px 6px;
  resize: vertical;
}
.comment-form .media-body {
  padding: 10px 10px 0;
  *padding-bottom: 10px;
}
.comment-form .media-body.bg {
  background-color: #f2f2f2;
}
.comment-form .picture_field {
  display: none;
}
.comment-form.form-comment form textarea {
  width: 385px;
  *width: 379px;
}
.comment-form.form-comment form input.btn {
  *padding: 0;
  *height: 32px;
}
.comment-form.form-share form textarea {
  width: 78%;
}
.comment-form.form-share .file_path {
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
  font-style: italic;
  vertical-align: middle;
}
.comment-form .upload-status {
  clear: both;
}
.comment-form .upload-icon {
  *zoom: 1;
  margin-top: 2px;
  *margin-top: 10px;
  cursor: pointer;
}
.comment-form .upload-icon:before,
.comment-form .upload-icon:after {
  display: table;
  content: "";
  line-height: 0;
}
.comment-form .upload-icon:after {
  clear: both;
}
.comment-form .upload-icon,
.comment-form .upload-icon .add_picture,
.comment-form .upload-icon span {
  display: inline-block;
}
.comment-form .upload-icon .add_picture {
  background: url('../img/sprites/custom-sd59cab5b49.png') no-repeat;
  background-position: -335px 0;
  height: 13px;
  width: 14px;
  font-size: 12px;
  float: left;
}
.comment-form .upload-icon span {
  float: left;
  margin-left: 5px;
  vertical-align: top;
  line-height: 14px;
  color: #00b9e4;
}
#embed-loading {
  display: none;
  text-align: center;
}
#embed-preview .img-preview {
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
}
#embed-preview .content-preview {
  display: inline-block;
  width: 400px;
  text-align: justify;
  padding-left: 10px;
}
#embed-preview .content-preview p.title-preview {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
}
#embed-preview .content-preview p.description-preview {
  font-size: 11px;
}
.experimentation {
  *zoom: 1;
  position: relative;
  margin: 15px 0;
}
.experimentation:before,
.experimentation:after {
  display: table;
  content: "";
  line-height: 0;
}
.experimentation:after {
  clear: both;
}
.experimentation .table {
  float: left;
  width: 60%;
  margin: 0 !important;
}
.experimentation .table thead th {
  background-color: #b0b1a6;
  color: #ffffff;
  text-transform: uppercase;
}
.experimentation .table td {
  padding: 8px 10px 0;
  line-height: 20px;
  border-top: 0;
  width: 45%;
}
.experimentation .table td.edit {
  width: 10%;
}
.experimentation .btn.primary2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.experimentation-options {
  margin: 15px 0 25px;
}
.experimentation-options > hr {
  margin: 15px 0 !important;
}
.experimentation-options > div > div > a {
  display: block;
  padding-top: 20px;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}
.experimentation-options > div > div > a i {
  height: 19px;
}
.experimentation-options > div > div > a:hover > span {
  color: #391909;
}
.experimentation-options > div > div > a > span {
  display: block;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #b0b1a6;
  color: #ffffff;
  text-transform: uppercase;
}
.multi-steps {
  *zoom: 1;
  margin: 15px 0;
}
.multi-steps:before,
.multi-steps:after {
  display: table;
  content: "";
  line-height: 0;
}
.multi-steps:after {
  clear: both;
}
.multi-steps .step {
  background-color: #ffffff;
  float: left;
  width: 155px;
}
.multi-steps .step.last {
  background-color: #f2f2f2;
}
.multi-steps .step.current a,
.multi-steps .step.validated a {
  background-color: #b0b1a6;
  color: #ffffff;
  cursor: default;
}
.multi-steps .step.current a .step-nb,
.multi-steps .step.validated a .step-nb {
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.multi-steps .step.current a:before,
.multi-steps .step.validated a:before {
  border-left-color: transparent;
}
.multi-steps .step.current a:after,
.multi-steps .step.validated a:after {
  border-left-color: #b0b1a6;
}
.multi-steps .step.current a:hover .step-nb {
  color: #8b8178;
}
.multi-steps .step.validated {
  background-color: #b0b1a6;
}
.multi-steps .step.validated a .step-nb {
  color: #47d5cd;
}
.multi-steps .step.validated a:before {
  border-left-color: #ffffff;
}
.multi-steps a {
  display: block;
  float: none;
  position: relative;
  padding: 15px 10px 5px 0;
  width: 78%;
  height: 34px;
  *padding-right: 30px;
  *width: 125px;
  background-color: #ffffff;
  line-height: 23px;
  color: #8b8178;
  text-align: right;
  text-decoration: none;
}
.multi-steps a span {
  display: inline-block;
  float: right;
}
.multi-steps a .step-nb {
  width: 22px;
  height: 22px;
  margin-left: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 21px;
  border: 1px solid #b0b1a6;
  color: #8b8178;
}
.multi-steps a:hover .step-nb {
  background-color: #b0b1a6;
  color: #ffffff;
}
.multi-steps a:before,
.multi-steps a:after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 0;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}
.multi-steps a:before {
  top: -5px;
  right: -26px;
  border-width: 32px 0 32px 26px;
  border-left-color: #f2f2f2;
}
.multi-steps a:after {
  right: -23px;
  z-index: 10;
  border-width: 27px 0 27px 23px;
  border-left-color: #ffffff;
}
.search form,
.search .form {
  margin: 0;
  position: relative;
}
.search form label,
.search .form label {
  display: inline-block;
  position: absolute;
  right: 11px;
  top: 7px;
  margin: 0;
}
.search .search-input {
  margin: 0;
  border: 1px solid #9a9a9a;
}
.resources input[type="text"] {
  margin: 0 10px 10px;
  width: 189px;
}
.wrap-col {
  margin: 0 0 0 -2%;
  *zoom: 1;
}
.wrap-col:before,
.wrap-col:after {
  display: table;
  content: "";
  line-height: 0;
}
.wrap-col:after {
  clear: both;
}
.col6,
.col4,
.col3 {
  float: left;
  margin: 10px 0 0 2%;
}
.col6 {
  width: 48%;
}
.col3 {
  width: 23%;
}
.col4 {
  width: 31.3333%;
}
#flashes-container .alert:last-child {
  margin-bottom: 30px;
}
#live-flashes-container {
  z-index: 1500;
}
ul.alert {
  list-style: none;
  margin: 0;
}
.modal > form {
  margin: 0;
}
#share-modal .search-input {
  width: 86%;
}
#share-modal .search-form {
  padding: 5px 0;
}
#share-modal .share-btn {
  margin-top: 15px !important;
  position: absolute;
  bottom: 10px;
  right: 36px;
  left: 36px;
}
#share-modal .share-btn > i {
  margin-top: 4px;
}
#share-modal .role {
  padding-right: 0;
}
.dropcab-group {
  clear: both;
  margin-top: 30px;
}
.dropcab-group .dropcab {
  color: #8b8178;
  font-size: 26px;
  line-height: 35px;
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: 1px solid #8b8178;
}
.alpha-sort {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  background-color: #8b8178;
  padding: 7px 15px;
  color: #ffffff;
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
#filter {
  position: relative;
  z-index: 1000;
}
#filter .sort-tab {
  *zoom: 1;
  display: none;
  position: absolute;
  top: 0;
  left: -2px;
  padding: 3px 3px 0px 0;
  width: 476px;
  height: 56px;
  background-color: #b0b1a6;
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#filter .sort-tab:before,
#filter .sort-tab:after {
  display: table;
  content: "";
  line-height: 0;
}
#filter .sort-tab:after {
  clear: both;
}
#filter .sort-tab .letter {
  display: block;
  width: 21px;
  height: 15px;
  float: left;
  padding: 5px;
  margin: 0 0 3px 3px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */
}
#filter .sort-tab .letter:hover {
  text-decoration: none;
}
#filter .sort-tab .letter.disabled {
  color: #b0b1a6;
  cursor: default;
}
#feeds {
  margin-top: 0;
}
#feeds .load-more {
  text-align: center;
}
#feeds .load-more a {
  display: block;
  padding: 10px 0;
  margin: 10px 0;
}
#feeds .load-more a:hover {
  background: #CCC;
  text-decoration: none;
}
.cameleon_feed {
  margin: 20px 0 0 0;
  padding: 0 0 20px 0;
}
.cameleon_feed:last-child {
  border: 0;
}
.cameleon_feed .context {
  font-size: 80%;
}
.cameleon_feed .context:before {
  content: " - ";
}
.cameleon_feed .feed-floating p {
  margin: 0 0 10px;
}
.cameleon_feed a {
  color: #391909;
}
.cameleon_feed a.primary {
  color: #00b9e4;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_close {
  float: right;
  display: inline-block;
  padding-left: 4px;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_edit {
  float: right;
  display: inline-block;
  padding-left: 4px;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  float: left;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_title {
  display: inline-block;
  max-width: 465px;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_title a {
  color: #00b9e4;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_title a span {
  font-weight: bold;
  color: #391909;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_title a:hover,
.cameleon_feed .cameleon_feed_content .cameleon_feed_title a:hover span {
  color: #391909;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_time {
  float: right;
  display: inline-block;
  font-size: 11px;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_text {
  margin-top: 12px;
  margin-bottom: 10px;
  color: #8b8178;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_text p.post-content a:hover {
  color: #391909;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_text .loader {
  display: none;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_text .iframe-content-preview {
  display: block;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_text .iframe-content-preview .img-preview {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_text .iframe-content-preview .content-preview {
  display: inline-block;
  width: 420px;
  margin-left: 10px;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_text .iframe-content-preview .content-preview .title-preview {
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_text .embeded-content-preview .embeded-img {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_text .embeded-content-preview .embeded-content {
  display: inline-block;
  width: 420px;
  margin-left: 10px;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_text .embeded-content-preview .embeded-content a {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.cameleon_feed .cameleon_feed_content .cameleon_feed_text .embeded-content-preview .embeded-content .embeded-title {
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}
.cameleon_feed .action_comment,
.cameleon_feed .action_like,
.cameleon_feed .action_rating {
  display: inline-block;
  margin-left: 20px;
}
.cameleon_feed .comments .comment {
  background-color: #f2f2f2;
  margin-bottom: 10px;
  padding: 8px;
}
.cameleon_feed .comments .comment .text {
  margin-bottom: 5px;
  display: inline-block;
  width: 476px;
}
.cameleon_feed .comments .comment .text .title {
  font-weight: bold;
}
.cameleon_feed .comments .comment .avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  float: left;
}
.cameleon_feed .comments .comment .male {
  background: url("../img/common/user/1/s.jpg");
}
.cameleon_feed .comments .comment .female {
  background: url("../img/common/user/2/s.jpg");
}
.cameleon_feed .comments .comment .action_like {
  margin-left: 40px;
}
.cameleon_feed .comments .comment .time {
  float: right;
  display: inline-block;
}
.user-list > .title {
  font-size: 16px;
}
.user-list > .row-fluid {
  margin: 15px 0;
}
.user-list .user {
  position: relative;
  padding: 5px;
  background-color: #f2f2f2;
  height: 60px;
}
.user-list .user.selected {
  background-color: #00b9e4;
}
.user-list .user.selected,
.user-list .user.selected a,
.user-list .user.selected .role {
  color: #FFF !important;
}
.user-list .user .name {
  padding-right: 28px;
}
.user-list .user .name a {
  font-size: 14px;
}
.user-list .user .name a span {
  text-transform: none;
  display: block;
  line-height: 15px;
}
.user-list .user .name a span.uppercase {
  text-transform: uppercase !important;
}
.user-list .user .media-body > div {
  margin-top: 6px;
}
.user-list .user .media-body > div:first-child {
  margin: 0;
}
.user-list .user .media-body .role {
  padding-right: 22px;
  color: #8b8178;
}
.user-list .user .media-body > a.pull-right {
  position: absolute;
  right: 3px;
  bottom: 3px;
}
.user-list .user .media-body > a.pull-right:hover .sprite-add-member {
  background-position: -165px -64px;
}
.user-list .user .media-body > a.pull-right.message {
  top: 8px;
  right: 8px;
}
.group-list .group {
  position: relative;
  *z-index: 0;
}
.group-list .group .close {
  opacity: 1;
  filter: alpha(opacity=100);
  margin-top: -2px;
  position: absolute;
  top: 10px;
  right: 5px;
}
.group-list .group .close .caret {
  margin: 7px 0 0;
}
.group-list .group .name,
.group-list .group .info,
.group-list .group .description {
  padding: 10px;
}
.group-list .group .description {
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  line-height: 13px;
}
.group-list .group .name {
  padding-right: 15px;
  height: 14px;
  overflow: hidden;
  background-color: #00b9e4;
  position: relative;
}
.group-list .group .name a {
  display: block;
  height: 14px;
  overflow: hidden;
  width: 96%;
  color: #ffffff;
}
.group-list .group .info-wrapper {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 34px;
  z-index: 1000;
  background-color: #f2f2f2;
  border: 1px solid #ffffff;
  border-top: 0;
}
.one-social {
  clear: both;
}
.one-social > ul {
  *zoom: 1;
  margin: 0;
  padding: 10px 0;
  list-style: none;
}
.one-social > ul:before,
.one-social > ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.one-social > ul:after {
  clear: both;
}
.one-social > ul a {
  color: #391909;
  font-size: 11px;
  vertical-align: top;
}
.one-social > ul li {
  float: left;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin: 0 10px 0 0;
}
.one-social > ul li i {
  margin: 0 5px 0 0;
}
.one-social > ul li.report-abuse {
  float: right;
  margin: 0;
}
.one-social > ul li.report-abuse a {
  color: #00b9e4;
}
.one-social > ul li.unlike > a i {
  background: url('../img/sprites/custom-sd59cab5b49.png') no-repeat;
  background-position: -199px 0;
  height: 19px;
  width: 21px;
}
.unlike,
.unlike a,
.unlike span {
  color: #00b9e4;
}
.unlike > a i {
  background: url('../img/sprites/custom-sd59cab5b49.png') no-repeat;
  background-position: -260px 0;
  height: 13px;
  width: 16px;
}
.one-experimentation-on-a-list .one-social,
.one-innovation-on-a-list .one-social,
.one-idea .one-social {
  margin-left: 100px;
}
.comments-container {
  display: none;
}
.one-list-of-comments {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}
.one-list-of-comments .one-comment-on-a-list {
  padding: 10px;
  margin: 0 0 10px;
  position: relative;
  float: none;
}
.one-list-of-comments .one-comment-on-a-list .comment-text {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #8b8178;
}
.one-list-of-comments .one-comment-on-a-list .comment-infos {
  *zoom: 1;
  margin: 8px 0 0;
}
.one-list-of-comments .one-comment-on-a-list .comment-infos:before,
.one-list-of-comments .one-comment-on-a-list .comment-infos:after {
  display: table;
  content: "";
  line-height: 0;
}
.one-list-of-comments .one-comment-on-a-list .comment-infos:after {
  clear: both;
}
.one-list-of-comments .one-comment-on-a-list .comment-infos .sprite-like-small {
  margin-right: 5px;
}
.one-list-of-comments .one-comment-on-a-list .timeago {
  font-size: 11px;
}
.one-list-of-comments .one-comment-on-a-list .close,
.one-list-of-comments .one-comment-on-a-list .edit {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 13px;
  color: #391909;
  opacity: 1;
  filter: alpha(opacity=100);
}
.one-list-of-comments .one-comment-on-a-list .close:hover,
.one-list-of-comments .one-comment-on-a-list .edit:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.one-list-of-comments .one-comment-on-a-list .edit {
  right: 25px;
}
.one-idea {
  background-color: #ffffff;
}
.one-idea .one-social,
.one-idea .one-list-of-comments {
  margin: 0;
  padding: 0;
}
.one-idea .one-social {
  border-top: 1px solid #d7d4d4;
  padding: 5px 0;
}
.one-idea .comments-container {
  padding-left: 0;
  border-top: 1px solid #d7d4d4;
}
.one-idea .comments-container .comments,
.one-idea .comments-container .comment-form,
.one-idea .comments-container .comment-form .media-body,
.one-idea .comments-container .one-list-of-comments .one-comment-on-a-list {
  background-color: #ffffff;
}
.one-idea .comments-container .comment-form {
  padding: 10px;
  border-top: 1px solid #d7d4d4;
}
.one-idea .comments-container .comment-form .media-body {
  padding: 0;
}
.one-idea .comments-container .comment-form .media-body textarea {
  width: 274px;
}
.one-idea .comments-container .comment-form .media-body .upload-icon {
  margin-bottom: 0;
}
.one-idea .heading .date {
  display: inline-block;
  margin: 8px 0 0 10px;
}
.one-idea > .media {
  margin-top: 5px;
}
.one-idea hr {
  width: 100%;
  height: 1px;
  margin: 5px 0;
  border: 0;
  background-color: #d7d4d4;
}
.one-idea:first-child {
  border: 0;
}
.one-idea .bloc {
  margin: 10px 0;
  padding: 5px;
}
.one-idea .media > .first-col {
  width: 141px;
  float: left;
  margin-right: 10px;
}
.one-idea .media > .first-col > .bloc.media-object {
  padding: 0;
}
.one-idea .media > .first-col a {
  display: block;
  margin-bottom: 10px;
}
.one-idea .description {
  width: 100%;
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 16px;
  min-height: 137px;
}
.one-idea .name a,
.one-idea .name a span {
  color: #00b9e4;
}
.one-idea .name a:hover,
.one-idea .name a span:hover {
  color: #00b9e4;
}
.one-idea .media-body > .description {
  padding: 0;
}
.one-idea .media-body > .description.full-description {
  float: none;
  width: auto;
}
.one-idea .media-body > .description.full-description > p {
  height: auto;
}
.one-idea .media-body .actions .btn {
  margin: 20px 0 0 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.one-idea .media-body .actions .action-rating {
  display: inline-block;
  padding: 10px 5px 10px 10px;
}
.one-idea .one-user-on-a-list .name {
  width: 76%;
  float: left;
}
.idea-all .one-idea,
.innovation-all .one-idea {
  padding: 15px;
}
.idea-all > hr,
.innovation-all > hr {
  border-bottom: 0;
  border-top: 1px solid #f2f2f2;
  margin: 7.5px 0;
}
.idea-all .one-idea .extented-label {
  display: none;
}
.message-list .media-object {
  float: left;
  margin-right: 10px;
}
.message-list .media-body > p {
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.message-list .media-body .media-heading {
  *zoom: 1;
  position: relative;
}
.message-list .media-body .media-heading:before,
.message-list .media-body .media-heading:after {
  display: table;
  content: "";
  line-height: 0;
}
.message-list .media-body .media-heading:after {
  clear: both;
}
.message-list .media-body .media-heading h3 {
  margin: 0 0 10px;
  display: inline-block;
  float: left;
}
.message-list .media-body .media-heading .time-ago {
  margin-left: 10px;
  float: left;
  line-height: 20px;
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.message-list .media-body .media-heading > a {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.message-list .media-body .media-heading > a:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.document-list .document {
  *zoom: 1;
  position: relative;
  background-color: #ffffff;
  padding: 10px;
  margin: 15px 0;
}
.document-list .document:before,
.document-list .document:after {
  display: table;
  content: "";
  line-height: 0;
}
.document-list .document:after {
  clear: both;
}
.document-list .document .doc-left,
.document-list .document .doc-right,
.document-list .document .media-object {
  float: left;
}
.document-list .document .doc-left {
  width: 80%;
}
.document-list .document .doc-right {
  width: 20%;
  height: 100%;
  text-align: right;
}
.document-list .document .media-object {
  margin-right: 15px;
}
.document-list .document .media-body {
  padding-top: 5px;
}
.document-list .document .doc-name,
.document-list .document .doc-download {
  font-size: 14px;
}
.document-list .document .doc-desc {
  padding: 5px;
  background-color: #f2f2f2;
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.document-list .document .doc-download {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.document-list .document .doc-download a {
  color: #391909;
  *margin-left: 5px;
}
.document-list .document .close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.milestone-list .milestone {
  *zoom: 1;
  background-color: #ffffff;
  padding: 10px;
  margin: 15px 0;
}
.milestone-list .milestone:before,
.milestone-list .milestone:after {
  display: table;
  content: "";
  line-height: 0;
}
.milestone-list .milestone:after {
  clear: both;
}
.milestone-list .milestone .milestone-left,
.milestone-list .milestone .milestone-right {
  float: left;
}
.milestone-list .milestone .milestone-left {
  width: 70%;
}
.milestone-list .milestone .milestone-left a {
  color: #391909;
}
.milestone-list .milestone .milestone-right {
  width: 30%;
}
.milestone-list .milestone .progress {
  margin-bottom: 0;
}
.one-experimentation-on-a-list {
  *zoom: 1;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #927e73;
}
.one-experimentation-on-a-list:before,
.one-experimentation-on-a-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.one-experimentation-on-a-list:after {
  clear: both;
}
.one-experimentation-on-a-list:last-child {
  border: 0;
}
.one-experimentation-on-a-list .picture {
  float: left;
  border: 1px solid #f2f2f2;
}
.one-experimentation-on-a-list .excerpt {
  float: left;
  width: 350px;
  height: auto;
  background-color: #f2f2f2;
  margin: 0 5px;
  padding: 5px;
  min-height: 90px;
}
.one-experimentation-on-a-list .excerpt h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  color: #391909;
  margin: 0 0 5px;
}
.one-experimentation-on-a-list .excerpt > p {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}
.one-experimentation-on-a-list .excerpt .read-more {
  text-align: right;
  display: block;
}
.one-experimentation-on-a-list .btn-blue {
  float: right;
  margin-top: 30px;
  padding: 10px;
}
.progression {
  float: right;
  text-align: right;
  width: 150px;
}
.progression span {
  font-size: 11px;
}
.progression span.not-started {
  text-align: center;
  color: #391909;
}
.progression .closed {
  text-align: center !important;
}
.mg-wrap .category-all {
  text-align: right;
  padding: 15px 0 0;
}
.mg-wrap span {
  margin-bottom: 10px;
  display: block;
}
.mg-wrap .ms-ctn {
  margin-bottom: 10px;
}
.mg-wrap .ms-sel-ctn .ms-sel-item {
  float: left;
  background: #b0b1a6;
  color: #FFF;
}
.mg-wrap .ms-sel-item ._cb {
  display: none;
}
.mg-wrap .ms-res-item .team-user-wrap {
  *zoom: 1;
}
.mg-wrap .ms-res-item .team-user-wrap:before,
.mg-wrap .ms-res-item .team-user-wrap:after {
  display: table;
  content: "";
  line-height: 0;
}
.mg-wrap .ms-res-item .team-user-wrap:after {
  clear: both;
}
.mg-wrap .ms-res-item ._cb {
  clear: both;
}
.mg-wrap .ms-sel-item img,
.mg-wrap .ms-res-item img {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.mg-wrap .ms-sel-item .res-content,
.mg-wrap .ms-res-item .res-content {
  overflow: hidden;
  padding-right: 10px;
}
.mg-wrap .ms-sel-item .res-content .res-name,
.mg-wrap .ms-res-item .res-content .res-name {
  padding-top: 4px;
  font-style: bold;
  color: #000000;
}
.mg-wrap .ms-sel-item .res-content .res-desc,
.mg-wrap .ms-res-item .res-content .res-desc {
  color: #000000;
  font-size: 80%;
}
.mg-wrap .ms-sel-item {
  position: relative;
}
.mg-wrap .ms-sel-item .team-user-wrap {
  padding: 5px;
  width: 234px;
}
.mg-wrap .ms-sel-item img {
  margin-bottom: 5px;
}
.mg-wrap .ms-ctn {
  border: 0;
}
.mg-wrap .ms-ctn .ms-trigger,
.mg-wrap .ms-ctn .ms-trigger:hover {
  width: 28px;
  height: 28px;
  background: #00b9e4;
}
.mg-wrap .ms-ctn .ms-trigger-ico {
  position: absolute;
  display: block;
  top: 12px;
  right: 8px;
  margin: 0;
  padding: 0;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.mg-wrap .ms-ctn input {
  border: 0;
  margin: 0;
  padding: 9px 6px 6px;
}
.mg-wrap .ms-ctn-bootstrap-focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.mg-wrap .ms-res-ctn .ms-res-item-active {
  background: #b0b1a6;
}
.team-wrap .mg-wrap .ms-sel-item .ms-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0;
}
.idea-new > .bloc {
  color: #8b8178;
}
.idea-new > form > .bloc {
  margin-top: 0;
}
.idea-show .one-idea .author.bloc {
  margin-bottom: 0;
  padding-bottom: 0;
}
.idea-show .one-idea > .actions {
  padding-bottom: 15px;
}
.idea-show .one-idea .actions .first-col {
  padding-top: 20px;
}
.idea-show .one-idea .actions .media {
  position: relative;
}
.idea-show .one-idea .actions .media > .media-body .action-rating {
  margin-top: 0;
}
.idea-show .one-idea .actions .media > .media-body .action-rating > span {
  display: inline-block;
  float: left;
  margin-right: 10px;
  text-transform: uppercase;
}
.idea-show .one-idea .actions .media > .media-body .action-rating .star-rating {
  float: left;
  margin: 0;
}
.idea-show .one-idea .actions .media > .media-body .action-rating > p {
  clear: left;
  margin: 0;
  padding: 0;
}
.idea-show .one-idea .actions .media > .media-body .action-rating .yours {
  float: right;
}
.idea-show .one-idea .actions .media > .media-body .actions .right {
  padding-top: 15px;
}
.step2 .min-val,
.step2 .max-val,
.step2 .select-slider-value {
  position: absolute;
}
.step2 .max-val {
  bottom: -14px;
  right: 0;
}
.step2 .min-val {
  bottom: -14px;
  left: 0;
}
.step2 .select-slider-value {
  top: -18px;
  left: 0;
  font-weight: bold;
  color: #391909;
}
.step2 .budget {
  position: relative;
  width: 100%;
  height: 18px;
  padding: 20px 0 0;
  margin-left: 20px;
}
.step2 .budget .ui-widget-content {
  position: relative;
  border: 1px solid #9a9a9a;
}
.step2 .budget .ui-slider-range,
.step2 .budget .ui-slider-horizontal,
.step2 .budget .ui-slider-handle {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.step2 .budget .ui-slider-range {
  background-color: #391909;
}
.step2 .budget .ui-corner-all {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.step2 .budget .ui-slider-handle {
  width: 9px;
  height: 22px;
  left: 0;
  background-color: #8b8178;
  cursor: pointer;
  border: 0;
}
.step2 .budget .ui-slider-handle.ui-state-focus,
.step2 .budget .ui-slider-handle.ui-state-active {
  outline: 0 !important;
  border: 0;
}
.step2 .budget .ui-slider-handle.ui-state-default.ui-corner-all:hover,
.step2 .budget .ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus,
.step2 .budget .ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus {
  text-decoration: none;
  outline: none;
}
.notification-list .bloc > p {
  font-size: 13px;
  margin: 20px 0;
}
.notification-list .bloc > p:first-child {
  margin-top: 0;
}
.notification-list .notification {
  *zoom: 1;
  min-height: 22px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #DDD;
  font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #8b8178;
}
.notification-list .notification:before,
.notification-list .notification:after {
  display: table;
  content: "";
  line-height: 0;
}
.notification-list .notification:after {
  clear: both;
}
.notification-list .notification a {
  font-family: 'Gotham Bold', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: #391909;
}
.notification-list .notification span > a {
  color: #00b9e4 !important;
}
.notification-list .notification-status,
.notification-list .notification-text,
.notification-list .notification-hour {
  float: left;
}
.notification-list .notification-status {
  width: 5%;
}
.notification-list .notification-text {
  width: 75%;
}
.notification-list .notification-hour {
  width: 20%;
  text-align: right;
}
.profile-skills {
  margin-bottom: 10px;
}
.profile-skills label {
  font-weight: bold;
}
.profile-skills .select-slider-value {
  position: relative;
  top: -18px;
}
.profile-skills .skill-line {
  margin-bottom: 10px;
}
.profile-skills .skill-line .pbar-wrap {
  margin-top: 7px;
  position: relative;
  top: 2px;
  display: inline-block;
  width: 202px;
  height: 11px;
  margin-left: 25px;
}
.profile-skills .skill-line .pbar-wrap .filter-bar {
  background: url(/assets/img/filterbar.png) no-repeat;
  position: absolute;
  height: 13px;
  width: 202px;
  z-index: 10;
}
.profile-skills .skill-line .pbar-wrap .ui-slider-horizontal {
  width: 200px;
  height: 11px;
}
.profile-skills .skill-line .pbar-wrap .ui-slider-range {
  background: #04cef7;
  /* Old browsers */
  background: -moz-linear-gradient(left, #04cef7 0%, #0d1ca3 99%, #0a77d5 100%, #0d37aa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #04cef7), color-stop(99%, #0d1ca3), color-stop(100%, #0a77d5), color-stop(100%, #0d37aa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #04cef7 0%, #0d1ca3 99%, #0a77d5 100%, #0d37aa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #04cef7 0%, #0d1ca3 99%, #0a77d5 100%, #0d37aa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #04cef7 0%, #0d1ca3 99%, #0a77d5 100%, #0d37aa 100%);
  /* IE10+ */
  background: linear-gradient(to right, #04cef7 0%, #0d1ca3 99%, #0a77d5 100%, #0d37aa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04cef7', endColorstr='#0d37aa', GradientType=1);
  /* IE6-9 */
  height: 11px;
}
.profile-skills .skill-line .pbar-wrap .ui-slider-handle {
  background: url(/assets/img/slider-cursor.png) no-repeat;
  height: 22px;
  border: none;
  width: 9px;
  cursor: pointer;
  z-index: 20;
}
.profile-skills .skill-line .pbar-wrap .ui-slider-handle.ui-state-default.ui-corner-all:hover,
.profile-skills .skill-line .pbar-wrap .ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus,
.profile-skills .skill-line .pbar-wrap .ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus {
  text-decoration: none;
  outline: none;
}
.user-index .search-block {
  margin-top: 0;
}
.user-index form input {
  width: 95%;
}
.user-index form .select select {
  width: 110% !important;
}
.user-index form .row-fluid {
  margin-top: 10px;
}
.user-index #search-user.form-horizontal .controls {
  margin: 0;
}
.user-list .wrap-col {
  margin: 0 0 20px;
}
.lt-ie9.lt-ie8 .header-nav .navbar .nav > li {
  border-left: 2px solid #ffffff;
}
.lt-ie9.lt-ie8 .header-nav .navbar .nav > li:first-child {
  border: 0;
}
