.basic-sprite, .basic-black_00, .basic-black_01, .basic-black_02, .basic-black_03, .basic-black_04, .basic-black_05, .basic-black_06, .basic-black_07, .basic-black_08, .basic-black_09, .basic-black_10, .basic-black_11, .basic-black_12, .basic-black_13, .basic-black_14, .basic-black_15, .basic-black_16, .basic-black_17, .basic-black_18, .basic-black_19, .basic-black_20, .basic-black_21, .basic-black_22, .basic-black_23, .basic-black_24, .basic-black_25, .basic-black_26, .basic-black_27, .basic-black_28, .basic-black_29, .basic-black_30, .basic-black_31, .basic-black_32, .basic-black_33, .basic-black_34, .basic-black_35, .basic-black_36, .basic-black_37, .basic-black_38, .basic-black_39, .basic-black_40, .basic-black_41, .basic-blue_00, .basic-blue_01, .basic-blue_02, .basic-blue_03, .basic-blue_04, .basic-blue_05, .basic-blue_06, .basic-blue_07, .basic-blue_08, .basic-blue_09, .basic-blue_10, .basic-blue_11, .basic-blue_12, .basic-blue_13, .basic-blue_14, .basic-blue_15, .basic-blue_16, .basic-blue_17, .basic-blue_18, .basic-blue_19, .basic-blue_20, .basic-blue_21, .basic-blue_22, .basic-blue_23, .basic-blue_24, .basic-blue_25, .basic-blue_26, .basic-blue_27, .basic-blue_28, .basic-blue_29, .basic-blue_30, .basic-blue_31, .basic-blue_32, .basic-blue_33, .basic-blue_34, .basic-blue_35, .basic-blue_36, .basic-blue_37, .basic-blue_38, .basic-blue_39, .basic-blue_40, .basic-blue_41, .basic-brown_00, .basic-brown_01, .basic-brown_02, .basic-brown_03, .basic-brown_04, .basic-brown_05, .basic-brown_06, .basic-brown_07, .basic-brown_08, .basic-brown_09, .basic-brown_10, .basic-brown_11, .basic-brown_12, .basic-brown_13, .basic-brown_14, .basic-brown_15, .basic-brown_16, .basic-brown_17, .basic-brown_18, .basic-brown_19, .basic-brown_20, .basic-brown_21, .basic-brown_22, .basic-brown_23, .basic-brown_24, .basic-brown_25, .basic-brown_26, .basic-brown_27, .basic-brown_28, .basic-brown_29, .basic-brown_30, .basic-brown_31, .basic-brown_32, .basic-brown_33, .basic-brown_34, .basic-brown_35, .basic-brown_36, .basic-brown_37, .basic-brown_38, .basic-brown_39, .basic-brown_40, .basic-brown_41 {
  background: url('../img/sprites/basic-s0b8974df3d.png') no-repeat;
}

.basic-black_00 {
  background-position: 0 0;
  height: 24px;
  width: 24px;
}

.basic-black_01 {
  background-position: -34px 0;
  height: 24px;
  width: 24px;
}

.basic-black_02 {
  background-position: -68px 0;
  height: 24px;
  width: 24px;
}

.basic-black_03 {
  background-position: -102px 0;
  height: 24px;
  width: 24px;
}

.basic-black_04 {
  background-position: -136px 0;
  height: 24px;
  width: 24px;
}

.basic-black_05 {
  background-position: -170px 0;
  height: 24px;
  width: 24px;
}

.basic-black_06 {
  background-position: -204px 0;
  height: 24px;
  width: 24px;
}

.basic-black_07 {
  background-position: -238px 0;
  height: 24px;
  width: 24px;
}

.basic-black_08 {
  background-position: -272px 0;
  height: 24px;
  width: 24px;
}

.basic-black_09 {
  background-position: -306px 0;
  height: 24px;
  width: 24px;
}

.basic-black_10 {
  background-position: -340px 0;
  height: 24px;
  width: 24px;
}

.basic-black_11 {
  background-position: -374px 0;
  height: 24px;
  width: 24px;
}

.basic-black_12 {
  background-position: -408px 0;
  height: 24px;
  width: 24px;
}

.basic-black_13 {
  background-position: -442px 0;
  height: 24px;
  width: 24px;
}

.basic-black_14 {
  background-position: -476px 0;
  height: 24px;
  width: 24px;
}

.basic-black_15 {
  background-position: -510px 0;
  height: 24px;
  width: 24px;
}

.basic-black_16 {
  background-position: -544px 0;
  height: 24px;
  width: 24px;
}

.basic-black_17 {
  background-position: -578px 0;
  height: 24px;
  width: 24px;
}

.basic-black_18 {
  background-position: -612px 0;
  height: 24px;
  width: 24px;
}

.basic-black_19 {
  background-position: -646px 0;
  height: 24px;
  width: 24px;
}

.basic-black_20 {
  background-position: -680px 0;
  height: 24px;
  width: 24px;
}

.basic-black_21 {
  background-position: -714px 0;
  height: 24px;
  width: 24px;
}

.basic-black_22 {
  background-position: -748px 0;
  height: 24px;
  width: 24px;
}

.basic-black_23 {
  background-position: -782px 0;
  height: 24px;
  width: 24px;
}

.basic-black_24 {
  background-position: -816px 0;
  height: 24px;
  width: 24px;
}

.basic-black_25 {
  background-position: -850px 0;
  height: 24px;
  width: 24px;
}

.basic-black_26 {
  background-position: -884px 0;
  height: 24px;
  width: 24px;
}

.basic-black_27 {
  background-position: -918px 0;
  height: 24px;
  width: 24px;
}

.basic-black_28 {
  background-position: -952px 0;
  height: 24px;
  width: 24px;
}

.basic-black_29 {
  background-position: -986px 0;
  height: 24px;
  width: 24px;
}

.basic-black_30 {
  background-position: -1020px 0;
  height: 24px;
  width: 24px;
}

.basic-black_31 {
  background-position: -1054px 0;
  height: 24px;
  width: 24px;
}

.basic-black_32 {
  background-position: -1088px 0;
  height: 24px;
  width: 24px;
}

.basic-black_33 {
  background-position: -1122px 0;
  height: 24px;
  width: 24px;
}

.basic-black_34 {
  background-position: -1156px 0;
  height: 24px;
  width: 24px;
}

.basic-black_35 {
  background-position: -1190px 0;
  height: 24px;
  width: 24px;
}

.basic-black_36 {
  background-position: -1224px 0;
  height: 24px;
  width: 24px;
}

.basic-black_37 {
  background-position: -1258px 0;
  height: 24px;
  width: 24px;
}

.basic-black_38 {
  background-position: -1292px 0;
  height: 24px;
  width: 24px;
}

.basic-black_39 {
  background-position: -1326px 0;
  height: 24px;
  width: 24px;
}

.basic-black_40 {
  background-position: -1360px 0;
  height: 24px;
  width: 24px;
}

.basic-black_41 {
  background-position: -1394px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_00 {
  background-position: -1428px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_01 {
  background-position: -1462px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_02 {
  background-position: -1496px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_03 {
  background-position: -1530px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_04 {
  background-position: -1564px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_05 {
  background-position: -1598px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_06 {
  background-position: -1632px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_07 {
  background-position: -1666px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_08 {
  background-position: -1700px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_09 {
  background-position: -1734px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_10 {
  background-position: -1768px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_11 {
  background-position: -1802px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_12 {
  background-position: -1836px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_13 {
  background-position: -1870px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_14 {
  background-position: -1904px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_15 {
  background-position: -1938px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_16 {
  background-position: -1972px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_17 {
  background-position: -2006px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_18 {
  background-position: -2040px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_19 {
  background-position: -2074px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_20 {
  background-position: -2108px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_21 {
  background-position: -2142px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_22 {
  background-position: -2176px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_23 {
  background-position: -2210px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_24 {
  background-position: -2244px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_25 {
  background-position: -2278px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_26 {
  background-position: -2312px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_27 {
  background-position: -2346px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_28 {
  background-position: -2380px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_29 {
  background-position: -2414px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_30 {
  background-position: -2448px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_31 {
  background-position: -2482px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_32 {
  background-position: -2516px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_33 {
  background-position: -2550px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_34 {
  background-position: -2584px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_35 {
  background-position: -2618px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_36 {
  background-position: -2652px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_37 {
  background-position: -2686px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_38 {
  background-position: -2720px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_39 {
  background-position: -2754px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_40 {
  background-position: -2788px 0;
  height: 24px;
  width: 24px;
}

.basic-blue_41 {
  background-position: -2822px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_00 {
  background-position: -2856px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_01 {
  background-position: -2890px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_02 {
  background-position: -2924px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_03 {
  background-position: -2958px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_04 {
  background-position: -2992px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_05 {
  background-position: -3026px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_06 {
  background-position: -3060px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_07 {
  background-position: -3094px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_08 {
  background-position: -3128px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_09 {
  background-position: -3162px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_10 {
  background-position: -3196px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_11 {
  background-position: -3230px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_12 {
  background-position: -3264px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_13 {
  background-position: -3298px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_14 {
  background-position: -3332px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_15 {
  background-position: -3366px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_16 {
  background-position: -3400px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_17 {
  background-position: -3434px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_18 {
  background-position: -3468px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_19 {
  background-position: -3502px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_20 {
  background-position: -3536px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_21 {
  background-position: -3570px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_22 {
  background-position: -3604px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_23 {
  background-position: -3638px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_24 {
  background-position: -3672px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_25 {
  background-position: -3706px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_26 {
  background-position: -3740px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_27 {
  background-position: -3774px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_28 {
  background-position: -3808px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_29 {
  background-position: -3842px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_30 {
  background-position: -3876px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_31 {
  background-position: -3910px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_32 {
  background-position: -3944px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_33 {
  background-position: -3978px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_34 {
  background-position: -4012px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_35 {
  background-position: -4046px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_36 {
  background-position: -4080px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_37 {
  background-position: -4114px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_38 {
  background-position: -4148px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_39 {
  background-position: -4182px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_40 {
  background-position: -4216px 0;
  height: 24px;
  width: 24px;
}

.basic-brown_41 {
  background-position: -4250px 0;
  height: 24px;
  width: 24px;
}

.basic-s-sprite, .basic-s-black_00, .basic-s-black_01, .basic-s-black_02, .basic-s-black_03, .basic-s-black_04, .basic-s-black_05, .basic-s-black_06, .basic-s-black_07, .basic-s-black_08, .basic-s-black_09, .basic-s-black_10, .basic-s-black_11, .basic-s-black_12, .basic-s-black_13, .basic-s-black_14, .basic-s-black_15, .basic-s-black_16, .basic-s-black_17, .basic-s-black_18, .basic-s-black_19, .basic-s-black_20, .basic-s-black_21, .basic-s-black_22, .basic-s-black_23, .basic-s-black_24, .basic-s-black_25, .basic-s-black_26, .basic-s-black_27, .basic-s-black_28, .basic-s-black_29, .basic-s-black_30, .basic-s-black_31, .basic-s-black_32, .basic-s-black_33, .basic-s-black_34, .basic-s-black_35, .basic-s-black_36, .basic-s-black_37, .basic-s-black_38, .basic-s-black_39, .basic-s-black_40, .basic-s-black_41, .basic-s-blue_00, .basic-s-blue_01, .basic-s-blue_02, .basic-s-blue_03, .basic-s-blue_04, .basic-s-blue_05, .basic-s-blue_06, .basic-s-blue_07, .basic-s-blue_08, .basic-s-blue_09, .basic-s-blue_10, .basic-s-blue_11, .basic-s-blue_12, .basic-s-blue_13, .basic-s-blue_14, .basic-s-blue_15, .basic-s-blue_16, .basic-s-blue_17, .basic-s-blue_18, .basic-s-blue_19, .basic-s-blue_20, .basic-s-blue_21, .basic-s-blue_22, .basic-s-blue_23, .basic-s-blue_24, .basic-s-blue_25, .basic-s-blue_26, .basic-s-blue_27, .basic-s-blue_28, .basic-s-blue_29, .basic-s-blue_30, .basic-s-blue_31, .basic-s-blue_32, .basic-s-blue_33, .basic-s-blue_34, .basic-s-blue_35, .basic-s-blue_36, .basic-s-blue_37, .basic-s-blue_38, .basic-s-blue_39, .basic-s-blue_40, .basic-s-blue_41, .basic-s-blue_44, .basic-s-brown_00, .basic-s-brown_01, .basic-s-brown_02, .basic-s-brown_03, .basic-s-brown_04, .basic-s-brown_05, .basic-s-brown_06, .basic-s-brown_07, .basic-s-brown_08, .basic-s-brown_09, .basic-s-brown_10, .basic-s-brown_11, .basic-s-brown_12, .basic-s-brown_13, .basic-s-brown_14, .basic-s-brown_15, .basic-s-brown_16, .basic-s-brown_17, .basic-s-brown_18, .basic-s-brown_19, .basic-s-brown_20, .basic-s-brown_21, .basic-s-brown_22, .basic-s-brown_23, .basic-s-brown_24, .basic-s-brown_25, .basic-s-brown_26, .basic-s-brown_27, .basic-s-brown_28, .basic-s-brown_29, .basic-s-brown_30, .basic-s-brown_31, .basic-s-brown_32, .basic-s-brown_33, .basic-s-brown_34, .basic-s-brown_35, .basic-s-brown_36, .basic-s-brown_37, .basic-s-brown_38, .basic-s-brown_39, .basic-s-brown_40, .basic-s-brown_41 {
  background: url('../img/sprites/basic-s-scc08065416.png') no-repeat;
}

.basic-s-black_00 {
  background-position: 0 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_01 {
  background-position: -26px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_02 {
  background-position: -52px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_03 {
  background-position: -78px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_04 {
  background-position: -104px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_05 {
  background-position: -130px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_06 {
  background-position: -156px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_07 {
  background-position: -182px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_08 {
  background-position: -208px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_09 {
  background-position: -234px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_10 {
  background-position: -260px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_11 {
  background-position: -286px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_12 {
  background-position: -312px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_13 {
  background-position: -338px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_14 {
  background-position: -364px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_15 {
  background-position: -390px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_16 {
  background-position: -416px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_17 {
  background-position: -442px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_18 {
  background-position: -468px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_19 {
  background-position: -494px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_20 {
  background-position: -520px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_21 {
  background-position: -546px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_22 {
  background-position: -572px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_23 {
  background-position: -598px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_24 {
  background-position: -624px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_25 {
  background-position: -650px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_26 {
  background-position: -676px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_27 {
  background-position: -702px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_28 {
  background-position: -728px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_29 {
  background-position: -754px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_30 {
  background-position: -780px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_31 {
  background-position: -806px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_32 {
  background-position: -832px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_33 {
  background-position: -858px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_34 {
  background-position: -884px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_35 {
  background-position: -910px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_36 {
  background-position: -936px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_37 {
  background-position: -962px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_38 {
  background-position: -988px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_39 {
  background-position: -1014px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_40 {
  background-position: -1040px 0;
  height: 16px;
  width: 16px;
}

.basic-s-black_41 {
  background-position: -1066px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_00 {
  background-position: -1092px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_01 {
  background-position: -1118px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_02 {
  background-position: -1144px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_03 {
  background-position: -1170px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_04 {
  background-position: -1196px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_05 {
  background-position: -1222px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_06 {
  background-position: -1248px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_07 {
  background-position: -1274px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_08 {
  background-position: -1300px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_09 {
  background-position: -1326px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_10 {
  background-position: -1352px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_11 {
  background-position: -1378px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_12 {
  background-position: -1404px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_13 {
  background-position: -1430px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_14 {
  background-position: -1456px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_15 {
  background-position: -1482px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_16 {
  background-position: -1508px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_17 {
  background-position: -1534px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_18 {
  background-position: -1560px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_19 {
  background-position: -1586px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_20 {
  background-position: -1612px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_21 {
  background-position: -1638px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_22 {
  background-position: -1664px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_23 {
  background-position: -1690px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_24 {
  background-position: -1716px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_25 {
  background-position: -1742px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_26 {
  background-position: -1768px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_27 {
  background-position: -1794px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_28 {
  background-position: -1820px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_29 {
  background-position: -1846px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_30 {
  background-position: -1872px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_31 {
  background-position: -1898px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_32 {
  background-position: -1924px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_33 {
  background-position: -1950px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_34 {
  background-position: -1976px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_35 {
  background-position: -2002px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_36 {
  background-position: -2028px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_37 {
  background-position: -2054px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_38 {
  background-position: -2080px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_39 {
  background-position: -2106px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_40 {
  background-position: -2132px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_41 {
  background-position: -2158px 0;
  height: 16px;
  width: 16px;
}

.basic-s-blue_44 {
  background-position: -2184px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_00 {
  background-position: -2210px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_01 {
  background-position: -2236px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_02 {
  background-position: -2262px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_03 {
  background-position: -2288px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_04 {
  background-position: -2314px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_05 {
  background-position: -2340px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_06 {
  background-position: -2366px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_07 {
  background-position: -2392px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_08 {
  background-position: -2418px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_09 {
  background-position: -2444px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_10 {
  background-position: -2470px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_11 {
  background-position: -2496px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_12 {
  background-position: -2522px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_13 {
  background-position: -2548px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_14 {
  background-position: -2574px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_15 {
  background-position: -2600px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_16 {
  background-position: -2626px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_17 {
  background-position: -2652px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_18 {
  background-position: -2678px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_19 {
  background-position: -2704px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_20 {
  background-position: -2730px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_21 {
  background-position: -2756px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_22 {
  background-position: -2782px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_23 {
  background-position: -2808px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_24 {
  background-position: -2834px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_25 {
  background-position: -2860px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_26 {
  background-position: -2886px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_27 {
  background-position: -2912px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_28 {
  background-position: -2938px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_29 {
  background-position: -2964px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_30 {
  background-position: -2990px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_31 {
  background-position: -3016px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_32 {
  background-position: -3042px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_33 {
  background-position: -3068px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_34 {
  background-position: -3094px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_35 {
  background-position: -3120px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_36 {
  background-position: -3146px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_37 {
  background-position: -3172px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_38 {
  background-position: -3198px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_39 {
  background-position: -3224px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_40 {
  background-position: -3250px 0;
  height: 16px;
  width: 16px;
}

.basic-s-brown_41 {
  background-position: -3276px 0;
  height: 16px;
  width: 16px;
}

.custom-sprite, .custom-black_43, .custom-black_44, .custom-blue_11, .custom-blue_27, .custom-blue_28, .custom-blue_42, .custom-blue_45, .custom-blue_51, .custom-blue_52, .custom-blue_53, .custom-blue_54, .custom-blue_64, .custom-brown_42, .custom-brown_43, .custom-brown_44, .custom-brown_45, .custom-brown_46, .custom-brown_47, .custom-brown_48, .custom-brown_49, .custom-brown_50, .custom-brown_55, .custom-brown_56, .custom-brown_62, .custom-gray_59, .custom-gray_60, .custom-gray_61, .custom-white_55, .custom-white_56, .custom-white_57, .custom-white_58, .custom-white_63 {
  background: url('../img/sprites/custom-sd59cab5b49.png') no-repeat;
}

.custom-black_43 {
  background-position: 0 0;
  height: 18px;
  width: 26px;
}

.custom-black_44 {
  background-position: -36px 0;
  height: 25px;
  width: 25px;
}

.custom-blue_11 {
  background-position: -71px 0;
  height: 21px;
  width: 17px;
}

.custom-blue_27 {
  background-position: -98px 0;
  height: 26px;
  width: 33px;
}

.custom-blue_28 {
  background-position: -141px 0;
  height: 18px;
  width: 18px;
}

.custom-blue_42 {
  background-position: -169px 0;
  height: 21px;
  width: 20px;
}

.custom-blue_45 {
  background-position: -199px 0;
  height: 19px;
  width: 21px;
}

.custom-blue_51 {
  background-position: -230px 0;
  height: 20px;
  width: 20px;
}

.custom-blue_52 {
  background-position: -260px 0;
  height: 13px;
  width: 16px;
}

.custom-blue_53 {
  background-position: -286px 0;
  height: 13px;
  width: 13px;
}

.custom-blue_54 {
  background-position: -309px 0;
  height: 16px;
  width: 16px;
}

.custom-blue_64 {
  background-position: -335px 0;
  height: 13px;
  width: 14px;
}

.custom-brown_42 {
  background-position: -359px 0;
  height: 21px;
  width: 20px;
}

.custom-brown_43 {
  background-position: -389px 0;
  height: 19px;
  width: 19px;
}

.custom-brown_44 {
  background-position: -418px 0;
  height: 20px;
  width: 22px;
}

.custom-brown_45 {
  background-position: -450px 0;
  height: 19px;
  width: 21px;
}

.custom-brown_46 {
  background-position: -481px 0;
  height: 17px;
  width: 11px;
}

.custom-brown_47 {
  background-position: -502px 0;
  height: 17px;
  width: 11px;
}

.custom-brown_48 {
  background-position: -523px 0;
  height: 18px;
  width: 14px;
}

.custom-brown_49 {
  background-position: -547px 0;
  height: 19px;
  width: 22px;
}

.custom-brown_50 {
  background-position: -579px 0;
  height: 18px;
  width: 30px;
}

.custom-brown_55 {
  background-position: -619px 0;
  height: 17px;
  width: 14px;
}

.custom-brown_56 {
  background-position: -643px 0;
  height: 17px;
  width: 18px;
}

.custom-brown_62 {
  background-position: -671px 0;
  height: 21px;
  width: 19px;
}

.custom-gray_59 {
  background-position: -700px 0;
  height: 16px;
  width: 15px;
}

.custom-gray_60 {
  background-position: -725px 0;
  height: 18px;
  width: 16px;
}

.custom-gray_61 {
  background-position: -751px 0;
  height: 8px;
  width: 12px;
}

.custom-white_55 {
  background-position: -773px 0;
  height: 17px;
  width: 14px;
}

.custom-white_56 {
  background-position: -797px 0;
  height: 26px;
  width: 27px;
}

.custom-white_57 {
  background-position: -834px 0;
  height: 20px;
  width: 20px;
}

.custom-white_58 {
  background-position: -864px 0;
  height: 20px;
  width: 20px;
}

.custom-white_63 {
  background-position: -894px 0;
  height: 11px;
  width: 14px;
}

[class^="basic-"], [class^="custom-"] {
  display: inline-block;
  vertical-align: middle;
}
