.one-experimentation-on-a-list {
	.clearfix;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #927e73;	

	&:last-child {
		border: 0;
	}
	.picture {
		float: left;
		border: 1px solid @tertiary;
	}
	.excerpt {
		float: left;
		.size(auto, 350px);
		background-color: @tertiary;
		margin: 0 5px;
		padding: 5px;
		min-height: 90px;

		h3 {
			#font .shorthand(16px,bold,16px);
			color: @secondary;
			margin: 0 0 5px;
		}
		> p {
			#font .short(12px,14px);
			margin: 0;
		}
		.read-more {
			text-align: right;
			display: block;
		}
	}
	.btn-blue{
		float: right;
		margin-top: 30px;
		padding: 10px;
	}
}

.progression {
	float: right;
	text-align: right;
	width: 150px;

	span {
		font-size: 11px;

		&.not-started {
			text-align: center;
			color: @secondary;
		}
	}
	.closed {
		text-align: center !important;
	}
}
