.mg-wrap {
	.category-all {
		text-align: right;
		padding: 15px 0 0;
	}
	span {
		margin-bottom: 10px;
		display: block;
	}
	.ms-ctn {
		margin-bottom: 10px;
	}
	.ms-sel-ctn {
		.ms-sel-item {
			float: left;
			background: @secondary3;
			color: #FFF;
		}
	}

	.ms-sel-item {
		._cb {
			display: none;
		}
	}

	.ms-res-item {
		.team-user-wrap {
			.clearfix;
		}
		._cb {
			clear: both;
		}
	}

	.ms-sel-item, .ms-res-item {
		img {
			display: block;
			float: left;
			.square(60px);
			margin-right: 10px;
		}
		.res-content {
			overflow: hidden;
			padding-right: 10px;
			.res-name {
				padding-top: 4px;
				font-style: bold;
				color: @black;
			}
			.res-desc {
				color: @black;
				font-size: 80%;
			}
		}
	}

	.ms-sel-item {
		position: relative;
		.team-user-wrap {
			padding: 5px;
			width: 234px;
		}
		img {
			margin-bottom: 5px;
		}
	}

	.ms-ctn {
		border: 0;
		.ms-trigger, .ms-trigger:hover {
			width: 28px;
			height: 28px;
			background: @primary;
		}
		.ms-trigger-ico {
			position: absolute;
			display: block;
			top: 12px;
			right: 8px;
			margin: 0;
			padding: 0;
			border-top: 6px solid #fff;
			border-right: 6px solid transparent;
			border-left: 6px solid transparent;
		}
		input {
			border: 0;
			margin: 0;
			padding: 9px 6px 6px;
		}
	}
	.ms-ctn-bootstrap-focus {
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}

	.ms-res-ctn .ms-res-item-active {
		background: @secondary3;
	}
}

.team-wrap {
	.mg-wrap {
		.ms-sel-item {
			.ms-close-btn {
				position: absolute;
				right: 10px;
				top: 10px;
				margin: 0;
			}
		}
	}
}


