.milestone-list {

	.milestone {
		.clearfix;
		.bloc;

		.milestone-left, .milestone-right {
			float: left;
		}
		.milestone-left {
			width: 70%;

			a { .secondary; }
		}
		.milestone-right {
			width: 30%;
		}
		.progress {
			margin-bottom: 0;
		}

	}
}