.one-idea {	
	background-color: @white;

	.one-social, .one-list-of-comments {
		.mp-reset;
	}
	.one-social {
		border-top: 1px solid #d7d4d4;		
		padding: 5px 0;
	}
	.comments-container {
		padding-left: 0;
		border-top: 1px solid #d7d4d4;

		.comments, .comment-form, .comment-form .media-body, .one-list-of-comments .one-comment-on-a-list {
			background-color: @white;
		}
		.comment-form {
			padding: 10px;
			border-top: 1px solid #d7d4d4;

			.media-body {
				padding: 0;
				
				textarea {
					width: 274px;
				}
				.upload-icon {
					margin-bottom: 0;
				}
				
			}

		}
	}

	.heading {

		.date {
			display: inline-block;
			margin: 8px 0 0 10px;
		}
	}

	> .media {
		margin-top: 5px;
	}

	hr {
		.size(1px, 100%);
		margin: 5px 0;
		border: 0;
		background-color: #d7d4d4;
	}
	&:first-child {
		border: 0;
	}
	.bloc {
		margin: 10px 0;
		padding: 5px;
	}
	.media {

		> .first-col {
			width: 141px;
			float: left;
			margin-right: 10px;

			> .bloc.media-object {
				padding: 0;
			}

			a {
				display: block;
				margin-bottom: 10px;
			}
		}
	}
	.description {
		width: 100%;		
		.verdana;
		line-height: 16px;
		min-height: 137px;		
	}
	.name a, .name a span {
		.primary;

		&:hover {
			.primary;
		}
	}

	.media-body {	

		> .description {
			padding: 0;						

			&.full-description {
				float: none;
				width: auto;

				> p {
					height: auto;
				}
			}
		}
		.actions {			

			.btn {				
				margin: 20px 0 0 15px;
				padding-top: 8px;
				padding-bottom: 8px;				
			}
			.action-rating {
				display: inline-block;
				padding: 10px 5px 10px 10px;
			}

		}
	}

	.one-user-on-a-list {
		.name {
			width: 76%;
			float: left;
		}
		.media-body > a {
			
		}
	}
}

.idea-all, .innovation-all {
	
	.one-idea {
		padding: 15px;
	}

	> hr {
		border-bottom: 0;
		border-top: 1px solid @bodyBackground;
		margin: 7.5px 0;
	}
}
.idea-all {
	
	.one-idea {		

		.extented-label {
			display: none;
		}
	}

}