.comments-container {
	display: none;
	//padding-left: 10px;
}

.one-list-of-comments {
	list-style: none;
	//margin: 0 0 0 60px;
	margin: 0;
	padding: 10px 0;
	list-style: none;

	.one-comment-on-a-list {
		//background-color: @tertiary;		
		padding: 10px;
		margin: 0 0 10px;
		position: relative;
		float: none;

		.comment-text {
			margin: 0;
			#font > .short(12px, 14px);
			color: @secondary2;			
		}
		.comment-infos {
			.clearfix;
			margin: 8px 0 0;

			.sprite-like-small { margin-right: 5px; }
		}
		.timeago {
			font-size: 11px;
		}
		.close, .edit {
			position: absolute;
			right: 5px;
			top: 10px;
			font-size: 13px;
			color: @secondary;
			.opacity(100);

			&:hover {
				.opacity(50);
			}
		}
		.edit {
			right: 25px;
		}

	} // end li
}
