.perimeter {

	span {
		display: inline-block;
		width: 350px;
		font-size: 16px;
		.bold;	
	}
	select, select option {	color: @secondary; }
}
.add-perimeter {
	text-decoration: none;
	cursor: pointer;
}
