.user-list {

	> .title {
		font-size: 16px;
	}
	> .row-fluid {
		margin: 15px 0;
	}


	.user {
		position: relative;
		padding: 5px;
		background-color: @tertiary;
		height: 60px;

		&.selected {
			background-color: @primary;
			&, a, .role {
				color: #FFF !important;
			}
		}

		.name {
			padding-right: 28px;
			a {
				font-size: 14px;

				span {
					text-transform: none;
					display: block;
					line-height: 15px;

					&.uppercase {
						text-transform: uppercase !important;
					}
				}
			}
		}
		.media-body {

			> div {
				margin-top: 6px;
				&:first-child {
					margin: 0;
				}
			}
			.role {
				padding-right: 22px;
				color: @secondary2;
			}
			> a.pull-right {
				position: absolute;
				right: 3px;
				bottom: 3px;

				&:hover .sprite-add-member {
					background-position: -165px -64px;
				}
				&.message {
					top: 8px;
					right: 8px;
				}
			}
		}

	}
}
