{% extends 'admin/layout.html.twig' %}

{% form_theme form 'admin/form_theme.html.twig' %}

{% block page_header %}
	<h1>Edition</h1>
{% endblock %}

{% block content %}
	{% block form %}
		{{ form(form) }}
	{% endblock %}
{% endblock %}