{% extends 'admin/layout.html.twig' %}

{% if current_path is not defined %}
    {% set current_path = '' %}
{% endif %}

{% block page_header %}
    <h1>
        {{ sections[this.chapter].label }}
    </h1>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        {% block filters %}
            {% if filters is defined and filters|length > 0 %}
                {% include 'admin/filters.html.twig' %}
            {% endif %}
        {% endblock %}
    </div>
    <div class="row-fluid">

    </div>
{% endblock %}