{% set filters_operators = {
'=': '=',
'between': 'Entre',
'>=': '>=',
'<=': '<=',
} %}

<script src="/assets/js/jquery/magicsuggest-1.3.1-min.js"></script>
<div class="filters span13 widget-container-span" style="margin-left:0px;">
	<div class="widget-box">
		<div class="widget-header widget-header-small header-color-dark">
			<h6 class="smaller">Filtres</h6>
		</div>
		<div class="widget-body">
			<div class="widget-main">
                {% if export is defined and export %}
				    <form method="POST" action="/admin/ideaexport/new">
                {% else %}
                    <form action="?">
                {% endif %}
					{% for filter in filters %}
						{% set name = filter.name %}
						<div class="filter" style="float:left; width:49%;">
							<label for="filter_{{ name }}" class="inline span3">{{ filter.label }}</label>
							{% if filter.type == 'choices' %}
								<select id="filter_{{ name }}" type="text" name="filters[{{ name }}][value]">
									<option value="">Filtrer ...</option>
									{% for k,v in filter.choices %}
										<option value="{{ k }}"
												{% if request.params.filters[name].value is defined and request.params.filters[name].value == k %} selected{% endif %}
												>{{ v }}</option>
									{% endfor %}
								</select>
							{% elseif filter.type == 'boolean' %}
								<input type="checkbox" name="filters[{{ name }}][value]" value="1"
										{% if request.params.filters[name].value is defined and request.params.filters[name].value or filter.checked is defined %} checked{% endif %}>
							{% elseif filter.type == 'user' %}
								<input type="hidden" name="filters[{{ name }}][value]" value="">
								<div class="users">
									<div class="team-wrap">
										<div class="add-users-magicsuggest">
											<div class="mg-wrap">
												<div id="users-mg-{{ name }}" name="users-mg-{{ name }}"></div>
											</div>
										</div>
									</div>
									<script>
										$(function () {
											$(".team-user-wrap .remove").click(function (e) {
												e.preventDefault();
												$(this).parents(".team-user-wrap").eq(0).remove();
											});
											var render = function (v) {
												return '<div class="team-user-wrap">' + v.name + '</div>' +
														'<input type="hidden" name="filters[{{ name }}][value]" value="' + v.id + '">';
											}
											var mg = $('#users-mg-{{ name }}').magicSuggest({
												data: "/user/ajax_filter_user",
												selectionPosition: 'inner',
												selectionStacked: true,
												allowFreeEntries: false,
												strictSuggest: false,
												width: 230,
												emptyText: '',
												maxSelection: 1,
												maxSelectionRenderer: function () {
													return ''
												},
												selectionRenderer: render,
												renderer: render
											});
											{% if request.params.filters[name].value is defined and request.params.filters[name].value %}
											mg.addToSelection({{ request.params.filters[name].value|json_encode|raw }}, true);
											{% endif %}
										});
									</script>
								</div>
							{% else %}
								{% if filter.type != 'query' %}
									<select name="filters[{{ name }}][operator]" class="span2"
											onchange="if (this.value == 'between'){$('#filter_{{ name }}_max').show()} else {$('#filter_{{ name }}_max').hide()}">
										{% for k,v in filters_operators %}
											<option value="{{ k }}"{% if request.params.filters[name].operator is defined and request.params.filters[name].operator == k|raw %} selected{% endif %}
													>{{ v }}</option>
										{% endfor %}
									</select>
								{% endif %}



								<input id="filter_{{ name }}" type="text" name="filters[{{ name }}][value]"
									   class="span4 {% if filter.type == 'date' %}input-medium date-picker{% endif %}"
										{% if filter.type == 'date' %} data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd"{% endif %}
									   value="{{ request.params.filters[name].value is defined ? request.params.filters[name].value : '' }}">
								<input id="filter_{{ name }}_max" type="text" name="filters[{{ name }}][value2]"
									   class="span3 {% if filter.type == 'date' %}input-medium date-picker{% endif %}"
										{% if filter.type == 'date' %} data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd"{% endif %}
										{% if not request.params.filters[name].operator is defined or request.params.filters[name].operator != 'between' %} style="display:none"{% endif %}
									   value="{{ request.params.filters[name].value2 is defined ? request.params.filters[name].value2 : '' }}">
							{% endif %}
							<div class="clearfix"></div>
						</div>
					{% endfor %}

					<div class="filter">
                        {% if export is defined and export %}
                            <button class="btn btn-info" type="submit" name="exporter">
                                <i class="icon-download-alt bigger-110"></i>
                                Exporter
                            </button>
                        {% else %}
                            <button class="btn btn-info" type="submit">
                                <i class="icon-filter bigger-110"></i>
                                Filtrer
                            </button>
                        {% endif %}
					<a class="btn" href="?" type="reset">
						<i class="icon-undo bigger-110"></i>
						Reset
					</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>