{# see https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig #}
{% extends 'form_table_layout.html.twig' %}

{% block button_widget %}
	{% set attr = attr|merge({class: 'btn btn-small btn-success'}) %}
	{% spaceless %}
		{% if label is empty %}
			{% set label = name|humanize %}
		{% endif %}
		<button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}
			<i class="icon-arrow-right icon-on-right bigger-110"></i>
		</button>
	{% endspaceless %}
{% endblock button_widget %}

{% block user_widget %}
	{{ block('users_widget') }}
{% endblock %}
{% block users_widget %}
	<script src="/assets/js/jquery/magicsuggest-1.3.1-min.js"></script>
	<input type="hidden" name="{{ full_name }}" value="">
	<div class="users">
		<div class="team-wrap">
			<div class="add-users-magicsuggest">
				<div class="mg-wrap">
					<div id="users-mg-{{ name }}" name="users-mg-{{ name }}"></div>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function () {
				$(".team-user-wrap .remove").click(function (e) {
					e.preventDefault();
					$(this).parents(".team-user-wrap").eq(0).remove();
				});
			});

			$(function () {
				var render = function (v) {
					return '<div class="team-user-wrap">' +
							'<img src="' + v.image + '" width="60" />' +
							'<div class="res-content">' +
							'<div class="res-name">' + v.name + '</div>' +
							'<div class="res-desc">' + v.desc + '</div>' +
							'<input type="hidden" name="{{ full_name }}" value="' + v.id + '">' +
							'</div>' +
							'</div><div class="_cb"></div>';
				}
				var mg = $('#users-mg-{{ name }}').magicSuggest({
					emptyText: 'Entrez le nom de l\'utilisateur',
					data: "{{ url }}",
					selectionPosition: 'bottom',
					selectionStacked: true,
					allowFreeEntries: false,
					strictSuggest: false,
					{% if not multiple %}
					maxSelection: 1,
					maxSelectionRenderer: function () {
						return ''
					},
					{% endif %}
					width: 520,
					selectionRenderer: render,
					renderer: render
				});
				{% if value is defined and value|length > 0 %}
				{% for v in value %}
				mg.addToSelection({{ v|json_encode|raw }}, true);
				{% endfor %}
				{% endif %}
				$('#users-mg-{{ name }}').find("input[type=text]").attr("placeholder", "Entrez le nom de l\'utilisateur");
			});
		</script>
	</div>
{% endblock %}

{% block form_row %}
	{% spaceless %}
		<tr>
			<td class="text-left">
				{{ form_label(form) }}
			</td>
			<td class="right-col">
				{{ form_errors(form) }}
				{{ form_widget(form) }}
			</td>
		</tr>
	{% endspaceless %}
{% endblock form_row %}

{% block form_widget_compound %}
	{% spaceless %}
		<table class="table table-striped table-bordered table-hover">
			{% if form.parent is empty and errors|length > 0 %}
				<tr>
					<td colspan="2">
						{{ form_errors(form) }}
					</td>
				</tr>
			{% endif %}
			{{ block('form_rows') }}
			{{ form_rest(form) }}
		</table>
	{% endspaceless %}
{% endblock form_widget_compound %}
