<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>AG2R Admin</title>

	<meta name="description" content="overview &amp; stats"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!--basic styles-->

	<link href="/assets/admin/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/assets/admin/css/bootstrap-responsive.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>

	<!--[if IE 7]>
	<link rel="stylesheet" href="admin/admin/css/font-awesome-ie7.min.css"/>
	<![endif]-->

	<!--page specific plugin styles-->

	<link rel="stylesheet" href="/assets/admin/css/jquery-ui-1.10.3.custom.min.css"/>
	<link rel="stylesheet" href="/assets/admin/css/chosen.css"/>
	<link rel="stylesheet" href="/assets/css/datepicker.css"/>
	<link rel="stylesheet" href="/assets/admin/css/bootstrap-timepicker.css"/>
	<link rel="stylesheet" href="/assets/admin/css/daterangepicker.css"/>
	<link rel="stylesheet" href="/assets/admin/css/bootstrap-datetimepicker.min.css"/>
	<link rel="stylesheet" href="/assets/admin/css/colorpicker.css"/>
	<link rel="stylesheet" href="/assets/admin/css/magicsuggest-1.3.0.css"/>


	<!--fonts-->

	<link rel="stylesheet" href="/assets/admin/css/ace-fonts.css"/>

	<!--ace styles-->

	<link rel="stylesheet" href="/assets/admin/css/ace.min.css"/>
	<link rel="stylesheet" href="/assets/admin/css/ace-responsive.min.css"/>
	<link rel="stylesheet" href="/assets/admin/css/ace-skins.min.css"/>
	<link rel="stylesheet" href="/assets/admin/css/main.css"/>
	<link rel="shortcut icon" href="/assets/admin/img/favicon.png">

	<!--[if lte IE 8]>
	<link rel="stylesheet" href="admin/admin/css/ace-ie.min.css"/>
	<![endif]-->

	<!--inline styles related to this page-->

	<!--[if !IE]>-->
	<script src="/assets/admin/js/jquery-2.0.3.min.js"></script>
	<!--<![endif]-->

	<!--[if IE]>
	<script src="/assets/admin/js/jquery-1.10.2.min.js"></script>
	<![endif]-->

	<!--ace settings handler-->
	<script src="/assets/admin/js/ace-extra.min.js"></script>

	<script type="text/javascript" src="/assets/admin/js/tiny_mce/tinymce.min.js"></script>

	<script type="text/javascript">
		tinymce.init({
			selector: "textarea.tiny",
			entity_encoding : 'raw',
			theme: "modern",
			language: 'fr_FR',
			relative_urls: false,
			content_css: "/assets/admin/css/bootstrap.min.css, assets/admin/css/preview.css, http://fonts.googleapis.com/css?family=Lobster",
			body_class: "content",
			plugins: [
				"advlist autolink lists link image charmap print preview hr anchor pagebreak",
				"searchreplace wordcount visualblocks visualchars code fullscreen",
				"insertdatetime media nonbreaking save table contextmenu directionality",
				"template paste textcolor jbimages icons"
			],
			style_formats: [
				{title: 'Image à gauche', selector: 'img',
					styles: {
						'float': 'left',
						'margin': '0 10px 0 10px'
					}
				},
				{title: 'Image à droite', selector: 'img',
					styles: {
						'float': 'right',
						'margin': '0 0 10px 10px'
					}
				}
			],
			toolbar1: "insertfile undo redo | styleselect formatselect fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
			toolbar2: "print preview fullscreen media | forecolor backcolor icons | link image jbimages",
			image_advtab: true,
		});
	</script>
</head>
<body class="breadcrumbs-fixed">

<div class="navbar navbar-fixed-top" id="navbar">
	<script type="text/javascript">
		try {
			ace.settings.check('navbar', 'fixed')
		} catch (e) {
		}
	</script>

	<div class="navbar-inner">
		<div class="container-fluid">
			<a href="/" class="brand">
				<small>
					<img src="/assets/admin/img/logo.png">
					AG2R Admin
				</small>
			</a><!--/.brand-->

			<ul class="nav ace-nav pull-right">

				<li class="light-blue">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle">
						<img class="nav-user-photo" src="{{ me.picture.url }}" alt="Administrateur"/>
								<span class="user-info">
									<small>Bienvenue,</small>
									{{ me.name }}
								</span>
					</a>
				</li>
			</ul>
			<!--/.ace-nav-->
		</div>
		<!--/.container-fluid-->
	</div>
	<!--/.navbar-inner-->
</div>
<div class="main-container container-fluid">
	<a class="menu-toggler" id="menu-toggler" href="#">
		<span class="menu-text"></span>
	</a>

	<div class="sidebar sidebar-fixed" id="sidebar">
		<ul class="nav nav-list">
			{% if NEED_VALIDATION %}
			{% set sections = {
				user: {
					label: 'Utilisateurs',
					icon: 'group'
				},
				validation: {
					label: 'Validations',
					icon: 'check'
				},
				idea: {
					label: 'Idées',
					icon: 'lightbulb'
				},ideacategory: {
					label: 'Catégories d\'idée',
					icon: 'lightbulb'
				},
				ideacategoryaccess: {
					label: 'Autorisations Idées',
					icon: 'key'
				},
				ideaexport: {
					label: 'Export des idées',
					icon: 'download-alt'
				},
                userexport: {
                label: 'Export des users',
                icon: 'download-alt'
                }
			} %}
			{% endif %}
			{% if not NEED_VALIDATION %}
			{% set sections = {
				user: {
					label: 'Utilisateurs',
					icon: 'group'
				},
				idea: {
					label: 'Idées',
					icon: 'lightbulb'
				},
                ideacategory: {
					label: 'Catégories d\'idée',
					icon: 'lightbulb'
				},
				ideacategoryaccess: {
					label: 'Autorisations Idées',
					icon: 'key'
				},
				ideaexport: {
					label: 'Export des idées',
					icon: 'download-alt'
				},
                userexport: {
                label: 'Export des users',
                icon: 'download-alt'
                }
			} %}
			{% endif %}

			<li{% if server.REQUEST_URI == '/admin/' or server.REQUEST_URI == '/admin' %} class="active"{% endif %}>
				<a href="/admin/">
					<i class="icon-dashboard"></i>
					<span class="menu-text"> Accueil </span>
				</a>
			</li>
			{% for uri,section in sections %}
				<li{% if ('/admin/' ~ uri ~ '/') in server.REQUEST_URI %} class="active"{% endif %}>
                    {% if uri == 'userexport' %}
					<a href="/admin/{{ uri }}/new">
                    {% else %}
                    <a href="/admin/{{ uri }}/all">
                    {% endif %}
						<i class="icon-{{ section.icon }}"></i>
						<span class="menu-text">{{ section.label }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="sidebar-collapse" id="sidebar-collapse">
			<i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
			   data-icon2="icon-double-angle-right"></i>
		</div>
	</div>


	<div class="main-content">
		<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
			<ul class="breadcrumb">
				{% block breadcrumb %}
					<li>
						<i class="icon-home home-icon"></i>
						<a href="/admin/">Accueil</a>
							<span class="divider">
								<i class="icon-angle-right arrow-icon"></i>
							</span>
					</li>
					<li>
						<i class="home-icon icon-{{ sections[this.chapter].icon }}"></i>
						<a href="/admin/{{ this.chapter }}/all">{{ sections[this.chapter].label }}</a>
							<span class="divider">
								<i class="icon-angle-right arrow-icon"></i>
							</span>
					</li>
					<li class="active">{{ this.page == 'edit' ? 'Edition' : 'Liste' }}</li>
				{% endblock %}
			</ul>
		</div>
		<div class="page-content">
			<div class="page-header">
				{% block page_header '' %}
			</div>
			{% block flashes %}
				{% if flashes is defined and flashes|length > 0 %}
					<div id="flashes-container">
						{% for type,messages in flashes %}
							<ul class="alert alert-{{ type == 'notice' ? 'info' : (type == 'error' ? 'danger' : 'success') }}">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								{% for message in messages %}
									<li class="{{ type }}">{{ message }}</li>
								{% endfor %}
							</ul>
						{% endfor %}
					</div>
				{% endif %}
			{% endblock %}
			{% block content '' %}
		</div>
	</div>
</div>
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
	<i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

<script type="text/javascript">
	if ("ontouchend" in document) document.write("<script src='assets/admin/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="/assets/admin/js/bootstrap.min.js"></script>

<!--page specific plugin scripts-->

<!--[if lte IE 8]>
<script src="admin/admin/js/excanvas.min.js"></script>
<![endif]-->

<script src="/assets/admin/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/admin/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/admin/js/chosen.jquery.min.js"></script>
<script src="/assets/admin/js/fuelux/fuelux.spinner.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="/assets/js/date-time/locales/bootstrap-datepicker.fr.js"></script>
<script src="/assets/js/date-time/moment.min.js"></script>
<script src="/assets/js/date-time/daterangepicker.min.js"></script>
<script src="/assets/admin/js/bootstrap-colorpicker.min.js"></script>
<script src="/assets/admin/js/jquery.knob.min.js"></script>
<script src="/assets/admin/js/jquery.autosize-min.js"></script>
<script src="/assets/admin/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="/assets/admin/js/jquery.maskedinput.min.js"></script>
<script src="/assets/admin/js/bootstrap-tag.min.js"></script>
<script src="/assets/admin/js/bootstrap-datetimepicker.min.js"></script>

<!--ace scripts-->

<script src="/assets/admin/js/ace-elements.min.js"></script>
<script src="/assets/admin/js/ace.min.js"></script>
<script src="/assets/admin/js/common.js"></script>

<!--inline scripts related to this page-->

<script type="text/javascript">
	jQuery(function ($) {
		//Android's default browser somehow is confused when tapping on label which will lead to dragging the task
		//so disable dragging when clicking on label
		var agent = navigator.userAgent.toLowerCase();
		if ("ontouchstart" in document && /applewebkit/.test(agent) && /android/.test(agent))
			$('#tasks').on('touchstart', function (e) {
				var li = $(e.target).closest('#tasks li');
				if (li.length == 0)return;
				var label = li.find('label.inline').get(0);
				if (label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation();
			});

		$('#tasks').sortable({
					opacity: 0.8,
					revert: true,
					forceHelperSize: true,
					placeholder: 'draggable-placeholder',
					forcePlaceholderSize: true,
					tolerance: 'pointer',
					stop: function (event, ui) {//just for Chrome!!!! so that dropdowns on items don't appear below other items after being moved
						$(ui.item).css('z-index', 'auto');
					}
				}
		);
		$('#tasks').disableSelection();
		$('#tasks input:checkbox').removeAttr('checked').on('click', function () {
			if (this.checked) $(this).closest('li').addClass('selected');
			else $(this).closest('li').removeClass('selected');
		});
	});
	$('.date-picker').datepicker({
		autoclose: true,
		language: 'fr'
	});
</script>
</body>
</html>