{% block list_mailto %}
	{% if v|length > 0 %}
		{% for m in v %}<span class="label">{{m.name}}</span>{% endfor %}
		<div class="action-buttons">
			<a title="Contacter les pilotes"
			   href="mailto:{% for m in v %}{% if loop.index > 1 %},{% endif %}{{ m.email }}{% endfor %}">
				<i class="icon-envelope"></i>
			</a>
		</div>
	{% endif %}
{% endblock %}

{% block list_array %}
	{% for m in v %}{% if loop.index > 1 %}, {% endif %}{{ m }}{% endfor %}
{% endblock %}

{% block list_idea_status %}
	{% if value in ['draft', 'waiting', 'study', 'estimate', 'experiment', 'confirmed'] %}
		<span class="label label-success">{{ v }}</span>
	{% elseif value == 'refused' %}
		<span class="label label-important">{{ v }}</span>
	{% else %}
		<span class="label label-warning">{{ v }}</span>
	{% endif %}
{% endblock %}

{% block list_closed %}
	{% if value %}
		<span class="label label-inversed">Close</span>
	{% endif %}
{% endblock %}


{% block list_allow %}
	{% if value %}
		<span class="label label-success">Autorisé</span>
	{% endif %}
{% endblock %}

{% block list_workflow %}
	{% if v and v in ['waiting', 'study', 'estimate'] %}
	<select data-object="{{ this.chapter }}" data-id="{{ d[d.type ~ '_id'] }}" class="workflow">
		<option value="0">Action...</option>
		{% if v == 'study' %}
			<option value="waiting">Etudier</option>
		{% endif %}
		{% if v == 'waiting' %}
			<option value="estimate">En cours d'estimation</option>
		{% endif %}
		{% if v != 'study' %}
			<option value="confirmed">Mettre en oeuvre</option>
			<option value="experiment">Expérimenter</option>
		{% endif %}
		<option value="duplicate">Déjà existant</option>
		<option value="refused">Refuser</option>
	</select>
	{% endif %}
{% endblock %}

{% block list_validation %}
	{% if value %}
		<a class="green ideavalidate" data-id="{{ d[d.type ~ '_id'] }}" href="#" title="Valider"><i class="icon-ok bigger-130"></i></a>
		<a class="red idearefuse" data-id="{{ d[d.type ~ '_id'] }}" href="#" title="Refuser"><i class="icon-remove bigger-130"></i></a>
	{% endif %}
{% endblock %}