{% extends 'admin/layout.html.twig' %}
{% import 'admin/paginate.html.twig' as pager %}
{% use 'admin/list_theme.html.twig' %}

{% if current_path is not defined %}
	{% set current_path = '' %}
{% endif %}

{% block page_header %}
	<h1>
		{{ sections[this.chapter].label }}
		<small>
			<i class="icon-double-angle-right"></i>
			{{ nb_rows }} enregistrement(s)
		</small>
		{% if form_config.new %}
			<a href="/admin/{{ this.chapter }}/new" class="btn btn-success pull-right">
				<i class="icon icon-plus"></i> Nouveau
			</a>
		{% endif %}
	</h1>
{% endblock %}

{% block content %}
	<div class="modal fade" id="refuseModal" tabindex="-1" role="dialog" aria-labelledby="refuseModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="refuseModalLabel">Refuser une idée</h4>
	      </div>
	      <div class="modal-body">
	        <textarea id="refuseModalMsg" class="field span5" id="textarea" rows="6" placeholder="Veuillez indiquer le motif du refus"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button id="refuseModalBtn" type="button" class="btn btn-primary">Envoyer</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="statusUpdateCommentModal" tabindex="-1" role="dialog" aria-labelledby="statusUpdateCommentModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
			<input type="hidden" id="statusUpdateCommentModalAction" value=""/>
			<input type="hidden" id="statusUpdateCommentModalId" value=""/>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="statusUpdateCommentModalLabel">Changer le status de l'idée</h4>
	      </div>
	      <div class="modal-body">
	        <textarea id="statusUpdateCommentModalMsg" class="field span5" id="textarea" rows="6" placeholder="Motif ..."></textarea>
	      </div>
	      <div class="modal-footer">
	        <button id="statusUpdateCommentModalBtn" type="button" class="btn btn-primary">Envoyer</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row-fluid">
		{% block filters %}
			{% if filters is defined and filters|length > 0 %}
				{% include 'admin/filters.html.twig' %}
			{% endif %}
		{% endblock %}
	</div>
	<div class="row-fluid">
		{% block table %}
			<div{% if filters is defined and filters|length > 0 %} class="span8"{% endif %}>
				{% if selection_actions is defined %}
				<form name="form" id="form" method="post" action="/admin/{{ this.chapter }}/apply_action">
					{% endif %}
					<table class="table table-striped table-bordered table-hover">
						<thead>
						{% if selection_actions is defined %}
							<th class="sel-col">
								<label>
									<input type="checkbox" class="ace">
									<span class="lbl"></span>
								</label>
							</th>
						{% endif %}
						{% for key, column in columns %}
							<th>{{ column.label }}</th>
						{% endfor %}
						{% if form_config.edit or form_config.delete %}
							<th></th>
						{% endif %}
						{% if actions is defined %}
							{% for uri, action in actions %}
								<th>{{ action }}</th>
							{% endfor %}
						{% endif %}
						</thead>
						<tbody>
						{% for d in data %}
							<tr>
								{% if selection_actions is defined %}
									<td class="sel-col">
										<label>
											<input type="checkbox" class="ace" name="selection[]"
												   value="{{ d[d.type ~ '_id'] }}">
											<span class="lbl"></span>
										</label>
									</td>
								{% endif %}
								{% for key, column in columns %}
									{% if (key == 'workflow' or key == 'validation') %}
										{% set v = format(d, 'status') %}
										<td>{{ block('list_' ~ key) }}</td>
									{% else %}
										{% set v = format(d, key) %}
										{% set value = format(d, key) %}
										{% if columns[key].translations is defined %}
											{% set v = columns[key].translations[v] %}
										{% endif %}
										{% if column.truncate is defined %}
											{% set v = v|truncate(column.truncate) %}
										{% endif %}
										<td>
											{% if columns[key].type is defined %}
												{{ block('list_' ~ columns[key].type) }}
											{% else %}
												{{ v }}
											{% endif %}
										</td>
									{% endif %}
								{% endfor %}


								{% if form_config.edit or form_config.delete %}
									<td class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
										{% if form_config.edit %}
											<a class="green"
											   href="/admin/{{ this.chapter }}/{{ d[d.type ~ '_id'] }}?edit"
											   title="Editer">
												<i class="icon-pencil bigger-130"></i>
											</a>
										{% endif %}
										{% if form_config.delete %}
											<a class="red"
											   href="/admin/{{ this.chapter }}/{{ d[d.type ~ '_id'] }}?destroy"
											   title="Supprimer">
												<i class="icon-trash bigger-130"></i>
											</a>
										{% endif %}
									</td>
								{% endif %}
								{% if actions is defined %}
									{% for uri, action in actions %}
										<td><a href="/{{ uri }}">{{ action }}</a></td>
									{% endfor %}
								{% endif %}
							</tr>
						{% endfor %}
						</tbody>
					</table>

					{% if selection_actions is defined %}
                        <div class="well">
                            <div class="left">
                                Pour la sélection :
                                <select id="action" name="action" onchange="changeAction();">
                                    <option id="choisir" value="">Choisir ...</option>
                                    {% for action,label in selection_actions %}
                                        <option id="{{ action }}" value="{{ action }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if selection_actions['attribute_idea'] is defined %}
                            <div class="middle">
                                <input type="hidden" name="attribute_idea" value="">
                                <div class="operators" id="operators">
                                    <div class="team-wrap">
                                        <div class="add-users-magicsuggest">
                                            <div class="mg-wrap">
                                                <div id="users-mg-attribute_idea" name="users-mg-attribute_idea"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if selection_actions['update_status'] is defined %}
                            <div class="middle status" id="status">
                                <select id="action_statut" name="update_status" class="changeStatus">
                                    <option id="choisir_statut" value="">Statut ...</option>
                                    {% for action,label in status %}
                                        <option id="{{ action }}" value="{{ action }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}
                            <button type="submit">OK</button>
                        </div>
                </form>
                {% endif %}

		{% endblock %}
	</div>
	<div class="clearfix">
		{{ pager.paginate(pages_count, current_path) }}
	</div>

<script>
    function changeAction(){
        if(document.getElementById('action').value == 'attribute_idea'){
            document.getElementById('operators').style.display = 'block';
            document.getElementById('status').style.display = 'none';
        }
        if(document.getElementById("action").value == 'update_status'){
            document.getElementById('operators').style.display = 'none';
            document.getElementById('status').style.display = 'block';
        }
        if(document.getElementById("action").value == 'close'){
            document.getElementById('operators').style.display = 'none';
            document.getElementById('status').style.display = 'none';
        }
        if(document.getElementById("action").value == 'unclose'){
            document.getElementById('operators').style.display = 'none';
            document.getElementById('status').style.display = 'none';
        }
        if(document.getElementById("action").value == 'choisir'){
            document.getElementById('operators').style.display = 'none';
            document.getElementById('status').style.display = 'none';
        }
    };
    $(function () {
        $(".operators").css({display: 'none' });
        $(".status").css({display: 'none' });
        $(".team-user-wrap-attribute_id .remove").click(function (e) {
            e.preventDefault();
            $(this).parents(".team-user-wrap-attribute_id").eq(0).remove();
        });
        var render = function (v) {
            return '<div class="team-user-wrap-attribute_id">' + v.name + '</div>' +
                    '<input type="hidden" name="attribute_idea" value="' + v.id + '">';
        }
        var mg = $('#users-mg-attribute_idea').magicSuggest({
            data: "/user/ajax_filter_user",
            selectionPosition: 'inner',
            selectionStacked: true,
            allowFreeEntries: false,
            strictSuggest: false,
            width: 230,
            emptyText: '',
            maxSelection: 1,
            maxSelectionRenderer: function () {
                return ''
            },
            selectionRenderer: render,
            renderer: render
        });
    });
    function getSelection(){
        var tab_selections = new Array();
        var j=0;
        for (var i=0; i < document.getElementsByName('selection[]').length; i++)
        {
            if (document.getElementsByName('selection[]')[i].checked && document.getElementsByName('selection[]')[i].checked != 'undefined')
            {
                tab_selections[j]=document.getElementsByName('selection[]')[i].value;
                j++;
            }
        }
        return tab_selections;
    };
    $('.changeStatus').change(function () {
        var message = '';
        var tab_selections = getSelection();
        var status = this.form.update_status.value;
        $('#statusUpdateCommentModalAction').val($(this).val());
        $('#statusUpdateCommentModalId').val($(this).data("id"));
        $('#statusUpdateCommentModalBtn').click(function () {
            message = $('#statusUpdateCommentModalMsg').val();
            gotoUrl('/admin/idea/apply_action/', {'action':'update_status', 'selection[]':tab_selections.toString(), 'message':message , 'update_status':status});
        });
        $('#statusUpdateCommentModal').modal({
            backdrop: true,
            keyboard: true
        });
        $('#statusUpdateCommentModal').on('hidden.bs.modal', function (e) {
            location.reload();
        })
    });
</script>
{% endblock %}