{% macro paginate(total, current_path, distance = 2, arrows = true) %}
	{% if total > 0 %}
		<div class="pagination">
			{% set current = get('page', 1) %}
			{% set start = current - distance %}
			{% set end = current + distance %}

			{% if (total - current) < distance %}
				{% set start = start - min([distance, distance - (total - current)]) %}
			{% endif %}
			{% if (current - 1) < distance %}
				{% set end = end + min([distance, distance - (current - 1)]) %}
			{% endif %}

			{# page bounding #}
			{% set current = current >= 1 ? current : 1 %}
			{% set current = current <= total ? current : total %}
			{% set start = start >= 1 ? start : 1 %}
			{% set end = end <= total ? end : total %}
			<ul>
				{% if arrows %}
					<li {% if current == 1 %}class="disabled"{% endif %}><a
								href="{% if current > 1 %}?{{ request.params|merge({page: current - 1})|build_query }}{% else %}#{% endif %}">&laquo;</a>
					</li>
				{% endif %}

				{% for i in range(start, end) %}
					<li class="{% if current == i %}active{% endif %}">
						<a href="?{{ current_path }}&page={{ i }}">
							{{ i }}
						</a>
					</li>
				{% endfor %}

				{% if arrows %}
					<li {% if current == total %}class="disabled"{% endif %}><a
								href="{% if current < total %}?{{ request.params|merge({page: current + 1})|build_query }}{% else %}#{% endif %}">&raquo;</a>
					</li>
				{% endif %}
			</ul>
		</div>
	{% endif %}
{% endmacro %}