.mce-i-icons {
	background: url('/assets/img/icon.png') !important;
}
.widget-header span {
	float:right;
	margin:10px 10px 0 0;
}
.widget-header span a {
	text-decoration: none;
}
.promote_text {
	font-family: 'Lobster', cursive;
	font-size: 24px;
	color: #0099ff;
	font-weight: 500;
	line-height: 1.1;
	display:block !important;
}
textarea.promote_text {
	width:470px;
}
.promote_text:focus {
	color: #0099ff;
}
.promote_label {
	cursor:pointer;
}
.delete_picture {
	position:absolute;
	margin-left: 85px;
	font-weight:bold;
	font-size:20px;
	color:red;
	text-decoration: none !important;
}

table.table .sel-col {
	width: 10px;
}

table.table td.right-col label {
	display: inline-block;
	margin: 0 20px 0 5px;
}

.filter label {
	font-size: 12px;
}

.team-wrap {
	margin-bottom: 20px;
}

.team-wrap .add-team-user {
	margin-bottom: 15px;
}

.team-wrap .add-team-user a:hover {
	text-decoration: none;
}

.team-wrap .add-team-user a span {
	vertical-align: bottom;
	font-weight: bold;
}

.team-wrap .mg-wrap .ms-sel-ctn .ms-sel-item {
	background: #d1d1d1;
}

.team-wrap .mg-wrap .ms-sel-item {
	padding: 10px;
	width: 234px;
	float: left;
}

.ms-sel-item .team-user-wrap,
.ms-sel-item .team-user-wrap-attribute_id {
	float: left;
	width: 215px;
}

.filter .team-wrap {
	float: left;
	margin: 0;
}

.filter .team-wrap .mg-wrap .ms-sel-item,
.well .team-wrap .mg-wrap .ms-sel-item {
	width: auto;
	padding: 1px 10px;
	background: #797979;
}
.filter .ms-sel-item .team-user-wrap,
.well .ms-sel-item .team-user-wrap-attribute_id {
	width: auto;
}

.left {
    width: 350px;
    float: left;
}

.middle {
    float: left;
    width: 260px;
}

.mg-wrap .category-all {
	text-align: right;
	padding: 15px 0 0;
}

.mg-wrap span {
	margin-bottom: 10px;
	display: block;
}

.mg-wrap .ms-ctn {
	margin-bottom: 10px;
}

.mg-wrap .ms-sel-ctn .ms-sel-item {
	display: inline-block;
}

.mg-wrap .ms-sel-item ._cb {
	display: none;
}

.mg-wrap .ms-res-item .team-user-wrap {
	*zoom: 1;
}

.mg-wrap .ms-res-item .team-user-wrap:before,
.mg-wrap .ms-res-item .team-user-wrap:after {
	display: table;
	content: "";
	line-height: 0;
}

.mg-wrap .ms-res-item .team-user-wrap:after {
	clear: both;
}

.mg-wrap .ms-res-item ._cb {
	clear: both;
}

.mg-wrap .ms-sel-item img,
.mg-wrap .ms-res-item img {
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 10px;
}

.mg-wrap .ms-sel-item .res-content,
.mg-wrap .ms-res-item .res-content {
	overflow: hidden;
}

.mg-wrap .ms-sel-item .res-content .res-name,
.mg-wrap .ms-res-item .res-content .res-name {
	padding-top: 4px;
	font-style: bold;
	color: #333;
}

.mg-wrap .ms-sel-item .res-content .res-desc,
.mg-wrap .ms-res-item .res-content .res-desc {
	color: #999;
	font-size: 80%;
}

.datepicker-dropdown {
	margin-left: -90px;
}