body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.384615384615385;
	color: #666666;
}
h1 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 33px;
	margin-top: 18px;
	margin-bottom: 9px;
	font-weight: 500;
	line-height: 1.1;
	color: #0099ff;
}
h2 {
	font-size: 20px;
	margin-top: 18px;
	margin-bottom: 9px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: #0099ff;
}