{% extends 'partial/notification/notification.html.twig' %}
{% block content_action %}
	a ajouté le jalon
	<a href="/{{ notification.object.key }}">{{ notification.object.name }}</a>
	à l'expérimentation
	<a href="/{{ context.key }}">{{ context.name }}</a>
{% endblock %}