{% if notification.user_id == me.user_id %}
	votre
{% else %}
	une
{% endif %}
<a href="/{{ context.key }}">publication</a>
{% if context.context is defined and context.context %}
	dans
	<a href="/{{ context.context.key }}">{{ context.context.name }}</a>
{% elseif context.object is defined and context.object %}
	{% if notification.context.action_type != 'create' %}
		dans
	{% endif %}
	<a href="/{{ context.object.key }}">{{ context.object.name }}</a>

{% endif %}
