{% extends 'partial/notification/notification.html.twig' %}
{% block content_action %}
	a noté l'idée
	<a href="/{{ context.key }}">{{ context.name }}</a>
	<strong>{{ notification.object.value }}/5</strong>
{% endblock %}