{% extends 'partial/notification/notification.html.twig' %}
{% block content_action %}
	a fait passer votre idée
	<a href="/{{ context.key }}">{{ context.name }}</a> au statut "Déjà existante"
{% endblock %}