{% extends 'partial/notification/notification.html.twig' %}
{% block content_action %}
	a créé l'innovation <a
		href="/{{ notification.object.key }}">{{ notification.object.name }}</a> à partir de l'idée <a
		href="/{{ context.key }}">{{ context.name }}</a>
{% endblock %}