{% extends 'partial/notification/notification.html.twig' %}
{% block content_action %}
	a ajouté le document
	<a href="/document/all?{{ context.type }}_id={{ context[context.type ~ '_id'] }}">{{ notification.object.name }}</a>

	à {% block context_type %}l'innovation{% endblock %}
	<a href="/{{ context.key }}">{{ context.name }}</a>
	<br /><a href="/document/download?document_id={{ notification.object[notification.object.type ~ '_id'] }}" title="Télécharger">
		<i class="basic-s-blue_38"></i>
	</a>
{% endblock %}