{% set picture_url = notification.actor.picture.url %}

{% set notification_icons = {
group: 'custom-blue_54',
object_comment: 'basic-s-blue_44',
object_like: 'custom-blue_52',
object_rating: 'custom-blue_53',
innovation: 'basic-s-blue_15',
idea: 'basic-s-blue_15',
user: 'basic-s-blue_19',
feed: 'basic-s-blue_34',
experimentation: 'basic-s-blue_27',
post: 'basic-s-blue_44',
document: 'basic-s-blue_20',
milestone: 'basic-s-blue_35',
object_share: 'basic-s-blue_33'
} %}

<div class="notification{% if not notification.read %}
	 unread{% endif %}" href="{% block url '/' ~ notification.context.key %}">
	<div class="notification-status">
		<div class="{% block notification_icon notification_icons[notification.object is defined ? notification.object.type : context.type] %}"></div>
	</div>
	<div class="notification-text">
		<span><a href="/{{ notification.actor.key }}">{{ notification.actor.name }}</a></span>
		{% block content_action '' %}
	</div>
	<div class="notification-hour">
		{{ notification.created_at.fromNow() }}
	</div>
</div>