{% extends 'partial/notification/object-like.html.twig' %}
{% block object_type %}
	votre <a href="/{{ context.object_table }}/{{ context.object_id }}#{{ context.key }}">commentaire</a> :
	{{ context.content|truncate(50) }}
{% endblock %}