{% extends 'partial/notification/notification.html.twig' %}
{% block content_action %}
	vous partage {% block object_type '' %}
	<a href="/{{ context.key }}">{{ context.name }}</a>
	{% if notification.object.comment %}
	: <i>{{ notification.object.comment|nl2br }}</i>
	{% endif %}
{% endblock %}