{% extends 'partial/notification/notification.html.twig' %}
{% block content_action %}
	a commenté {% block object_type '' %}
	<a href="/{{ context.key }}">{{ context.name }}</a>
	le <a href="/{{ notification.context.key }}">post</a> :
	"{{ context.content|truncate(10) }}"
{% endblock %}