{% extends 'partial/notification/object-like.html.twig' %}
{% block content_action %}
	aime {% block object_type '' %}
	le <a href="/{{ notification.context.key }}">post</a> :
	"{{ context.content|truncate(10) }}"
{% endblock %}