.content {	

	.tabs {
		.nav.nav-tabs { margin-bottom: 0; }
	}
	.tab-content {
		background-color: @white;
		padding: 10px;

		.tab-pane {
			padding-top: 10px;
		}
	}
}
.content-wrp {
	background-color: @white;
	padding: 15px;
}
.idea-all {

	.filter {
		padding: 10px 0;
	}
}

.report-abuse a, .read-more { 
	color: @primary;
	font-size: 11px;
	.gotham-book;
	text-decoration: underline;
}

.caret {
	border-top: 6px solid @white;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

.heading {
	.clearfix;
	margin: 12px 0 0;
	
	&.links > span {
		> a {
			display: inline-block;
			padding-top: 3px;

			&:hover {
				.primary;
			}
		}
		> i {
			vertical-align: top;
		}
	}	
	.btn.square, .progress {
		float: right;
	}
	.title {	

		& a {
			.secondary;
		}
		float: left;
		padding: 5px 15px 5px 0;
		//height: 22px;
		max-width: 63%;
		vertical-align: middle;
		display: inline-block;		
		font-size: 16px;
		line-height: 16px;		
	}
	.progress {
		width: 124px;
		margin: 0;
	}
}

.nb-idea {
	float: left;
	display: inline-block;
	font-size: 14px;
}
.nb-comments {
	.primary;
	font-size: 16px;
	margin: 10px 0 15px;
}

.date, .tags {
	margin: 8px 4px 0 0;
}	
.tags {	
	.primary;

	&.secondary, &.secondary .wrap-tags a { .secondary; }

	> i {
		float: left;
		margin-right: 10px;
	}
	.wrap-tags {
		float: left;
	}
}

.author {
	> p, .one-user-on-a-list {
		margin-bottom: 0;
	}
}

.trash {
	&:hover { .opacity(50); }
}

.add {
	display: inline-block;	
	.bold;
	font-size: 3em;
	line-height: 1em;
	cursor: pointer;
}

.marker {
	vertical-align: top;
}