footer {
	height: 49px;
	margin-top: 20px;
	background-color: @white;

	.navbar {		
		margin-bottom: 0;

		nav > ul {			
			margin: 0 10px;
			.clearfix();

			li {
				float: left;

				> a, .divider {
					display: inline-block;
					.ie7-inline-block();
					float: left;
					text-shadow: none;					
					padding: 17px 0;
				}
				> a {
					padding: 17px 10px 18px;
					.uppercase;
					.gotham-bold;
					color: @secondary;
					.bold;
				}

			}
		}	

	}

}
