.form-horizontal {
	.clearfix;	

	.control-label {
		.uppercase;
		.gotham-bold;
		text-align: left;
	}

	.controls {

		input[type="text"], input[type="password"], textarea, .select {
			.gray-input;
		}
		.select {
			*background-color: transparent;
		}
		input[type="text"], input[type="password"], textarea {
			width: 96%;
		}
		.select {
			width: 98.76%;
			height: 32px;			

			select {
				width: 107%;
				*width: 100%;
				.secondary2;
			}
		}
		textarea {
			//height: 180px;
		}
		.path {
			display: inline-block;
			.gotham-book;
			.italic;
		}
		.path, .trash i {
			vertical-align: bottom;
		}
	}
	.control-group {
		&.full-size {
			.controls {
				margin-left: 0;
			}
		}
		.checkbox {
			.gotham-book;
		}
	}

}

select {
	height: 32px;
	line-height: 32px;
	padding: 6px;
}
.select {
	height: 28px;
	position: relative;
	overflow: hidden;
	background-color: @white;
	*background-color: transparent;
	//z-index: 0;

	select {
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;
		border: 0;
		background: transparent;
	}

	.bg, .caret {
		position: absolute;
		display: block;		
		right: 10px;
		*display: none;
	}
	.caret {
		top: 14px;
		border-top: 6px solid @white;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;

	}
	.bg {
		right: 0;
		top: 0;
		.square(32px);
		background-color: @primary;
	}
}

.filter {
	.clearfix;

	> form, > span {
		float: right;
	}
	> span {
		line-height: 24px;
		*line-height: 18px;
	}

	.caret {
		top: 12px;
	}

	.select {
		overflow: hidden;
		float: left;
		width: 200px;
		margin: 0 0 0 20px;

		select {
			width: 250px;
			*width: 200px;
			height: 28px;
			line-height: 28px;			
		}
	}
}


// DO NOT REMOVE
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #bcbcbc;
  border-color: rgba(82, 168, 236, 0.8);
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
	color: #bcbcbc;
	border-color: rgba(82, 168, 236, 0.8);;
	-webkit-box-shadow: 0 0 6px rgba(82, 168, 236, 0.8);
	-moz-box-shadow: 0 0 6px rgba(82, 168, 236, 0.8);
	-o-box-shadow: 0 0 6px rgba(82, 168, 236, 0.8);
	        box-shadow: 0 0 6px rgba(82, 168, 236, 0.8);
}