// > IE8, IE9, IE10
.gt-ie8 {

}

// IE 8
.lt-ie9 {

}

// IE7
.lt-ie9.lt-ie8 {

	// nav :before border
	.header-nav .navbar .nav > li {
		border-left: 2px solid @white;

		&:first-child {
			border: 0;
		}
	}
	
}

// IE7, IE8, IE9>
.gt-ie8,
.lt-ie9,
.lt-ie8 {


}