header {
	.clearfix;
	height: 165px;	
	background-color: @white;


	.logo {
		clear: both;
		display: block;
		margin-top: 15px;		
	}

	.action {
		padding-top: 18px;
		
		.user {
			position: relative;
			float: right;
			z-index: @zindexDropdown;			

			.dropdown .dropdown-menu li a > div {
				height: 18px;
				display: inline-block;				
				vertical-align: top;							
			}			
			.profile-icon {
				width: 20px;	
				background: 3px 3px url("@{img-path}/sprite/profile.png") no-repeat;	
				margin-right: 20px;							
			}
			.friends-icon {
				width: 25px;	
				background: url("@{img-path}/humans.png") no-repeat;				
				margin-right: 15px;							
			}
			.members-icon {
				width: 30px;
				background: url("@{img-path}/members.png") no-repeat;
				margin-right: 10px;				
			}

			> li {
				float: left;				
				
				&.nb {
					margin: 14px 0 0 35px;

					a { 
						position: relative;

						&:hover { 
							background: none;
						}
					}

					.label {
						min-width: 12px;
						position: absolute;
						top: -8px;
						left: 18px;
						z-index: @zindexPopover;
						padding: 2px;
						background-color: @primary;
						text-align: center;
						.verdana;
						font-size: 9px;
						line-height: 11px !important;						
					}
				}
				.dropdown-menu {
					.border-radius(0);
					padding: 0;					
				}
				.dropdown-menu > li > a:hover,
				.dropdown-menu > li > a:focus,
				.dropdown-submenu:hover > a,
				.dropdown-submenu:focus > a {
					background: none;
					.reset-filter();
					background-color: @primary;
				}
			}
	

			> li.dropdown {
				margin: 0 0 0 20px;

				.caret {
					margin: 7px 0 0 20px;
					border-top: 6px solid @white;
					border-right: 6px solid transparent;
					border-left: 6px solid transparent;
				}
				.dropdown-toggle {

					> span {
						.uppercase;
					}
				}	

				.dropdown-menu {
					width: 100%;

					li { 
						border-bottom: 1px solid #e5e5e5;
					}

					a { 
						padding: 5px 10px;

						&:hover { 
							.transition(all .15s ease);
						}
						span { 
							margin-right: 10px;
						}
					}
				}
				> a {
					background-color: @primary;
					padding: 7px 10px 8px;
					.border-radius(4px);

					> img {
						display: inline-block;
						margin: -4px 5px 0 0;
					}
					> span {
						display: inline-block;	
						padding-top: 4px;				
						font-size: 14px;
						.white;
						.bold;
					}				
					
				}
			}

			.user-role {
				position: absolute;
				left: 0;				
				bottom: -20px;
				.verdana;
				text-align: center;
				color: @secondary;
				text-transform: none;
				font-weight: normal;
			}

		} // .user
	} // .action

} // .header
