/*
#Widgets
*/
aside {

//@ ---------------------------- common widget
	h5, .h5 { 
		.uppercase;
		font-size: 12px;
	}

	ul {
		display: inline-block;
		.ie7-inline-block();
		margin: 0 0 10px;
		list-style: none;

		&.bg {			
			padding: 3px 8px;
			.bold;

			&.children-bg {
				background-color: transparent;				
				padding: 0;

				> li {
					display: block;					
					padding: 3px 8px;
					margin-top: 10px;

					&:first-child {
						margin: 0;
					}
				}
				&.bullets > li {
					background-position: 10px 9px;
					padding-left: 28px;
				}
			}
		}
		&.bullets > li {
			background: 0 7px url("@{img-path}/common/bullet.png") no-repeat;
			padding: 0 0 0 18px;
			line-height: 22px;
		}
		li > div {
			margin-top: 5px;
			font-weight: normal;
			.verdana;
			font-size: 11px;
			line-height: 14px;
		}
	}

	.widget {
		margin: 15px 0;
		background-color: @white;		

		&:first-child { margin-top: 20px; }

		.wrap {
			position: relative;
			padding: 15px 10px;
		}
		a { color: @secondary; }

		.widget-header {
			background-color: @secondary3;
			padding: 12px 15px;
			font-size: 14px;			
			color: @white;
			.gotham-bold;
			text-transform: uppercase;		
		}

	} // .widget => common


//@ ---------------------------- .dashboard
	.dashboard {

		.since {
			display: block;
			.size(35px,100%);
			font-size: 10px;
			.clearfix;

			&:hover { text-decoration: none; }

			> i { float: right; }

		}
		ul {
			min-width: 170px;
		}
		h5 {			
			margin: 20px 0 10px;

			&.first { margin-top: 0; }
		}
		.bg.last { margin-bottom: 0; }

	} // .dashboard


//@ ---------------------------- .recommandation
	.recommandation {

		.sprite-members {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.wrap {
			> p {
				margin: 0;
			}
		}

	} // .recommandation


//@ ---------------------------- .users-recommandation
	.members-recommandation {

		.wrap {
			> p {
				margin: 0;
			}
			> ul {
				width: 100%;
			}
		}
	}

//@ ---------------------------- .btn idea
	
	.btn.idea {
		display: block;
		margin-bottom: 15px;
		padding-top: 8px;
		padding-bottom: 8px;
	}

} // aside