//-- colors

.white {
	color: @white;
}
.primary {
	color: @primary;
}
.primary2 {
	color: @primary2;
}
.secondary {
	color: @secondary;
}
.secondary2 {
	color: @secondary2;
}
.secondary3 {
	color: @secondary3;
}
.secondary4 {
	color: @secondary4;
}
.tertiary {
	color: @tertiary;
}
.tertiary2 {
	color: @tertiary2;
}
.tertiary3 {
	color: @tertiary3;
}

//-- fonts
.gotham-bold {
	font-family: 'Gotham Bold', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
}
.gotham-book {
	font-family: 'Gotham Book', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.gotham-medium {
	font-family: 'Gotham Medium', Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.verdana {
	font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

//-- reset
.mp-reset {
	margin: 0;
	padding: 0;
}
.btn-reset {
	border: 0;
}

//-- blocs
.push-up {
	margin-top: 15px !important;
}
.push-down {
	margin-bottom: 15px !important;
}
.push-r {
	margin-right: 15px !important;
}
.push-l {
	margin-left: 15px !important;
}
.l-push-down {
	margin-bottom: 25px !important;
}
.l-push-up {
	margin-top: 25px !important;
}
.bloc {
	background-color: @white;
	padding: 10px;
	margin: 15px 0;
}
.equals-height {
	overflow: hidden;
	padding-bottom: 500em !important;
	margin-bottom: -500em !important;

	> div:first-child { height: auto !important; }
}
.directions {
	clear: both;
	.clearfix();

	> * {
		display: inline-block;
		.ie7-inline-block();
	}

	.left {
		float: left;
	}
	.right {
		float: right;
	}
}

//-- position
.pos-r { position: relative; }
.pos-a { position: absolute; }
.pos-lt {
	left: 0;
	top: 0;
}
.pos-lb {
	left: 0;
	bottom: 0;
}
.pos-rt {
	right: 0;
	top: 0;
}
.pos-rb {
	right: 0;
	bottom: 0;
}
.va-m {
	vertical-align: middle;
}

//-- text
.lowercase {
	text-transform: lowercase;
}
.uppercase {
	text-transform: uppercase;
}
.bold {
	font-weight: bold;
}
.regular {
	font-weight: normal;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}

//-- forms
.gray-input {
	background-color: @tertiary !important;
	border: 0 !important;
	color: @secondary2 !important;
	.placeholder(@secondary2) !important;
}

//-- modals
.large-modal {
	width: 920px;
	margin-left: -460px;
}