// Old @vars ----------------------------------------------------------
// TO REMOVE

@blue:                  #9fb0b1;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #922f15;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

//- Path
@img-path: "../img";
@sprite-path: "../img/sprites";
@js-path: "../js";
@css-path: "../css";
@fonts-path: "../fonts";

// Links
// -------------------------
@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@font:        Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;

@base-size:          12px;
@base-height:        14px;


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


// New @vars ------------------------------------------------------------
@white: #FFF;

// Primaires : btn, liens
@primary: #00b9e4; // blue
@primary2: #47d5cd; // turquoise

// Secondaires : menus + textes
@secondary: #391909; // brown
@secondary2: #8B8178; // brown light
@secondary3: #B0B1A6; // gray
@secondary4: #DDDDD4; // gray light

//Tertiares : fonds
@tertiary: #F2F2F2; // gray light
@tertiary2: #E6F8FC; // blue light
@tertiary3: #FCFCFC; // white light