{% block content %}
	<div class="panel panel-default span9">
		<div class="panel-heading"><h3 class="panel-title"><strong>Connexion automatique</strong></h3></div>
		<p>Si vous êtes connecté au réseau interne AG2R LA MONDIALE</p>
		<div class="panel-body">
			<form role="form" method="post" action="/auth/action_login">
				<button type="submit" class="btn btn-sm btn-default">Connexion automatique</button>
			</form>
		</div>
	</div>
	<div class="panel panel-default span9">
		<div class="panel-heading"><h3 class="panel-title" id="authLogin"><strong>Connexion avec identifiants</strong></h3></div>
		<p>Si vous êtes connecté depuis votre domicile et/ou via une tablette</p>
		<div class="panel-body">
			<form role="form" method="post" action="/auth/action_login">
				<div class="form-group">
					<label for="exampleInputEmail1">Identifiant</label>
					<input type="email" class="form-control" style="border-radius:0px" name="email"
						   placeholder="Identifiant">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Mot de passe <a href="/auth/lostpassword">(mot de passe
							oublié)</a></label>
					<input type="password" class="form-control" style="border-radius:0px" name="password"
						   placeholder="Mot de passe">
				</div>
				<button type="submit" class="btn btn-sm btn-default">Connexion</button>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		var bIsIE = navigator.appName.indexOf("Microsoft") != -1;
		if (bIsIE) {
			var navVersion = navigator.appVersion;
			if ((navVersion.indexOf("MSIE 6.0") != -1) || (navVersion.indexOf("MSIE 7.0") != -1) || (navVersion.indexOf("MSIE 8.0") != -1)) {
				window.location.href = '/redirect.html';
			}
		}
	</script>
{% endblock %}