{% extends 'layout/layout.html.twig' %}

{% block content %}
	<div class="notifications notification-list content-wrp">

	<h3>Notifications</h3>

	<div class="bloc">

		<p class="push-down">Dernières notifications</p>

		{% for notification in notifications %}
			{% if notification.context %}
				{% include 'partial/notification/' ~ notification.context.type ~ '-' ~ notification.action_type ~ '.html.twig' with {
				context: notification.context
				} %}
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}