{% extends 'layout/layout.html.twig' %}
{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}
{% block content %}
	{% import 'common/paginate.html.twig' as pager %}

	<div class="message-all content-wrp">
		<div class="heading">
			<div class="title">Mes messages</div>
			<a href="/message/new" class="btn square">+ Nouveau message</a>
		</div>
		<p>{{ '%n% message|%n% messages'|plurialize(messages_count, {'%n%': messages_count}) }}</p>

		<div class="message-list">
			{% for message in messages %}
					{% include 'bloc/message/index/one_message_on_index_partial.html.twig' with {full_link:true} %}
			{% else %}
				<p>Vous n'avez pas de message</p>
			{% endfor %}
		</div>
		<script>
			$('.message-list .message').click(function (){
				document.location.href = $(this).find('h3 a').attr('href');
			});
		</script>
		<div class="paginate">
			{{ pager.paginate(pages_count) }}
		</div>

	</div>


{% endblock %}