<div class="bloc message media">
	<img src="{{ message.from_user.picture.url|img_crop(60) }}" class="media-object">

	<div class="media-body">
		<div class="media-heading">
			<h3>
				<a{% block user_link %} href="/message/{{ message.thread_id }}"
				   title="Lire le message de {{ message.from_user.full_name }}"
				   {% endblock %}
				>
					{{ message.from_user.full_name }}
				</a>
			</h3>
			<em class="time-ago">{{ message.created_at.fromNow() }}</em>
			<a href="{% block message_delete_url %}/message/{{ message.thread_id }}?destroy&all_thread=true{% endblock %}"
			   title="Supprimer" class="basic-brown_11"></a>
		</div>
		{% block message_content %}
			<p>{{ message.content|truncate(150) }}</p>
		{% endblock %}
	</div>
</div>
