{% extends 'bloc/breadcrumb.html.twig' %}
{% set _breadcrumb = {
'/group/all': 'Communautés'
} %}

{% if __breadcrumb is defined %}
	{% set _breadcrumb = _breadcrumb|merge(__breadcrumb) %}
{% endif %}
