{% extends 'layout.html.twig' %}
{% block content %}
Bonjour,<br>
<br>
Vous venez de recevoir une demande de contact via le site Innovation Participative AG2R LA MONDIALE!<br>
- Auteur du message : {{name}}<br>
- Message : {{message}}<br>
<br>
A bientôt!<br>
{% endblock %}