{% extends 'layout.html.twig' %}
{% block content %}
Bonjour,<br>
<br>
Vous venez de réinitialiser votre mot de passe pour vous connecter au site Innovation Participative d'AG2R LA MONDIALE !<br>
Voici vos identifiants :<br>
- email : {{email}}<br>
- mot de passe : {{password}}<br>
<br>
Ces codes sont à utiliser si vous accédez au site Innovation Participative via un ordinateur ou une tablette non connectée au réseau d’AG2R LA MONDIALE (par exemple de votre domicile).
<br>
Si vous êtes connecté au réseau, alors vous êtes automatiquement reconnu, pas besoin de ces codes.<br>
<br>
A bientôt !<br>
{% endblock %}