{% extends 'layout.html.twig' %}
{% block content %}
Cher administrateur,<br>
<br>
L’idée <b>{{name}}</b> vient d’être émise par <b>{{user}}</b>.<br>
<br>
Voici le contenu de cette idée :<br>
<br>
{{description}}
<br>
<br>
Pour la publier, rendez-vous sur <a href="http://idees.ag2rlamondiale.fr/admin/validation/all">http://idees.ag2rlamondiale.fr/admin/validation/all</a><br>
<br>
A bientôt!<br>
{% endblock %}