{% extends 'layout.html.twig' %}
{% block content %}
Bonjour {{firstname}},<br>
<br>
Le traitement de l'idée <b>{{title}}</b> postée par {{author}} vous a été confié.<br>
<br>
Cette proposition doit probablement rentrer dans votre périmètre d'activités. Si ce n'est pas le cas, vous pouvez réaffecter cette idée à la personne de votre choix en cliquant sur le bouton "Réaffecter l'idée" à partir du lien <a href="http://idees.ag2rlamondiale.fr/idea/{{idea_id}}">http://idees.ag2rlamondiale.fr/idea/{{idea_id}}</a><br>
<br>
Pour répondre à l'auteur de l'idée directement sur le site, vous disposez de 4 statuts:<br>
<br>
• Non retenu : pour les idées que vous ne souhaitez pas mettre en œuvre <br>
• Déjà existant : pour les idées déjà existantes ou déjà dans les réflexions en cours<br> 
• En cours d’estimation : pour les idées qui méritent d'être creusées avant décision finale<br> 
• Mis en œuvre : pour les idées qui ont été retenues et seront mises en œuvre grâce à la démarche d’Innovation Participative<br>
<br>
Voici le contenu de l'idée : {{title}}<br>
<br>
{{description}}<br>
<br>
Merci !<br>
{% endblock %}