{% extends 'layout.html.twig' %}
{% block content %}
Bonjour {{firstname}},<br>
<br>
Votre idée <b>{{title}}</b> vient de changer de statut!<br>
<br>
Découvrez le nouveau statut de votre idée en cliquant sur <a href="http://idees.ag2rlamondiale.fr/idea/{{idea_id}}">http://idees.ag2rlamondiale.fr/idea/{{idea_id}}</a><br>
<br>
A bientôt!<br>
{% endblock %}