{% extends 'layout.html.twig' %}
{% block content %}
Bonjour {{name}},<br>
<br>
Votre idée {{title}} vient d'être publiée sur le site d’Innovation Participative d'AG2R LA MONDIALE.<br>
<br>
Vous contribuez ainsi à l'amélioration de nos services. Un grand merci!<br>
<br>
Vous recevrez un mail à chaque fois que nous changerons le statut de votre idée ou qu’un collègue viendra commenter votre idée.<br>
<br>
Vous pouvez suivre l’évolution de votre idée (nombre de votes,…) en cliquant sur 
<a href="http://idees.ag2rlamondiale.fr/idea/{{idea_id}}">http://idees.ag2rlamondiale.fr/idea/{{idea_id}}</a><br>
<br>
Merci et bonnes idées !<br>
{% endblock %}