{% if idea.status is defined and (idea.status == "study" or idea.status == "waiting" or idea.status == "estimate") %}
	<div class="bloc action-rating" oid="{{ idea.key }}">
		{% set rating = idea.has_rated ? idea.rating : 0 %}
		{% if idea.has_rated %}
			<span class="extented-label">Note moyenne : </span>
		{% endif %}
		{% if not idea.has_rated and not idea.closed %}
			<div>Notez l'idée :</div>
		{% endif %}
		<ul class="star-rating{% if not idea.has_rated and not idea.closed %} ratable{% endif %}"
			{% if rating > 0 %}title="{{ rating }}/5"
			rating="{{ rating }}"{% endif %}>
			{% for i in 1..5 %}
				<li{% if idea.has_rated and i <= idea.rating_rounded %} class="active"{% endif %}><span></span></li>
			{% endfor %}
		</ul>
		{% if idea.has_rated %}
			<p>({{ '%n% vote|%n% votes'|plurialize(idea.ratings_count, {'%n%': idea.ratings_count}) }})</p>
			<div class="yours">
				Votre note :
				<span>{{ idea.my_rate.value }} <i class="custom-blue_53"></i></span>
			</div>
		{% endif %}
	</div>
{% endif %}
