<div class="author bloc">
	<p>Proposée par : </p>

	<div class="one-user-on-a-list">
		<div class="media">
			<!-- thumb -->
			<!--
			<a class="pull-left" href="/{{ idea.user.key }}">
				<img src="{{ idea.user.picture.url|img_crop(15) }}"
					 width="15" class="media-object">
			</a>
			-->
			<!-- text -->
			<div class="media-body">
				<!-- name -->
				<div class="name">
					<a href="/{{ idea.user.key }}">
						<span>{{ idea.user.name }}</span>
					</a>
				</div>
				{% if SOCIAL_ACTIVE %}
					<a href="/user/contact_request?contact={{ idea.user_id }}" class="pull-right"><i
							class="custom-blue_42"></i></a>
				{% endif %}
			</div>
		</div>
	</div>
</div>