{% if is_granted('OPERATOR', idea.key) and idea.status in ['waiting', 'study', 'estimate'] %}

	<a href="#{{ idea.idea_id }}" data-status="{{idea.status}}" class="btn primary status-btn">
		Statuer
	</a>
	<!--
	<a href="/innovation/new?from_idea_id={{ idea['idea_id'] }}" class="btn primary">
		Expérimenter
	</a>
	-->
{% endif %}
{#{% if is_granted('DELETE', idea.key) %}#}
	{#<a href="/{{ idea.key }}?destroy" onclick="if(!confirm('Êtes-vous sûr ?'))return false;"#}
	   {#class="btn primary2">#}
		{#Supprimer#}
	{#</a>#}
{#{% endif %}#}