{% if is_granted('EDIT', idea.key) %}
	{% if idea.status is defined and idea.status == "draft" %}
		<div class="title">{{ idea.name | truncate(28) }}</div>
	{% else %}
		<div class="title">{{ idea.name | truncate(36) }}</div>
	{% endif %}
{% else %}
	<div class="title">{{ idea.name }}</div>
{% endif %}
{% if is_granted('EDIT', idea.key) %}
	<div class="pull-right">
		<a class="btn primary2" href="/{{ idea.key }}?edit" title="Modifier l'idée">Modifier l'idée</a>
		{% if idea.status is defined and idea.status == "draft" %}		
			<a class="btn primary2" href="/{{ idea.key }}?destroy" title="Supprimer">Supprimer</a>
		{% endif %}	
		{% include 'partial/idea/status.html.twig' %}
	</div>
{% else %}
    <div class="pull-right">
        {% include 'partial/idea/status.html.twig' %}
    </div>
{% endif %}