{% if idea.status is defined %}
	{% if idea.status == 'waiting' %}
		<a class="status btn" href="/idea/all?filters%5Bstatus%5D=waiting">A l'étude</a>
	{% elseif idea.status == 'confirmed' %}
		<a class="status btn" href="/idea/all?filters%5Bstatus%5D=confirmed">Mise en oeuvre</a>
	{% elseif idea.status == 'experiment' %}
		<a class="status btn" href="/idea/all?filters%5Bstatus%5D=experiment">Retenue</a>
	{% elseif idea.status == 'draft' %}
		<a class="status btn" href="/idea/drafts">Brouillon</a>
	{% elseif idea.status == 'validation' %}
		<a class="status btn" href="/idea/all?filters%5Bstatus%5D=validation">Attente de validation</a>
	{% elseif idea.status == 'refused' %}
		<a class="status btn" href="/idea/all?filters%5Bstatus%5D=refused">Refusée</a>
	{% elseif idea.status == 'duplicate' %}
		<a class="status btn" href="/idea/all?filters%5Bstatus%5D=duplicate">Déjà existant</a>
	{% elseif idea.status == 'study' %}
		<a class="status btn" href="/idea/all?filters%5Bstatus%5D=study">A étudier</a>
	{% elseif idea.status == 'estimate' %}
		<a class="status btn" href="/idea/all?filters%5Bstatus%5D=estimate">En cours d'estimation</a>
	{% endif %}
{% endif %}
