<div class="directions">
	{% if idea.idea_category is defined %}
		<div class="tags left">
			<i class="custom-blue_28"></i>
			<div class="wrap-tags">
				<a href="/idea/all?filters%5Bstatus%5D=&filters%5Bcategory%5D={{ idea.idea_category_id }}" title="">{{ idea.idea_category.name }}</a>
			</div>
		</div>
	{% endif %}
	{% block heading_info %}
		<div class="date left">{{ idea.created_at.niceFormat('d %month Y') }}</div>
	{% endblock %}
	
	{% block status %}
		<div class="right">
			{% include 'partial/idea/status.html.twig' %}
		</div>
	{% endblock %}
</div>