{% if idea.tags is defined and idea.tags|length > 0 %}
	<div class="tags">
		<i class="custom-blue_28"></i>

		<div class="wrap-tags">
			{% for tag in idea.tags %}
				{% if not loop.first %}/{% endif %}
				<a>{{ tag.name }}</a>
			{% endfor %}
		</div>
	</div>
{% endif %}