{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}

{% block content %}

	{% import 'common/paginate.html.twig' as pager %}

	<div class="user-index content-wrp">
		<h3>Rechercher un membre</h3>

		<form id="search-user"class="form-horizontal">
			<div class="bloc search-block">
				<div class="control-group">

					<div class="row-fluid">
						<div class="span6">
							<input placeholder="Nom" type="text" name="last_name" class="gray-input"
								   value="{{ request.params.last_name is defined ? request.params.last_name : null }}">
						</div>

						<div class="span6">
							<input placeholder="Prénom" type="text" name="first_name" class="gray-input"
								   value="{{ request.params.first_name is defined ? request.params.first_name : null }}">
						</div>
					</div>
					<div class="row-fluid">

						<div class="span6">
							<input placeholder="Aptitude" type="text" name="skill" class="gray-input"
								   value="{{ request.params.skill is defined ? request.params.skill : null }}">
						</div>
						<div class="span6">
							
							<div class="controls">								
								<label class="select">
									<div class="bg">
										<span class="caret"></span>
									</div>
									<select name="jobposition_id" id="jobposition_id">
										<option value="">Choisir un métier ...</option>
										{% for job in job_positions %}
											<option value="{{ job.jobposition_id }}"{{ request.params.jobposition_id is defined and request.params.jobposition_id == job.jobposition_id ? ' selected' : '' }}>{{ job.name }}</option>
										{% endfor %}
									</select>
								</label>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="pull-right">
				<button class="btn" type="submit">Trouver</button>
			</div>
		</form>
		{% if users is defined %}
			<div class="heading paginate">

				<div class="title">{{ '%n% membre trouvé|%n% membres trouvés'|plurialize(n_users, {'%n%': n_users}) }}</div>


				{{ pager.paginate(pages_count) }}

			</div>
			<div class="bloc">
				{% for user in users %}
					{% include 'partial/one_user_on_a_list.html.twig' %}
				{% else %}
					<p>Aucun membre ne correspond à votre recherche.</p>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}