{% extends 'layout/layout.html.twig' %}

{% block content %}
	<div class="instructions content-wrp">
		<h2>MODE D'EMPLOI</h2>

		<div class="media">

			<div class="media-body">
				{# <p class="desc">{{instructions.content}}</p> #}
				<div class="desc">
					<h3>Explications</h3>
					<p class="l-push-down">
						Par sa démarche d’Innovation Participative, AG2R LA MONDIALE souhaite vous permettre de vous exprimer librement et fait appel à vos idées. N’hésitez à participer, ce site est avant tout le vôtre !
					</p>
					
					<h3>Comment participer ?</h3>
					<p class="l-push-down">
						Vous êtes automatiquement reconnus lorsque vous vous connectez au site <a href="http://idees.ag2rlamondiale.fr" title="ag2rlamondiale">http://idees.ag2rlamondiale.fr</a>, pas besoin d’identifiant ni de mot de passe !
					</p>

					<h3>Lexique</h3>
					<p class="push-down"><span class="underline">Déposer une idée :</span> Cliquer sur ce bouton pour émettre une idée.</p>
					<p class="l-push-down text-center">
						<img src="/assets/img/common/instructions1.gif" alt="Déposer une idée">
					</p>					
					<p class="push-down">
						<span class="underline">Voter :</span> Vous pourrez voter pour les idées des autres collaborateurs et modifier votre vote par la suite. A chaque vote, l’idée gagnera des points (le nombre de points est inscrit entre parenthèse à coté du « J’aime »).
					</p>
					<p class="l-push-down text-center">
						<img src="/assets/img/common/instructions2.gif" alt="Voter">
					</p>
					<p class="push-down">
						<span class="underline">Commenter :</span> Vous pouvez également enrichir les idées des autres collaborateurs en apportant vos commentaires. Rappelons que l’objectif de ce site est de contribuer à créer de nouveaux projets, le dialogue est donc primordial.
					</p>
					<p class="l-push-down text-center">
						<img src="/assets/img/common/instructions3.gif" alt="Commenter">
					</p>
					<div class="l-push-down">
						<span class="underline">Statuts :</span> A la fin du temps fort, vos idées seront affectées aux pilotes de processus ou aux managers concernés par le traitement des idées. <br /> Vous serez informés de l’évolution de vos idées grâce aux statuts suivants :
						<ul>
							<li>A l’étude : la personne en charge du traitement de votre idée en a pris connaissance et se renseigne auprès des experts métiers sur sa faisabilité</li>
							<li>Déjà existant : le contenu de l’idée est une fonctionnalité déjà existante, mais peut-être peu connue.</li>
							<li>En cours d’estimation : votre idée semble intéressante, une étude approfondie est en cours.</li>
							<li>Mis en œuvre : votre idée va être réalisée ou a été réalisée !</li>
							<li>Refusée : vote idée n’a pas été validée, les commentaires du statut vous en précise les raisons.</li>				
						</ul>
					</div>
					<p class="push-down">
						<span class="underline">Recherche :</span> Dans le moteur de recherche, vous pouvez chercher différentes idées en insérant un mot compris dans l’idée ou un mot-clé.
					</p>
					<p class="l-push-down text-center">
						<img src="/assets/img/common/instructions4.gif" alt="Recherche">
					</p>
					<p class="l-push-down h3">
						Si vous rencontrez un problème sur le site, contactez-nous via l’adresse <a href="mailto:idees@ag2rlamondiale.fr" title="idees@ag2rlamondiale.fr">idees@ag2rlamondiale.fr</a>
					</p>
				</div>
			</div>

		</div>
	</div>

{% endblock %}