{% extends 'layout/layout.html.twig' %}
{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}
{% block content %}
	<div class="content-wrp">
		<h3>Modifier l'idée {{ idea.name }}</h3>
		{% include 'bloc/idea/edit/edit_form.html.twig' %}
	</div>	
{% endblock %}