{% if idea is defined %}
{% block heading %}
	<div class="heading">
		{% include 'partial/idea/sub_heading.html.twig' %}
	</div>
{% endblock %}
{% endif %}

<form class="submit-idea form-horizontal push-up" method="POST" action="" id="idea_form" enctype="multipart/form-data">

	<input type="hidden" name="status" id="idea_status" value="{{ idea is defined ? idea.status : 'waiting' }}">

	
	<div class="control-group">
		<label class="control-label" for="inputEmail">Titre de l'idée</label>

		<div class="controls">
			<input type="text" name="name" value="{{ idea is defined ? idea.name : null }}" required>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputPassword">Thématique</label>

		<div class="controls">
			{% macro option(category, value, level) %}
				<option value="{{ category.idea_category_id }}"{% if value == category.idea_category_id %} selected{% endif %}>
					{% for i in 0..level %}
						&nbsp;&nbsp;
					{% endfor %}
					{{ category.name }}
				</option>
			{% endmacro %}
			<label class="select">
				<div class="bg">
					<span class="caret"></span>
				</div>
				<select name="idea_category_id" required>
					<option value="">Sélectionner ...</option>
					{% for category in categories %}
						{{ _self.option(category, idea is defined ? idea.idea_category_id : null, 0) }}
						{% if category.children is defined %}
							{% for sub_category in category.children %}
								{{ _self.option(sub_category, idea is defined ? idea.idea_category_id : null, 1) }}
							{% endfor %}
						{% endif %}
					{% endfor %}
				</select>
			</label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputPassword">Description</label>

		<div class="controls">
			<textarea id="descriptionarea" name="description" rows="10" required>{{ idea is defined ? idea.description : null }}</textarea>
		</div>
	</div>
	{% if idea is defined and idea.status in ['study', 'waiting', 'estimate'] %}
	<div class="control-group">
		<label class="control-label" for="action">Statut</label>

		<div class="controls">
			<label class="select">
				<div class="bg">
					<span class="caret"></span>
				</div>
				<select name="status">
					{% if idea.status == 'study' %}
						<option value="study" {% if idea.status == 'study' %} selected{% endif %}>A Etudier</option>
						<option value="waiting" {% if idea.status == 'waiting' %} selected{% endif %}>A l'étude</option>
					{% endif %}
					{% if idea.status == 'waiting' %}
						<option value="waiting" {% if idea.status == 'waiting' %} selected{% endif %}>A l'étude</option>
						<option value="estimate" {% if idea.status == 'estimate' %} selected{% endif %}>En cours d'estimation</option>
						<option value="confirmed" {% if idea.status == 'confirmed' %} selected{% endif %}>Mise en oeuvre</option>
						<option value="experiment" {% if idea.status == 'experiment' %} selected{% endif %}>Retenue</option>
					{% endif %}
					{% if idea.status == 'estimate' %}
						<option value="confirmed" {% if idea.status == 'confirmed' %} selected{% endif %}>Mise en oeuvre</option>
						<option value="experiment" {% if idea.status == 'experiment' %} selected{% endif %}>Retenue</option>
					{% endif %}
					{% if idea.status != 'draft' %}
						<option value="duplicate" {% if idea.status == 'duplicate' %} selected{% endif %}>Déjà existante</option>
						<option value="refused" {% if idea.status == 'refused' %} selected{% endif %}>Refusée</option>
					{% endif %}
				</select>
			</label>
		</div>
	</div>
	{% endif %}

	{% if idea is not defined %}
		<div id="docuemnts_form" class=""></div>
	{% endif %}
		
	
	{% if idea is defined %}
	<a href="?destroy" class="btn btn-danger pull-left">Supprimer</a>
	{% endif %}	

	<div class="pull-right">

		{% if idea is not defined %}			
			<div id="add_document" class="btn">Ajouter un document</div>
		{% endif %}
		{% if not idea is defined %}
			<button type="button" id="btn_idea_draft"
				class="btn primary2">Enregistrer en brouillon</button>

		    <button type="button" id="btn_idea_waiting"
				class="btn primary2">Proposer une idée</button>
		{% else %}
			{% if idea.status == 'draft' %}
				<button type="button" id="btn_idea_draft"
					class="btn primary2">Mettre à jour</button>
				<button type="button" id="btn_idea_waiting"
					class="btn primary2">Proposer une idée</button>
			{% else %}
				<button type="button" id="btn_idea_waiting"
					class="btn primary2">Mettre à jour</button>
			{% endif %}
		{% endif %}
	</div>

	<div id="cgu_accept_modal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Vous devez accepter les CGU</h4>
	      </div>
	      <div class="modal-body">
	        <p>Pour naviguer sur le site ou soumettre une idée, vous devez accepter les Conditions Générales d'Utilisation en cliquant sur "Editer mon profil", puis cocher en bas de la page "J'accepte les CGU".</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
	        <button type="button" class="btn btn-primary">Editer mon profil</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</form>

<script>
jQuery(document).ready(function($) {
	var validate = function () {
		if (!$("input[name='name']").val()) {
			alert('Le champ titre doit être rempli.');
			return false;
		}
		if (!$("select[name='idea_category_id']").val()) {
			alert('Le champ thématique doit être rempli.');
			return false;
		}
		if (!$("#descriptionarea").val()) {
			alert('Le champ description doit être rempli.'+$("#descriptionarea").val());
			return false;
		}
		return true;
	};
	$('#btn_idea_draft').click(function(event) {
		$('#idea_status').val('draft');
		if (validate())
			$('#idea_form').submit();
	});
	$('#btn_idea_waiting').click(function(event) {
		{% if user.cgu == true %}
			$('#idea_status').val('validation');
			if (validate())
				$('#idea_form').submit();
		{% else %}
			$('#cgu_accept_modal').modal();
		{% endif %}
	});
	$('#cgu_accept_modal .btn-primary').click(function(event) {
		document.location.href = "/{{user.key}}?edit";
	});
	$('#add_document').click(function(event) {

		var document_form = $('<div class="control-group">' + 
				'<label class="control-label" for="f-name">Nom du document</label>' + 
				'<div class="controls">' + 
					'<input type="text" name="documents_name[]" placeholder="Nom du document">' + 
				'</div>' + 
			'</div>' + 
			'<div class="control-group">' + 
				'<div class="controls">' + 
					'<input type="file" name="documents_file[]">' + 
				'</div>' + 
			'</div>');
		
		$('#docuemnts_form').append(document_form);
	});
});
</script>