{% extends 'layout/layout.html.twig' %}
{% set feed_context = group.key %}
{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}
{% block content %}

	<div class="group-show content-wrp">

		<div class="heading links">
			<div class="title">{{ group.name }}</div>

			{% if is_granted('EDIT', group.key) %}
				<span>
					<i class="basic-s-blue_02"></i>
					<a href="/{{ group.key }}?edit">Modifier</a>
				</span>
			{% endif %}
			{% if group.user_status == 'accepted' %}
				<span>
					<i class="basic-s-blue_02"></i>
				<a href="/group/quit?id={{ group.group_id }}">Quitter le groupe</a>
				</span>
			{% elseif group.user_status == 'invited' %}
				<span>
					<i class="basic-s-blue_02"></i>
				<a href="/group/quit?id={{ group.group_id }}">Refuser l'invitation</a>
					</span>
				<span>
					<i class="basic-s-blue_02"></i>
				<a href="/group/join?id={{ group.group_id }}">Accepter l'invitation</a>
						</span>
			{% elseif group.user_status == 'pending' %}
				<span>
					<i class="basic-s-blue_02"></i>
				<a href="/group/quit?id={{ group.group_id }}">Annuler la demande</a>
							</span>
			{% elseif group.user_status == '' %}
				<span>
					<i class="basic-s-blue_02"></i>
				<a href="/group/join?id={{ group.group_id }}">Rejoindre le groupe</a>
								</span>
			{% endif %}


		</div>
		<div class="heading">
			{% set group_types = {public: 'ouvert', closed: 'fermé', secret: 'secret'} %}
			<span>Groupe {{ group_types[group.privacy] }}</span>
		</div>

		{% if group.user_status == 'accepted' or is_granted('EDIT', group.key) %}
			<p>{{ group.description|nl2br }}</p>
			<hr/>

			{% include 'partial/feed_form.html.twig' %}

			<div class="tabs push-up">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#feeds" data-toggle="tab">Actualités</a></li>
					<li><a href="#users" data-toggle="tab">Membres ({{ group.n_users }})</a></li>

					{% if is_granted('EDIT', group.key) or group.privacy == 'open' %}
						<li><a href="#invite" data-toggle="tab">Inviter des membres</a></li>
					{% endif %}
					{% if group.experimentation_id %}
						<li class="pull-right"><a
									href="/{{ group.experimentation.key }}">{{ group.experimentation.name }}</a>
						</li>
					{% endif %}
				</ul>
			</div>

			{% include 'common/report_modal.html.twig' %}

			<div class="tab-content" style="overflow: visible">
				<div class="tab-pane active" id="feeds">
					<div id="feeds"></div>
				</div>
				<div class="tab-pane user-list" id="users">

					<div class="title">Créateur</div>
					<div class="wrap-col">
						<div class="col6">
							{% include 'partial/one_user_on_a_list.html.twig' with {user: group.user} %}
						</div>
					</div>
					{% if group.n_users %}
						<div class="title">Membres ({{ group.n_users }})</div>
						<div class="wrap-col">
							{% for user in group.users %}
								<div class="col6">
									{% include 'partial/one_user_on_a_list.html.twig' %}
								</div>
							{% endfor %}
						</div>
					{% endif %}
					{% if is_granted('EDIT', group.key) or group.privacy == 'open' %}
						{% if group.pending_invites|length > 0 %}
							<div class="title">Invitations envoyées ({{ group.pending_invites|length }})</div>
							<div class="wrap-col">
								{% for user in group.pending_invites %}
									<div class="col6">
										{% include 'partial/one_user_on_a_list.html.twig' with
										{user_action_link: '<a href="/group/remove_user?group_id=' ~ group.group_id ~ '&user_id=' ~ user.user_id ~ '" class="btn">Annuler l\'invitation</a>'} %}
									</div>
								{% endfor %}
							</div>
						{% endif %}

						{% if group.requests|length > 0 %}
							<div class="title">Demandes d'intégration ({{ group.requests|length }})</div>
							<div class="wrap-col">
								{% for user in group.requests %}
									<div class="col6">
										{% include 'partial/one_user_on_a_list.html.twig' with
										{user_action_link: '
						<a href="/group/accept_user?group_id=' ~ group.group_id ~ '&user_id=' ~ user.user_id ~ '" class="btn">Accepter</a>
						<a href="/group/remove_user?group_id=' ~ group.group_id ~ '&user_id=' ~ user.user_id ~ '" class="btn">Refuser</a>
						'} %}
									</div>
								{% endfor %}
							</div>
						{% endif %}
					{% endif %}
				</div>
				{% if is_granted('EDIT', group.key) or group.privacy == 'open' %}
					<div class="tab-pane" id="invite">
						<form class="form-horizontal" action="/group/invite?group_id={{ group.group_id }}"
							  method="post">

							<div class="control-group full-size">
								<div class="controls">
									{% include 'common/users_magicsuggest.html.twig' with {item: group} %}
								</div>
							</div>

							<button type="submit" class="btn btn-blue">Inviter</button>
						</form>
					</div>
				{% endif %}
			</div>

		{% elseif group.user_status == 'pending' %}
			Demande d'intégration envoyée.
		{% endif %}
	</div>
	{% include 'common/feed/js.html.twig' %}
{% endblock %}