{% extends 'bloc/experimentation/breadcrumb.html.twig' %}
{% set __breadcrumb = {
('/' ~ experimentation.key): experimentation.name|truncate(25)
} %}

{% if ___breadcrumb is defined %}
	{% set __breadcrumb = __breadcrumb|merge(___breadcrumb) %}
{% endif %}

