{% extends 'bloc/innovation/show/content.html.twig' %}
{% set idea = experimentation %}

{% block breadcrumb %}
	{% include 'bloc/experimentation/show/breadcrumb.html.twig' %}
{% endblock %}

{% block experimentations %}{% endblock %}









{% block __old %}

	<div class="experimentation-show">

		<!-- heading -->
		<div class="heading">
			<h1>{{ experimentation.name }}</h1>

			<div class="edit-show">
				{% if is_granted('EDIT', experimentation['key']) %}
					<i class="sprite-pencil"></i> <a href="/{{ experimentation['key'] }}?edit">Modifier</a>
					<span>|</span>
				{% endif %}
				<i class="sprite-contact-card"></i> <a href="/{{ experimentation['key'] }}">Consulter</a>
			</div>
		</div>

		<!-- description -->
		<div class="description media">
			<img src="{{ experimentation.picture.url|img_crop(170) }}" width="170" class="media-object">

			<div class="excerpt media-body">
				<div>
					<div class="read-more-wr" maxheight="128px">

						{{ experimentation.description|nl2br }}
						<div class="gradient"></div>
					</div>
					<div class="read-more"><a href="#">(lire la suite)</a></div>
				</div>
			</div>
		</div>

		<!-- tags -->
		{% include 'partial/tags_list.html.twig' with {item: experimentation} %}

		<!-- elements -->
		{% include_block 'elements.html.twig' %}

		<h2>Actualités du projet / de l’experimentation</h2>
		{% include 'common/feed/feeds.html.twig' with { feed_context: experimentation.key } %}

	</div>

{% endblock %}