{% extends 'bloc/experimentation/show/breadcrumb.html.twig' %}
{% if experimentation is not defined and milestone is defined %}
	{% set experimentation = milestone.experimentation %}
{% endif %}

{% if innovation is not defined and experimentation is defined %}
	{% set innovation = experimentation.innovation %}
{% endif %}

{% set ___breadcrumb = {
('/milestone/all?experimentation_id=' ~ experimentation.experimentation_id): 'Suivi du projet'
} %}
