{% extends 'bloc/idea/show/content.html.twig' %}

{% if not experimentation is defined %}
	{% set idea = innovation %}
{% endif %}

{% block idea_reference %}{% endblock %}
{% block author %}{% endblock %}
{% block heading %}
	<div class="heading">
		{% include 'partial/idea/tags.html.twig' %}
	</div>
{% endblock %}

{% block creation_date %}{% endblock %}
{% block rating %}{% endblock %}

{% block edit_action %}
{% endblock %}

{% block first_col %}
{% endblock %}

{% block reassign_idea %}
{% endblock %}

{% block elements %}
	<div class="experimentation-options">
		<div class="row-fluid">
			<div class="span4">
				<a href="/{{ idea.type }}/resources?{{ idea.type }}_id={{ idea[idea.type ~ '_id'] }}" title="Ressources">
					<i class="custom-brown_49"></i>
					<span>Ressources</span>
				</a>
			</div>
			<div class="span4">
				<a href="/milestone/all?{{ idea.type }}_id={{ idea[idea.type ~ '_id'] }}" title="Jalons">
					<i class="custom-brown_56"></i>
					<span>Jalons</span>
				</a>
			</div>
			<div class="span4">
				<a href="/document/all?{{ idea.type }}_id={{ idea[idea.type ~ '_id'] }}" title="Documents">
					<i class="custom-brown_55"></i>
					<span>Documents</span>
				</a>
			</div>
		</div>
		<hr>
	</div>
{% endblock %}

{% block breadcrumb %}
	{% include 'bloc/innovation/show/breadcrumb.html.twig' %}
{% endblock %}

{% block experimentations %}
	<div>
		{% include 'bloc/innovation/show/experimentations.html.twig' %}
	</div>
{% endblock %}