<ul class="elements">
	<li><a href="/innovation/resources?innovation_id={{ innovation['innovation_id'] }}"><i class="sprite-members"></i><span>RESSOURCES</span></a></li>
	<li><a href="/milestone/all?innovation_id={{ innovation['innovation_id'] }}"><i class="sprite-calendar"></i><span>JALONS</a></span></li>
	<!--<li><a href="?"><i class="sprite-reverse"></i><span>SUIVI DU PROJET</a></span></li>-->
	<li><a href="/document/all?innovation_id={{ innovation['innovation_id'] }}"><i class="sprite-document"></i><span>DOCUMENTS</a></span>
	</li>
</ul>