<div class="experimentation">

	<table class="table bloc">
		<thead>
		<tr>
			<th colspan="3">Expérimentations en cours</th>
		</tr>
		</thead>
		<tbody>
		{% for experimentation in innovation['experimentations'] %}
			<tr>
				<td><a href="/{{ experimentation.key }}" title="">{{ experimentation.name }}</a></td>
				<td>
					{% if experimentation.progress is defined %}
						{% include 'common/progression.html.twig' with { item: experimentation } %}
					{% endif %}
				</td>
				<td class="edit">
					{% if is_granted('EDIT', innovation.key) %}
						<a href="/{{ experimentation.key }}?edit" title="Editer"><i
									class="basic-s-blue_02"></i></a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="3">
				<p class="text-right"><a href="/experimentation/all?innovation_id={{ innovation.innovation_id }}"
										 title="">Voir toutes les expérimentations</a></p>
			</td>
		</tr>
		</tbody>
	</table>

	<div class="pull-right heading links">
		{% if is_granted('EDIT', innovation.key) %}			
			<a href="/experimentation/new?innovation_id={{ innovation.innovation_id }}" class="btn primary2">Ajouter une
				expérimentation</a>			
		{% endif %}
	</div>
</div>