{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include 'bloc/experimentation/index/breadcrumb.html.twig' %}
{% endblock %}

{% block content %}

	<div class="milestone-all content-wrp">

		<h1>Suivi de projet</h1>			
		
		<div class="milestone-list">

			{% if experimentations_inprogress|length > 0 %}
				<h3>Expérimentations en cours</h3>

				{% for experimentation in experimentations_inprogress %}
					{% include_block 'one_experimentation_on_a_list.html.twig' %}	
				{% endfor %}
			{% endif %}

			{% if experimentations_ended|length > 0 %}
				{% for experimentation in experimentations_ended %}
					{% include_block 'one_experimentation_on_a_list.html.twig' %}	
				{% endfor %}
			{% endif %}

		</div>		

	</div>


{% endblock %}