{% if experimentation.progress is defined %}
	<div class="milestone">
		<div class="milestone-left">
			<a href="?experimentation_id={{ experimentation.experimentation_id }}" title="">{{ experimentation.name }}</a>
		</div>
		<div class="milestone-right">						
			{% include 'common/progression.html.twig' with { item: experimentation } %}						
		</div>
	</div>	
{% endif %}