.step2 {
	.min-val, .max-val, .select-slider-value {
		position: absolute;
	}
	.max-val {		
		bottom: -14px;
		right: 0;	
	}
	.min-val {		
		bottom: -14px;
		left: 0;
	}
	.select-slider-value {		
		top: -18px;
		left: 0;
		.bold;
		.secondary;
	}
	.budget {
		position: relative;
		.size(18px,100%);
		padding: 20px 0 0;
		margin-left: 20px;

		.ui-widget-content {
			position: relative;
			border: 1px solid @inputBorder;			
		}
		.ui-slider-range, .ui-slider-horizontal, .ui-slider-handle {
			background: none;
			.reset-filter();			
		}
		.ui-slider-range {
			background-color: @secondary;
		}
		.ui-corner-all {
			.border-radius(0);
		}
		.ui-slider-handle {
			.size(22px,9px);
			left: 0;
			background-color: @secondary2;					
			cursor: pointer;
			border: 0;

			&.ui-state-focus, &.ui-state-active { outline: 0 !important; border: 0; }
		}	

		.ui-slider-handle.ui-state-default.ui-corner-all:hover, .ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus, .ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus {
			text-decoration: none;
			outline: none;
		}		
	}

}