.idea-show {

	.one-idea {

		.author.bloc {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		> .actions {
			padding-bottom: 15px;
		}

		.actions {			

			.first-col {
				padding-top: 20px;
			}		
			
			.media {
				position: relative;

				> .media-body {					

					.action-rating {						
						margin-top: 0;

						> span {
							display: inline-block;
							float: left;
							margin-right: 10px;
							.uppercase;
						}
						.star-rating {
							float: left;
							margin: 0;
						}
						> p {
							clear: left;
							.mp-reset;
						}
						.yours {
							float: right;
						}
					}
					.actions .right {
						padding-top: 15px;
					}
				}
			}
		}
	}
}
