{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include 'bloc/milestone/index/breadcrumb.html.twig' %}
{% endblock %}

{% block _container %}
	<div class="span12">
		<div class="milestone-all content-wrp">
			<div class="heading links">
				<div class="title">{{ experimentation.name }}</div>
				{% if is_granted('EDIT', experimentation.key) %}
					<span>
						<i class="basic-s-blue_09"></i>
						<a href="/{{ experimentation.key }}?edit&step=4">Nouveau jalon</a>
					</span>
				{% endif %}


			</div>

			<div class="heading">
				<h3>Suivi de projet</h3>
			</div>

			{% if milestones_count > 0 %}
				<div id="timeline-embed"></div>
				<script type="text/javascript">
					var timeline_config = {
						width: '100%',
						height: '600',
						source: '/milestone/timeline?experimentation_id={{ experimentation.experimentation_id }}',
						embed_id: 'timeline-embed',               //OPTIONAL USE A DIFFERENT DIV ID FOR EMBED
						hash_bookmark: true,                           //OPTIONAL LOCATION BAR HASHES
						font: 'Bevan-PotanoSans',             //OPTIONAL FONT
						debug: true,                           //OPTIONAL DEBUG TO CONSOLE
						lang: 'fr',                           //OPTIONAL LANGUAGE
						maptype: 'watercolor',                   //OPTIONAL MAP STYLE
						css: '/assets/vendor/timeline/css/timeline.css',     //OPTIONAL PATH TO CSS
						js: '/assets/vendor/timeline/js/timeline-min.js'    //OPTIONAL PATH TO JS
					}
				</script>
				<script type="text/javascript" src="/assets/vendor/timeline/js/storyjs-embed.js"></script>
			{% else %}
				<p>Aucun jalon</p>
			{% endif %}
		</div>
	</div>
{% endblock %}