{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include 'bloc/message/new/breadcrumb.html.twig' %}
{% endblock %}
{% block content %}

	<div class="message-new content-wrp">

		<h3>Nouveau message</h3>

		<form method="POST" action="/message/new" class="form-horizontal">

			<div class="bloc">
				<div class="control-group">
					<label class="control-label" for="">Destinataire</label>

					<div class="controls to-user-magicsuggest">
						<div class="mg-wrap">
							<div id="to-mg" name="to"></div>
						</div>
					</div>

					<script>

						$(function () {
							var render = function (v) {
								return '<div class="team-user-wrap">' +
										'<img src="' + v.image + '" width="60" />' +
										'<div class="res-content">' +
										'<div class="res-name">' + v.name + '</div>' +
										'<div class="res-desc">' + v.desc + '</div>' +
										'</div>' +
										'</div><div class="_cb"></div>';
							}
							var mg = $('#to-mg').magicSuggest({
								emptyText: 'Entrez le nom du correspondant',
								data: "/user/ajax_filter_user?not_me=true",
								selectionPosition: 'bottom',
								allowFreeEntries: false,
								strictSuggest: true,
								width: 300,
								required: true,
								maxSelection: 1,
								maxSelectionRenderer: function () {
									return '';
								},
								selectionPosition: "inner",
								selectionRenderer: render,
								renderer: render
							});
							{% if to is defined %}
							mg.addToSelection({{ to|json_encode|raw }}, true);
							{% endif %}
						});
					</script>
				</div>
				<div class="control-group">
					<label class="control-label" for="f-content">Message</label>

					<div class="controls">
						<textarea placeholder="Rédigez votre message" name="content" id="f-content" rows="7" required></textarea>
					</div>
				</div>
			</div>

			<div class="pull-right">
				<button type="submit" class="btn primary2">Envoyer</button>
			</div>
		</form>

	</div>


{% endblock %}