
#wrapper{
	width: 1014px;
	margin: 0px auto 0px auto;
}


/*div.panel{
	border: 1px solid #cccccc;
	background-color: #efefef;
	float: left;
	width: 100%;
	padding: 5px 0px 0px 0px;
}*/


/* panels */
/*#filter{
	float: left;
	width: 100%;
	height: 27px;
	
	margin: 0px 0px 10px 0px;
	padding: 3px 0px 0px 0px;	
}

#filter p{
	padding: 0px 15px 0px 15px;
}

div#filter input{
	border: 1px solid #aaaaaa;
}*/

div#paging{
	float: left;
	width: 100%;
	height: 27px;	
	padding: 15px 0px 0px 0px;
}


#pagingprev,
#pagingmid,
#pagingnext{
	float: left;
	margin-top:2px;
}

#pagingprev{
	font-weight: normal;
	line-height: 17px;
}

#pagingnext{
	line-height: 17px;
	font-weight: normal;
}

#pagingmid #pagesbox span{
	padding: 0 3px 0 6px;
}

#pagingmid #pagesbox span:first-child{
	padding-left:7px;
}

.pipe{
	color: rgb(141, 141, 141);
}

.pipe:hover{
	color: rgb(77, 77, 77);
}

div#paging #buttons{
	float: right;
	height: 20px;
	padding: 2px 3px 0px 0px;
	width:215px;
}

div#paging #buttons span{
	cursor: pointer;
	color: rgb(141, 141, 141);
	font-size: 11px;

}

div#paging #buttons span:hover{
	color: rgb(77, 77, 77);
}

div#paging #buttons  span.current{
	font-weight: bold;
	color: black;
	font-size: 17px;
}

div#paging #info{
	float: left;
	width: 100px;
	height: 18px;
	padding: 4px 5px 0px 5px;
	text-align: right;
}

div#paging .text{
	float: left;
	padding: 0px 5px 0px 15px;
}

div#sorts{
	float: left;
	width: 100%;
	height: 27px;
	
	margin: 0px 0px 10px 0px;
	padding: 3px 0px 0px 0px;
}

#sorts p{
	padding: 0px 15px 0px 15px;
	float: left;
}

/* ul drop down */
div.drop-down{
	float: left;
	width: 150px;
	height: 16px;
	position: relative;
	font-size: 12px;
	border-collapse: collapse;
}

div.drop-down div.panel{
	float: left;
	width: 145px;
	height: 16px;
	overflow: hidden;
	background: #ffffff url('../img/down-arrow.jpg') no-repeat top right;
	border: 1px solid #cccccc;
	padding: 0px 0px 0px 5px;
	cursor: pointer;
}

div.drop-down ul{
	float: left;
	width: 150px;
	background-color: #ffffff;
	border: 1px solid #cccccc;	
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	list-style: none;
	display: none;
	position: absolite;
	z-index: 1000;
}

div.drop-down ul li{
	padding: 3px 0px 3px 5px;
	cursor: pointer;
	width: 150px;
	float: left;
	background-color: #ffffff;
}

div.drop-down ul li:hover{
	background-color: blue;
	color: #ffffff;
}