{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}
{% block content %}
	{% include 'common/report_modal.html.twig' %}
	{% import 'common/paginate.html.twig' as pager %}

	<div class="idea-all">

		<div class="content-wrp push-down">
			<div class="paginate">
				<div class="nb-idea primary">{{ '%n% idée en brouillon|%n% idées en brouillon'|plurialize(n_ideas, {'%n%': n_ideas}) }}</div>
				{{ pager.paginate(pages_count) }}
			</div>
		</div>		

		{% for idea in ideas %}
			{% if not loop.first %}
				<hr />
			{% endif %}
			{% include 'partial/one_idea_on_a_list.html.twig' %}
		{% endfor %}
		
		<div class="paginate push-up">
			{{ pager.paginate(pages_count) }}
		</div>
	</div>

	{% include 'bloc/idea/idea_js.html.twig' %}


{% endblock %}