.mce-i-icons {
	background: url('/assets/img/icon.png') !important;
}
.widget-header span {
	float:right;
	margin:10px 10px 0 0;
}
.widget-header span a {
	text-decoration: none;
}
.promote_text {
	font-family: 'Lobster', cursive;
	font-size: 24px;
	color: #0099ff;
	font-weight: 500;
	line-height: 1.1;
	display:block !important;
}
textarea.promote_text {
	width:470px;
}
.promote_text:focus {
	color: #0099ff;
}
.promote_label {
	cursor:pointer;
}
.delete_picture {
	position:absolute;
	margin-left: 85px;
	font-weight:bold;
	font-size:20px;
	color:red;
	text-decoration: none !important;
}