{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}
{% block content %}
	<div class="message-show content-wrp">

		<h3>Conversation avec <a href="/{{ user.key }}">{{ user.full_name }}</a></h3>

		<!-- form -->
		<form method="POST" action="/message/new" class="form-horizontal">
			<input type="hidden" name="thread_id" value="{{ thread.thread_id }}"/>

			<div class="bloc">
				<div class="control-group">
					<label class="control-label" for="f-content">Message</label>

					<div class="controls">
						<textarea name="content" id="f-content" placeholder="Rédigez votre message" required></textarea>
					</div>
				</div>
			</div>
			<div class="pull-right">
				<label class="btn primary2">
					<input type="submit" class="btn primary2" value="Envoyer">
				</label>
			</div>
		</form>

		<!-- messages -->
		<hr>
		<div class="message-list">
			{% for message in messages %}
				{% include_block 'one_message_on_a_list.html.twig' %}
			{% endfor %}
		</div>

	</div>
{% endblock %}