{% extends 'bloc/message/index/one_message_on_index_partial.html.twig' %}
{% block message_content %}
	<p class="gray">{{ message.content|linkize|nl2br }}</p>
{% endblock %}

{% block user_link %}
	href="/{{ message.from_user.key }}"
	title="Profil de {{ message.from_user.full_name }}"
{% endblock %}
{% block message_delete_url %}/message/{{ message.message_id }}?destroy{% endblock %}