{% extends 'layout/layout.html.twig' %}

{% block content %}
	<div class="user-invitations">
		<div class="heading">
			<div class="title">Mes invitations</div>
		</div>

		<div class="bloc">
			<div class="content-wrap">
				{% for request in pending_requests %}
					<p><a class="user-request"
						  href="/user/{{ request.user_id }}">{{ request.first_name }} {{ request.last_name }}</a> vous a
						envoyé une demande de mise en relation.</p>
				{% else %}
					<p>Aucune invitation pour le moment.</p>
				{% endfor %}
			</div>
		</div>
	</div>
	<script>
		if ($('a.user-request').length < 2) {
			$('.content-wrap p').css('border', 'none');
		}
		;
	</script>
{% endblock %}