{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include 'bloc/innovation/index/breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
	{% include 'common/report_modal.html.twig' %}

	<div class="innovation-all">

		<div class="content-wrp push-down">
			<div class="paginate">
				<div class="nb-idea primary">{{ '%n% innovation disponible|%n% innovations disponibles'|plurialize(n_innovations, {'%n%': n_innovations}) }}</div>
				{% import 'common/paginate.html.twig' as pager %}
			</div>
		</div>		

		<!-- partials -->
		{% for innovation in innovations %}
			{% if not (loop.first) %}
				<hr />
			{% endif %}			
			{% include 'partial/one_innovation_on_a_list.html.twig' %}
		{% endfor %}

		<div class="paginate push-up">			
			{% import 'common/paginate.html.twig' as pager %}
		</div>
	</div>

{% endblock %}