{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% if edit_type == 'imported_from_idea' %}
		{% include 'bloc/innovation/edit/breadcrumb_from_idea.html.twig' %}
	{% else %}
		{% include 'bloc/innovation/edit/breadcrumb.html.twig' %}
	{% endif %}
{% endblock %}

{% block content %}
	<div class="innovation-edit">
		<form class="form-horizontal" method="POST">
			<h3>Description de l'innovation</h3>

			<div class="bloc">
				<div class="control-group">
					<label class="control-label" for="f-name">Titre de l'innovation</label>

					<div class="controls">
						<input type="text" id="f-name" name="name" placeholder="Titre de l'innovation" value="{{ innovation.name }}">
					</div>
				</div>

				<hr>
				<p>Décrivez brièvement l'innovation en question, le coeur de l'innovation proposée (400 caractères).</p>
				{% include '/partial/object_description.html.twig' with {object: innovation} %}

			</div>

			<h3>Catégorisation de l'innovation</h3>

			<div class="bloc">
				<div class="control-group mg-wrap">
					<p>Veuillez préciser les catégories concernées par cette innovation :</p>
					<div class="control-group full-size">
						<div class="controls clearfix mg-wrap">
							{% include 'partial/magic_tags.html.twig' with {item:innovation} %}
						</div>
					</div>

				</div>
			</div>

			<h3>Illustrer l'innovation </h3>

			<div class="bloc">
				<div class="control-group">
					{% include 'common/picture_upload.html.twig' with {item: innovation} %}
				</div>
			</div>

			<h3>Périmètres </h3>

			<div class="bloc">
				{% for type,perimeter in perimeters %}
					{% include 'partial/one_perimeter_on_a_list.html.twig' with {item: innovation} %}
				{% endfor %}
			</div>

			<div class="pull-right">
				<button type="submit" class="btn primary2">Valider</button>
			</div>
		</form>
	</div>
{% endblock %}