$( "#slider-range-min" ).slider({
	range: "min",
	value: {{ innovation['budget'] }},
	min: 0,
	max: 100000,
	step: 1000,
	slide: function( event, ui ) {
		$( "#amount" ).text(ui.value + "€");
	},
	change: function( event, ui ) {
		$.ajax({
			url: "/innovation/ajax?method=change_budget",
			type: "POST",
			data: {
				innovation_id: {{ innovation['innovation_id'] }},
				budget: ui.value,
			},
		});
	},
});
$( "#amount" ).text( $( "#slider-range-min" ).slider( "value" ) + "€");