{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include 'bloc/user/contact/breadcrumb.html.twig' %}
{% endblock %}

{% block content %}

	<div class="contact-index user-index">

		<div class="tabs push-up">			
			{% include 'bloc/user/contact/tabs.html.twig' %}
		</div>		

		<div class="tab-content push-down">

			{% if requests|length > 0 %}
				<h3>Demandes reçues ({{ requests|length }})</h3>
				<div class="bloc">
					{% for user in requests %}
						<div class="request clearfix">
							<div class="media">
								<a class="pull-left" href="/user/{{ user.user_id }}">
									<img src="{{ user.picture.url|img_crop(60) }}" width="60" class="media-object">
								</a>
								<a href="/user/{{ user.user_id }}">
									<strong>{{ user.full_name }}</strong>
								</a>
							</div>
							<div class="actions">
								<a class="btn btn-blue" href="/user/accept_request?contact={{ user.user_id }}">Acceptez</a>
								<a class="btn btn-blue" href="/user/decline_request?contact={{ user.user_id }}">Refusez</a>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}

			<h3>Mes contacts ({{ contacts_nb }})</h3>
			<form class="form-search row-fluid">
				<div class="span10">
					<input type="text" class="gray-input" placeholder="Rechercher parmi vos contacts" name="query"
						   value="{{ query }}">
				</div>
				<div class="span2">
					<button type="submit" class="btn primary2">Trouver</button>
				</div>
			</form>

			<div class="bloc">
				{% if contacts %}

					<div id="jplist">

						<div id="filter">
							<div id="paging" class="paging">
								<div class="alpha-sort" id="alpha-sort">ABC</div>
								<div class="results"><span id="info"></span></div>
								<div id="buttons" class="text breadcrumbs"></div>
							</div>
							<div class="sort-tab" id="sort-tab">
								<a id="all" class="letter all" rel="#">#</a>
								{% for letter in 'A'..'Z' %}
									<a class="letter disabled" rel="{{ letter }}">{{ letter }}</a>
								{% endfor %}
							</div>
						</div>

						<div class="contacts-box">
							<div class="wrap-col user-list">
								{% set drop_cab = null %}
								<div>
									{% for user in contacts %}
									{% set letter = user.last_name|slice(0,1)|upper %}
									{% if drop_cab != letter %}
								</div>
								<div class="dropcab-group" dropcab="{{ letter }}">
									<div class="dropcab">{{ letter }}</div>

									{% set drop_cab = letter %}
									{% endif %}
									<div class="col6">
									{% include 'partial/one_user_on_a_list.html.twig' %}
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% else %}
					{% if query %}
						<p>Aucun contact ne correspond à votre recherche.</p>
					{% else %}
						<p>Aucun contact.</p>
					{% endif %}
				{% endif %}
			</div>

		</div>
	</div>
	<script src="/assets/js/jquery/jplist.3.4.min.js"></script>
	<script>
		$(function () {
			$('#alpha-sort').mouseover(function () {
				$('#sort-tab').fadeIn();
			});
			$('#sort-tab').mouseleave(function () {
				$(this).fadeOut();
			})
					.find('a.letter')
					.click(function (e) {
						e.preventDefault();
						if ($(this).hasClass('disabled')) {
							return;
						}
						var letter = $(this).attr('rel');
						if (letter == '#') {
							$('.dropcab-group').show();
							return;
						}
						$('.dropcab-group').hide();
						$('.dropcab-group[dropcab=' + letter + ']').show();
					});
			$('.dropcab-group').each(function () {
				var dropcab = $(this).attr('dropcab');
				$('#sort-tab .letter[rel=' + dropcab + ']').removeClass('disabled');
			});
		});
	</script>


{% endblock %}