<ul class="nav nav-tabs">
	{% for k,v in {'/user/contact': 'Mes contacts', '/user/recommended': 'Les connaissez-vous ?'} %}
	<li{% if k == server.REQUEST_URI %} class="active"{% endif %}><a href="{{ k }}">{{v}}</a></li>
	{% endfor %}
</ul>