{% set breadcrumb = {
'-': '<span><a href="/">Accueil</a></span>'
} %}
{% if _breadcrumb is defined %}
	{% set breadcrumb = breadcrumb|merge(_breadcrumb) %}
{% endif %}

{% block breadcrumb_display %}
<ul class="breadcrumb">
{% for uri,label in breadcrumb %}
	<li{% if loop.last and uri != '-' %} class="active"{% endif %}>
		{% if uri not in ['-', '#'] %}<a href="{{ uri }}">{{ label }}</a>
		{% else %}
			{{ label | raw }}
		{% endif %}
		{% if not loop.last %}
			<span class="divider">&gt;</span>
		{% endif %}
	</li>
{% endfor %}
</ul>
{% endblock %}