{% extends 'layout/layout.html.twig' %}
{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}
{% block content %}
	{% import 'common/paginate.html.twig' as pager %}

	<div class="user-recommended user-all">

		<div class="tabs push-up">			
			{% include 'bloc/user/contact/tabs.html.twig' %}
		</div>	
		<div class="tab-content push-down">
			<h3>{{ '%n% membre recommandé|%n% membres recommandés'|plurialize(n_users, {'%n%': n_users}) }}</h3>
			<div class="bloc">
				
				<div class="user-list row-fluid">
					<div class="wrap-col user-list">
						{% for user in users %}
							<div class="col6">
								{% include 'partial/one_user_on_a_list.html.twig' %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{{ pager.paginate(pages_count) }}
	</div>

{% endblock %}