<!-- dashboard widget -->
<section class="widget dashboard">
	<div class="widget-header">Mon tableau de bord</div>

	<div class="wrap">

		<h5 class="first">Mon profil :</h5>
		<ul class="bg bullets">

			{% if SOCIAL_ACTIVE %}
				{% set label = '%n% nouveau message|%n% nouveaux messages'|plurialize(unread_messages_count, {'%n%': unread_messages_count}) %}
				<li><a href="/message/all" title="{{ label }}">{{ label }}</a></li>
			{% endif %}
			{% set get_pending_requests_count = get_pending_requests_count() %}
			{% set pending_ideas_count = get_pending_ideas_count() %}
			{% set pending_drafts_count = get_pending_drafts_count() %}
			{% set pending_validations_count = get_pending_validations_count() %}
			{% if SOCIAL_ACTIVE %}
				<li><a href="/user/invitations">{{ '%n% invitation|%n% invitations'|plurialize(get_pending_requests_count, {'%n%': get_pending_requests_count}) }}</a></li>
			{% endif %}
			<li><a href="/idea/pending">{{ '%n% idée à traiter|%n% idées à traiter'|plurialize(pending_ideas_count, {'%n%': pending_ideas_count}) }}</a></li>
			{% if SOCIAL_ACTIVE %}
				<li><a href="/user/recommended" title=" recommandations">Recommandations</a></li>
			{% endif %}
			<li><a href="/idea/drafts" title="brouillons">{{ '%n% brouillon|%n% brouillons'|plurialize(pending_drafts_count, {'%n%': pending_drafts_count}) }}</a></li>
			{% if NEED_VALIDATION %}
				<li><a href="/idea/validations" title="validations">{{ '%n% validation|%n% validations'|plurialize(pending_validations_count, {'%n%': pending_validations_count}) }}</a></li>
			{% endif %}
		</ul>

		{#<h5>Moi et mon réseau :</h5>#}
		{#<p><a href="#" title="Voir les 5 personnes">5 personnes ont consulté mon profil</a><p>#}

		{#<h5>Mes communautés :</h5>#}
		{#<ul class="bg bullets last">#}
			{#<li><a href="#" title="2 messages">2 messages</a></li>#}
			{#<li><a href="#" title="3 idées">3 idées</a></li>#}
		{#</ul>#}
	</div>

</section>