<!-- recommandation widget -->
{% if recommended_groups|length > 0 %}
<section class="widget recommandation">
	<div class="widget-header">Recommandations</div>
	<div class="wrap">
		<i class="sprite-members"></i>
		<ul class="bg bullets">
			{% for group in recommended_groups %}
			<li><a href="/{{ group.key }}" title="{{ group.name }}">{{ group.name|truncate(70) }}</a></li>
			{% endfor %}
		</ul>

		{#<p class="text-right">#}
			{#<a href="#" title="Tout afficher">Tout afficher</a>#}
		{#</p>#}

	</div>

</section>
{% endif %}