<!-- members recommandation -->
{% if recommended_users|length > 0 %}
<section class="widget members-recommandation">
	<div class="widget-header">Membres recommandés</div>

	<div class="wrap">
		{% for user in recommended_users %}
			{% include 'partial/one_user_on_a_list.html.twig' %}

		{% endfor %}


		<p class="text-right">
			<a title="Voir plus de membres recommandés" href="/user/recommended">Voir plus de membres recommandés</a>
		</p>

	</div>

</section>
{% endif %}