{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
	<div class="idea-show content-wrp">
		<div class="heading links bloc">
			<div class="title">Affecter l'idée</div>
		</div>

		<form class="form-horizontal" method="POST">
			<div class="bloc">
				<div class="control-group">

					<label class="control-label">Nouveau pilote</label>

					<div class="controls">
						{% include 'common/users_magicsuggest.html.twig' with {width: 350} %}
					</div>
				</div>
			</div>
			<div class="pull-right">
				<button class="btn primary2"
						type="submit">Affecter
				</button>
			</div>
		</form>
	</div>
{% endblock %}