{% extends 'layout/layout.html.twig' %}
{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
	{% include 'common/share_modal.html.twig' %}
	<div class="idea-show content-wrp">
		<!-- @pager -->
		<ul class="pager">
			<li class="previous">
				{% if prev_idea is defined and prev_idea != null %}
					<a href="/{{prev_idea.key}}" title="Précédent" class="prev">Précédent</a>
				{% endif %}
			</li>
			<li class="next">
				{% if next_idea is defined and next_idea != null %}
					<a href="/{{next_idea.key}}" title="Suivant" class="next">Suivant</a>
				{% endif %}
			</li>
		</ul>

		<!-- @one-idea-on-a-list -->
		<div class="one-idea"{% block idea_reference %} id="idea-{{ idea.idea_id }}" ref="{{ idea.idea_id }}"{% endblock %}>
			<div class="heading links">
				{% include 'partial/idea/heading.html.twig' %}				
			</div>
			{% block reassign_idea %}
				{% if is_granted('OPERATOR', idea.key) %}
					<div class="tags left">
						<i class="basic-s-blue_05" style="margin-right:12px;"></i>
						<a href="/idea/assign?id={{ idea.idea_id }}">Réaffecter l'idée</a>
					</div>
				{% endif %}
			{% endblock %}
			{% block heading %}
				<div class="heading">
					{% embed 'partial/idea/sub_heading.html.twig' %}
						{% block status '' %}
					{% endembed %}
				</div>
			{% endblock %}

			<div class="media">
				<div class="first-col">					
					<a class="bloc media-object">
						<img src="{{ idea.user.picture.url|img_crop(50) }}" width="50">
					</a>

					{% block author %}
						{% include 'partial/idea/author.html.twig' %}
					{% endblock %}
				</div>
				<div class="media-body">
					<div class="bloc {% block description_class 'description full-description' %}">

						<div class="read-more-wr" maxheight="115">
							{{ idea.description|nl2br }}
						</div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="media social-actions" oid="{{ idea.key }}">
					<div class="first-col">
						{% block first_col %}
							<a href="/document/all?{{ idea.type }}_id={{ idea[idea.type ~ '_id'] }}" title="Documents" class="btn square secondary3 block composed">
								<i class="custom-white_55"></i>
								<span>{{ '%n% Document|%n% Documents'|plurialize(nb_documents, {'%n%': nb_documents}) }}</span>
							</a>
						{% endblock %}
						{% if SOCIAL_ACTIVE %}
							<a class="share" href="#"><i class="custom-brown_43"></i> Partager</a>
						{% endif %}
						{# <a class="report-abuse" href="#"><i class="custom-gray_59"></i> Signaler un
							abus</a> #}
					</div>
					<div class="media-body">
						{% block media_body %}
							<div class="actions directions">
								<div class="left">
									{% block action_rating %}
										{% include 'partial/idea/action_rating.html.twig' %}
									{% endblock %}
								</div>
								<div class="right">
									{% block edit_action %}
										{% include 'partial/idea/edit_action.html.twig' %}
									{% endblock %}
								</div>
							</div>							
						{% endblock %}
					</div>
				</div>
			</div>

			{% include 'partial/one_social.html.twig' with {item:idea} %}

			{% block elements %}{% endblock %}

			{% block experimentations '' %}

			{% include 'bloc/idea/idea_js.html.twig' %}
			<hr>

			{% if false and idea.status is defined and (idea.status == "study" or idea.status == "waiting" or idea.status == "estimate") %}
				<!-- @feeds -->
				<div class="nb-comments">Actualités de l’idée</div>
				{% include 'common/feed/feeds.html.twig' with { feed_context: idea.key } %}
			{% endif %}
		</div>
	</div>
{% endblock %}