{% extends 'layout/layout.html.twig' %}
{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}
{% block content %}
	<form class="form-horizontal" method="POST">
		<h3>{% block _group_page_title %}Edition de {{ group.name }}{% endblock %}</h3>

		<div class="bloc">
			<div class="control-group">
				<label class="control-label" for="f_name">Nom de la communauté</label>

				<div class="controls">
					<input type="text" id="f_name" name="name" value="{{ group.name }}" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="f_description">Description</label>

				<div class="controls">
					<textarea name="description" id="f_description" rows="10">{{ group.description }}</textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label inline" for="f_privacy">Confidentialité</label>

				<div class="controls">
					<label for="f_privacy" class="select">
						<div class="bg">
							<span class="caret"></span>
						</div>
						<select name="privacy" id="f_privacy">
							{% for k,i in {public : 'Groupe ouvert', closed: 'Groupe fermé', secret: 'Groupe secret'} %}
								<option value="{{ k }}"{% if group.privacy == k %} selected{% endif %}>{{ i }}</option>
							{% endfor %}
						</select>
					</label>
				</div>
			</div>
		</div>
		<div class="pull-right">
			<button class="btn primary2"
					type="submit">{{ group.group_id is defined ? 'Modifier' : 'Créer' }}</button>
		</div>
	</form>
{% endblock %}