{% extends 'layout/layout.html.twig' %}

{% block content %}
	<div class="edito">
		<h2>EDITO</h2>

		<div class="media">
			<img class="media-object pull-left" src="/files/edito.jpg" width="100">

			<div class="media-body">
				<p class="desc">{{edito.content | raw}}</p>
			</div>

		</div>
	</div>

{% endblock %}