{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}
{% block content %}
	{% import 'common/paginate.html.twig' as pager %}

	{% if idea is defined %}
		{% set key = idea.key %}
	{% else %}
		{% set key = experimentation is defined ? experimentation.key : innovation.key %}
	{% endif %}
	<div class="heading links">
		<div class="title">Documents</div>
		<span>
			<i class="basic-s-blue_09"></i>
			<a href="#" class="add-document">Ajouter un document</a>
		</span>
	</div>

	<div id="add-document" style="display: none">

		<form class="form-horizontal" method="post" action="/document/new?{{ request.params|build_query }}"
			  enctype="multipart/form-data">
			<div class="bloc">
				<input type="hidden" name="key" value="{{ key }}">

				<div class="control-group">
					<label class="control-label" for="f-name">Nom du document</label>

					<div class="controls">
						<input type="text" name="name" id="f-name" placeholder="Nom du document">

					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="file" name="file">
					</div>
				</div>
			</div>
			<div class="pull-right">
				<button type="submit" class="btn">Ajouter</button>
			</div>
		</form>
	</div>
	<div class="document-list">
		{% for document in documents %}
			{% include 'partial/one_document_on_a_list.html.twig' %}
		{% endfor %}
	</div>
	{{ pager.paginate(pages_count) }}
	<script>
		$(".document .close").click(function (e) {
			e.preventDefault();
			if (confirm("Voulez-vous vraiment supprimer ce document ?")) {
				var $line = $(this).closest(".document");
				$.ajax({
					url: "/document/" + $(this).attr("ref"),
					data: "destroy",
					success: function (resp) {
						$line.remove();
					}
				})
			}
		});
		$(".add-document").click(function (e) {
			e.preventDefault();
			$("#add-document").slideToggle();
		});
	</script>
{% endblock %}