<div id="cgu-modal" class="modal large-modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>conditions générales d’utilisation</h3>
	</div>
	<form method="post" action="/footer/cgu">
		<div class="modal-body">
			<h3>Règlement du jeu-concours « Innovation Participative » Groupe AG2R LA MONDIALE</h3>
			
			<p class="l-push-down underline">Article I : Organisation</p>
			<p>La Direction Générale du Groupe AG2R LA MONDIALE souhaite favoriser l’Innovation 
			Participative de ses salariés pour innover, améliorer l’existant, identifier de nouveaux 
			projets et se différencier de la concurrence. </p>
			<p>Les sociétés identifiées ci-dessous organisent, à travers des temps forts (2 à 3 par an), 
			un jeu-concours en ligne intranet permettant aux collaborateurs de ces sociétés de 
			remporter des cadeaux. Les sociétés organisatrices sont :</p>
			<ul>
				<li><strong>AG2R,</strong> groupement d’intérêt économique, dont le siège social est situé au 35 Boulevard Brune, 75014 PARIS, immatriculée au RCS de Paris sous le numéro 433 719 812 ;
				</li>
				<li><strong>LA MONDIALE GROUPE</strong>, groupement d’intérêt économique, dont le Siège Social est situé 32, Avenue Emile Zola, 59370 MONS-EN-BAROEUL, immatriculée au RCS de LILLE C 445 331 192
				</li>
			</ul>
			<p>Le 1er temps fort aura lieu du 7 au 30 septembre 2009.</p>

			<p class="l-push-down l-push-up underline">Article II : Participation</p>
			<p>La participation à ce jeu gratuit et sans obligation d'achat est ouverte à toute personne 
				physique, collaborateur AG2R ou La Mondiale, présente dans les effectifs à la date de 
				clôture du jeu, et à ce titre, détenteur d’une adresse mail professionnelle. Sont exclus les 
				associés et mandataires sociaux des sociétés organisatrices.
			</p>
			<p>Pour jouer, chaque participant devra se connecter au site internet dont l’adresse est <a href="http://idees.ag2rlamondiale.fr" title="http://idees.ag2rlamondiale.fr">http://idees.ag2rlamondiale.fr</a> accessible depuis l’intranet des sociétés AG2R et La Mondiale.</p>
			<p>La participation se fait exclusivement par voie électronique, au moyen du formulaire d'inscription proposé.</p>
			<p>A ce titre, toute inscription par téléphone, télécopie, courrier postal ou courrier électronique ne pourra être prise en compte.</p>
			<p>La participation est strictement nominative et le participant ne peut en aucun cas 
			participer pour le compte d’autres collaborateurs. A ce titre, la participation multiple d'un même participant pourra entraîner sans préavis la non attribution de lots si une de ses idées était retenue. </p>
			<p>Pour valider sa demande d’inscription, le participant doit accepter le contenu du présent règlement. Aucune réclamation ne sera acceptée.</p>

			<p class="l-push-down l-push-up underline">Article III : Modalités</p>
			<p>Pour participer, il suffit de s’inscrire sur le site <a href="http://idees.ag2rlamondiale.fr" title="http://idees.ag2rlamondiale.fr">http://idees.ag2rlamondiale.fr</a> en suivant les modalités de participation prévues à cet effet. L’inscription n’est pas limitée dans le temps.</p>
			<p>Le participant s'engage à remplir en bonne et due forme tous les champs dits obligatoires du formulaire d'inscription, en fournissant des informations exactes.</p>
			<p>Ce jeu-concours consiste, pour chaque collaborateur, à déposer ses idées sur la base du 
				volontariat selon les thématiques proposées à l’occasion de chaque « temps fort » sur le 
				site extranet précité et selon les modalités prévues sur ce site.
			</p>
			<p>Il y aura, à l’occasion de chaque « temps fort », une date limite de participation au-delà 
				de laquelle toute participation ne sera pas retenue.
			</p>				
			<p>Une fois le « temps fort » terminé, chaque contribution est transmise à des pilotes de processus ad hoc. Seuls les pilotes de processus répondent à l’auteur de l’idée pour l’informer du sort réservée à sa contribution à travers les statuts suivants : </p>
			<ul>
				<li>A l’étude</li>
				<li>En cours d’estimation</li>
				<li>Mis en œuvre</li>
				<li>Déjà existant</li>
				<li>Refusé</li>
			</ul>
			<p>Les contributions sélectionnées le seront selon au moins un des quatre critères suivants :</p>
			<ul>
				<li>l'idée est inédite, créative et innovante pour AG2R LA MONDIALE, (voire sur le marché …),</li>
				<li>l'idée apporte des réponses efficaces et adaptées,</li>
				<li>l'idée est simple et rapide à mettre en œuvre,</li>
				<li>l’idée est réplicable dans d’autres entités du Groupe.</li>
			</ul>
			<p>Chaque collaborateur ayant participé se soumet à la décision des pilotes de processus et
				renonce à tout recours et toute réclamation à l’encontre de la décision de ces pilotes.
			</p>
			<p>Une fois par an, les pilotes de processus établissent une liste des meilleures contributions
				qui ont été retenues. Le salarié dont la contribution a été retenue ne peut prétendre à 
				aucune rémunération supplémentaire mais seulement à l’attribution de lots définis dans
				le cadre de ce jeu-concours.
			</p>
			<p>Après validation par l’équipe d’administrateurs du site, les idées sont publiées sur le site 
				et deviennent ouvertes aux votes et aux commentaires.</p>
			<p>L’équipe d’administrateurs se réserve le droit de refuser la publication d’idées non 
				construites, redondantes, ou ayant un caractère diffamatoire, injurieux et contraire aux
				bonnes mœurs.
			</p>
			<p class="l-push-down l-push-up underline">Article IV : Dotation</p>
			<p>Les auteurs des meilleures idées ainsi sélectionnés participent aux « Trophées de l’innovation AG2R LA MONDIALE ».</p>
			<p>A cette occasion, les lauréats participent à une journée en présence d’un membre de la Direction Générale et gagnent un lot d’une valeur comprise entre 150€ et 550€.</p>			

			<p class="l-push-down l-push-up underline">Article V : Dépôt légal</p>
			<p>Le règlement est déposé en l’Etude de Maîtres Guérin et Bourgeac, Huissiers de Justice Associés, 195, rue de Vaugirard, 75015 Paris.
			</p>
			<p>Le règlement est adressé gratuitement à toute personne en faisant la demande écrite 
			avant la date de clôture du jeu à l'adresse suivante : Etude de Me Guérin et Bourgeac, 
			Huissiers de Justice Associés, 195, rue de Vaugirard, 75015 Paris. Le timbre nécessaire à 
			la demande de règlement sera remboursé sur simple demande sur la base du tarif lent " lettre " en vigueur.</p>
			<p>Le règlement peut être modifié à tout moment sous la forme d'un avenant par 
			l’organisateur, dans le respect des conditions énoncées, et publié par annonce en ligne 
			sur le site. </p>
			<p>L’avenant est déposé en l’Etude de Me Guérin et Bourgeac, Huissiers de Justice Associés, 
			dépositaire du règlement avant sa publication.</p>

			<p class="l-push-down l-push-up underline">Article VI : Litiges et responsabilités</p>
			<p>La participation à ce jeu implique l'acceptation sans réserve du règlement dans son 
			intégralité. AG2R et La Mondiale trancheront souverainement tout litige relatif au jeu et
			à son règlement en accord avec l’Etude de Me Guérin et Bourgeac, Huissiers de Justice 
			Associés.</p>
			<p>Il ne sera répondu à aucune demande téléphonique ou écrite concernant l'interprétation 
			ou l'application du présent règlement, les mécanismes ou les modalités du jeu ainsi 
			que sur la liste des gagnants. AG2R et La Mondiale se réservent le droit d’écourter, de 
			prolonger, de modifier ou d'annuler le présent jeu pour des raisons tenant à la force 
			majeure ou au cas fortuit et qui sont indépendantes de leur volonté, dans le respect de 
			l’article V.</p>

			<p>Les sociétés organisatrices ne pourront être tenues pour responsables en cas de 
			problème d’acheminement ou de coupures de communication, de difficultés de connexion 
			ou de panne du serveur du site <a href="http://idees.ag2rlamondiale.fr" title="http://idees.ag2rlamondiale.fr">http://idees.ag2rlamondiale.fr</a>.</p>

			<p class="l-push-down l-push-up underline">Article VII : Remises de lots</p>
			<p>La remise de chaque lot sera effectuée après vérification du respect des règles du jeu
			contenues dans le présent règlement.</p>
			<p>Les lots seront délivrés aux gagnants lors des « Trophées de l’Innovation », cérémonie
			annuelle de remise des prix en présence de membres de la Direction Générale. Une fois
			la dotation délivrée, la remise de celle-ci sera considérée comme ayant été effectuée et
			le gagnant s’en verra conférer l’entière responsabilité.</p>
			<p>AG2R et La Mondiale ne sauraient être tenues pour responsables et aucun recours
			ne pourra être engagé contre elles en cas de survenance d’évènements présentant 
			les caractères de la force majeure (grèves, intempéries…) privant partiellement ou 
			totalement les participants de la possibilité de participer de la possibilité de participer au 
			jeu et/ou le/les gagnant(s) du bénéfice de leur gain.</p>
			<p>Du fait de l'acceptation de leur prix, les gagnants autorisent AG2R et La Mondiale à 
			utiliser leurs nom et prénom dans toute manifestation publi-promotionnelle liée au 
			présent jeu sans que cette utilisation puisse donner lieu à une quelconque contrepartie 
			autre que le prix gagné. </p>
			<p>Les lots non réclamés et retournés après le 30ème jour suivant le jour de la cérémonie 
			de remise des lots seront considérés comme perdus pour le participant et demeureront 
			acquis à AG2R et La Mondiale.</p>
			<p>Les lots ne peuvent faire l'objet d'un remboursement en espèces, ni d'aucune 
			contrepartie de quelque nature que ce soit et sont non cessibles. Toutefois, en cas de 
			force majeure, les sociétés organisatrices se réservent le droit de remplacer les prix 
			annoncés par tout prix de valeur équivalente.</p>

			<p class="l-push-down l-push-up underline">Article VIII : Attribution de compétence</p>
			<p>Les participants admettent sans réserve que le simple fait de participer à ce jeu les
			soumet obligatoirement aux lois françaises, notamment pour tout litige qui viendrait
			à naître du fait du jeu-concours objet des présentes ou qui serait directement ou 
			indirectement lié à celui-ci, et ce sans préjudice des éventuelles règles de conflits de 
			lois pouvant exister. Les participants sont donc soumis à la réglementation française 
			applicable aux jeux et concours. Tout litige qui ne pourra être réglé à l'amiable sera 
			soumis aux tribunaux compétents désignés selon le Code de Procédure Civile.</p>

			<p class="l-push-down l-push-up underline">Article IX : Informatique et Libertés</p>
			<p>Les données à caractère personnel des participants sont collectées à des fins de gestion administrative, 
			et à l’usage exclusif du groupe AG2R La Mondiale et de ses partenaires.</p>
			<p>Les personnes concernées par ce traitement bénéficient d’un droit d’accès, d’interrogation, 
			de rectification et d’opposition sur les données qui les concernent, conformément à la loi n°78-17 
			du 6 janvier 1978 modifiée, dite « Informatique et Libertés ». Ces droits peuvent être exercés 
			directement par courrier à adresser au Groupe AG2R LA MONDIALE, Direction des
			risques – Conformité et Déontologie, 104-110 Boulevard Haussmann, 75379 Paris Cedex 08 </p>

			<p class="l-push-down l-push-up underline">Article X : Droits de propriété littéraire et artistique</p>
			<p>Dans l’hypothèse où la contribution déposée ferait l’objet d’une protection par le droit 
			d’auteur, le salarié reconnaît céder ses droits de reproduction et de représentation 
			à l’employeur sur tous supports papier, audiovisuels et multimédia, pour une durée 
			égale à la durée légale de protection des droits d’auteur et sur l’ensemble du territoire 
			métropolitain et des collectivités et départements d’outre-mer.
</p>

		</div>
		<div class="modal-footer">
			<div class="directions">
				<div class="left">
					<label class="checkbox">
						<input type="checkbox" name="accepted"> J’accepte les Conditions Générales d’Utilisation
					</label>
				</div>
				<div class="right">
					<button type="submit" class="btn primary">Valider</button>	
				</div>
			</div>
					
		</div>
	</form>
</div>