<div id="contact-modal" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>

		<h3>Contactez-nous</h3>
	</div>
	<form method="post" action="/footer/contact/">
		<div class="modal-body">
			<div class="row-fluid">
				<div class="span4">
					<label class="uppercase">Votre nom</label>
				</div>
				<div class="span8">
					<input name="name" type="hidden" value="{{me.full_name}}">
					<span>{{me.full_name}}</span>
				</div>
			</div>
			<div class="row-fluid push-up">
				<div class="span4">
					<label class="uppercase">message</label>
				</div>
				<div class="span8">
					<div class="controls">
						<textarea class="gray-input span12" name="message" placeholder="Votre message" rows="5" required></textarea>
					</div>					
				</div>
			</div>		
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn primary2">Envoyer</button>			
		</div>
	</form>
</div>