<footer class="container">
	<div class="navbar">
		<nav>
			<ul class="unstyled">
				<li><a href="/instructions" title="Mode d'emploi">Mode d'emploi</a> <span class="divider"> | </span></li>				
				<li><a href="#cgu-modal" data-toggle="modal" data-target="#cgu-modal" title="Charte d'utilisation">Charte d'utilisation</a> <span class="divider"> | </span></li>
				<li><a href="#contact-modal" data-toggle="modal" data-target="#contact-modal" title="Contact">Contact</a></li>
			</ul>
		</nav>
	</div>
</footer>