<header>
	<div class="container">

		<div class="action clearfix">
			<!-- @header-user-menu -->
			<ul class="nav user">
				<li class="nb">
					<a href="/notification/all">
						<i class="custom-black_44"></i>
						<span class="label">{{ me.n_notifications_unread }}</span>
					</a>
				</li>
				{% if SOCIAL_ACTIVE %}
					<li class="nb">
						<a href="/message/all">
							<i class="custom-black_43"></i>
							<span class="label">{{ unread_messages_count }}</span>
						</a>
					</li>
				{% endif %}
				<li class="dropdown">
					<a class="dropdown-toggle" id="user-menu" role="button" data-toggle="dropdown" href="#">
						<img src="{{ me.picture.url|img_crop(21) }}">
						<span>{{ me.full_name }}</span>
						<b class="caret"></b>
						{% if me.roles|length > 1 %}
							<div class="user-role">({{ me.roles|join(', ') }})</div>
						{% endif %}
					</a>
					<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="user-menu">
						{% if has_role('SUPERADMIN') %}
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/admin">
									<span class="basic-s-black_05"></span>Administration</a>
							</li>
						{% endif %}
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/{{ me.key }}"><span
										class="basic-s-black_19"></span>Mon profil</a></li>
						{% if SOCIAL_ACTIVE %}
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/user/contact"><span
										class="basic-s-black_14"></span>Mes contacts</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/user/all"><span
										class="basic-s-black_41"></span>Rechercher un membre</a></li>
						{% endif %}
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/auth/logout">
								<span class="basic-s-black_07"></span>Se
							déconnecter</a></li>
					</ul>
				</li>
			</ul>
		</div>
	
		<!-- @header-logo -->
		<a class="logo" href="/" title="AG2R LA MONDIALE, le contraire de seul au monde">
			<img src="/assets/img/common/logo.png" alt="AG2R LA MONDIALE, le contraire de seul au monde"/>
		</a>		

	</div>
</header>

