{% macro paginate(total, distance = 2, arrows = true) %}
	{% if total > 1 %}
		<div>
			{% set current = get('page', 1) %}
			{% set start = current - distance %}
			{% set end = current + distance %}

			{% if (total - current) < distance %}
				{% set start = start - min([distance, distance - (total - current)]) %}
			{% endif %}
			{% if (current - 1) < distance %}
				{% set end = end + min([distance, distance - (current - 1)]) %}
			{% endif %}

			{# page bounding #}
			{% set current = current >= 1 ? current : 1 %}
			{% set current = current <= total ? current : total %}
			{% set start = start >= 1 ? start : 1 %}
			{% set end = end <= total ? end : total %}

			<ul>
				{% if arrows and current > 1 %}
					<li><a
								href="?{{ request.params|merge({page: current - 1})|build_query }}">&lt;</a>
					</li>
				{% endif %}

				{% for i in range(start, end) %}
					{# {% if loop.index > 1 %}
						<li>|</li>{% endif %} #}
					<li class="{% if current == i %}active{% endif %}">
						<a href="?{{ request.params|merge({page: i})|build_query }}">
							{{ i }}
						</a>
					</li>
				{% endfor %}

				{% if arrows and current < total %}
					<li><a
								href="?{{ request.params|merge({page: current + 1})|build_query }}">&gt;</a>
					</li>
				{% endif %}
			</ul>
		</div>
	{% endif %}
{% endmacro %}