<div class="upload-file">

	<button id="add-picture" class="btn" type="button">Parcourir</button>
	<input id="fileupload" type="file" name="file" style="display: none"/>
	<div class="upload-status"></div>

	<div class="loaded-image push-up">
		<label class="control-label" for="fileupload">Image actuelle :</label>

		<div class="controls">
			<img src="{{ item.picture is defined ? (item.picture.url|img_crop(150)) : null }}" width="150"
				 alt="Photo de profil">
			<a href="#" id="remove-picture"{% if item.picture.file_id is not defined %} style="display:none"{% endif %}
			   title="Supprimer">
				<i class="basic-blue_11"></i>
			</a>
		</div>
	</div>
</div>

<script src="/assets/js/vendor/jquery.ui.widget.js"></script>
<script src="/assets/js/vendor/jquery.iframe-transport.js"></script>
<script src="/assets/js/vendor/jquery.fileupload.js"></script>
<script>

	$(function () {
		'use strict';

		$('#add-picture').click(function () {
			$('#fileupload').click();
		});

		$('#remove-picture').click(function (e) {
			e.preventDefault();
			if (!confirm('Êtes-vous sûr(e) ?')) {
				return false;
			}
			var $a = $(this);
			$.ajax({
				url: "/file/delete_image?key={{ item.key }}",
				dataType: "json",
				success: function (resp) {
					$a.closest(".loaded-image").find(".controls > img").attr("src", resp.picture.url);
					$a.hide();
				}
			})
		});

		$('#fileupload').fileupload({
			url: "/file/upload_image?key={{ item.key }}",
			dataType: 'json',
			autoUpload: true,
			maxFileSize: 5000000 // 5 MB
		}).on('fileuploadadd',function (e, data) {
					data.context = $('<div/>', {
						class: "progress",
						html: '<div class="progress-bar"></div>'
					}).appendTo('.upload-file .upload-status');
				}).on('fileuploadprocessalways',function (e, data) {
					var index = data.index,
							file = data.files[index],
							node = $(data.context.children()[index]);
					if (file.preview) {
						node.prepend('<br>').prepend(file.preview);
					}
					if (file.error) {
						node.append('<br>').append($('<span class="text-danger"/>').text(file.error));
					}
					if (index + 1 === data.files.length) {
						data.context.find('button').text('Upload').prop('disabled', !!data.files.error);
					}
				}).on('fileuploadprogressall',function (e, data) {
					var progress = parseInt(data.loaded / data.total * 100, 10);
					$('.upload-file .upload-status .progress-bar').css(
							'width',
							progress + '%'
					);
				}).on('fileuploaddone',function (e, data) {
					$.each(data.result.files, function (index, file) {
						if (file.url) {
							$(".loaded-image .controls > img").attr("src", file.url);
						} else if (file.error) {
							var error = $('<span class="text-danger"/>').text(file.error);
							$(data.context.children()[index]).append(error);
						}
						$(".upload-file .upload-status .progress").remove();
						$('#remove-picture').show();
					});
				}).on('fileuploadfail',function (e, data) {
					$.each(data.files, function (index, file) {
						var error = $('<span class="text-danger"/>').text('File upload failed.');
						$(data.context.children()[index]).append(error);
					});
				}).prop('disabled', !$.support.fileInput)
				.parent().addClass($.support.fileInput ? undefined : 'disabled');
	});
</script>