<div class="progress">

	{% if item.progress is null %}
		<span>Non commencée</span>
	{% elseif item.progress < 0 %}
		<span>{{ item.progress }}%</span>
	{% endif %}

	<div class="bar{{ item.progress is null ? ' not-started' : '' }}{{ item.progress == 100 ? ' closed' : '' }}"
		 style="width: {{ item.progress is null ? '0' : item.progress }}%;">		
		{% if (item.progress > 0) and (item.progress != 100) %}
			<span>{{ item.progress }}%</span>		
		{% elseif item.progress == 100 %}
			<span>Terminée</span>
		{% endif %}
	</div>
	
</div>