<div id="report-modal" class="modal hide fade in" style="display: none; ">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>

		<h3>Signaler un abus</h3>
	</div>
	<form method="post" action="/report/new">
		<div class="modal-body">
			<div class="clearfix">
				<input type="hidden" name="object" value=""/>
				<textarea style="width: 515px" name="message" placeholder="Indiquer ici pourquoi ..." rows="5" required></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-danger">Signaler</button>
			<a href="#" class="btn" data-dismiss="modal">Annuler</a>
		</div>
	</form>
</div>
<script>
	$(function () {
		$('#report-modal form').submit(function (e) {
			e.preventDefault();
			var $form = $(this);
			$.ajax({
				url: $(this).attr("action"),
				type: $(this).attr("method"),
				data: $(this).serialize(),
				success: function (resp) {
					add_flash_message("success", "Le signalement a bien été envoyé.");
					$form.closest(".modal").modal("hide");
				},
				error: function (resp) {
					add_flash_message("error", "Une erreur s'est produite");
				}
			});
		});
	});

</script>