{# <div id="share-modal" class="modal modal-large show"> // debugg #}
<div id="share-modal" class="modal modal-large hide fade in">
	<form id="share-form" class="form-inline" action="/objectshare/share" method="post">
		
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Partager cette idée à vos contacts</h3>
		</div>

		<div class="row-fluid">
			<div class="search push-up span6 offset3">
				<div class="form search-form">
					<input type="text" name="query" class="search-input gray-input" autocomplete="off" placeholder="Rechercher...">
					<label for="share-submit"><i class="custom-blue_51"></i></label>
					<input id="share-submit" type="submit" value="Go" class="hide"/>
				</div>
			</div>
		</div>
		<input type="hidden" name="oid" value="">
		<div class="modal-body">
			<div class="contacts-content"></div>
		</div>
		<div class="modal-footer">
			<div class="control-group">
				<div class="controls full-size">
					<textarea name="comment" class="span5" placeholder="Commentaire..." rows="2"></textarea>
				</div>
			</div>
			<button type="submit" class="btn btn-danger">Partager</button>
			<a href="#" class="btn" data-dismiss="modal">Annuler</a>
		</div>
	</form>
</div>
<script>
	var $modal = $("#share-modal");

	$modal.find('.checkall').change(function () {
		if ($(this).is(':checked')) {
			$modal.find('.user').addClass('selected').find('input').val('1');
		} else {
			$modal.find('.user').removeClass('selected').find('input').val('0');
		}
	});

	$modal.on('click', '.user', function (e) {
		var $user = $(this),
				$input = $user.find('input');

		if ($input.val() == '1') {
			$input.val('0');
			$user.removeClass('selected');
		} else {
			$input.val('1');
			$user.addClass('selected');
		}
	});
	$modal.on('click', '.user a', function (e) {
		e.preventDefault();
	});

	function get_contacts() {
		$.ajax({
			url: '/user/ajax_filter_user',
			type: 'post',
			data: {
				as_html: true,
				query: $modal.find('input[name=query]').val()
			},
			success: function (resp) {
				$modal.find('.contacts-content').html(resp);
			}
		});
	}

	$modal.on("show.bs.modal", function () {
		var $modal = $(this);
		get_contacts($modal);
	})
			.find(':input[name=query]').keyup(function (e) {
				get_contacts($modal);
			});
</script>