<aside class="sidebar">

	<div class="highlight">		
		<div class="countdown">
			<strong class="uppercase">temps fort </strong>

			{# {% if edito.timer_html %}
			<div class="timer">{{edito.timer_html | raw}}</div>
			<span>restantes</span>
			{% endif %} #}

			{# <span>Terminé</span> #}
			{% set edito = getedito() %}
			<div class="timer">{{edito.timer_html | raw}}</div>
		</div>
	</div>

	<!-- @idea -->
	<a class="btn primary2 idea" href="/idea/new">Proposer une idée</a>

	<div class="search">
		<form action="/idea/search" method="get" class="search-form" id="form_search" name="form_search" onsubmit="return checkSearch()">
			<input type="text" name="search" id="input_search" class="search-input" placeholder="Rechercher...">
			<label for="search-submit"><i class="custom-blue_51"></i></label>
			<input id="search-submit" type="submit" value="Go" class="hide"/>
		</form>
	</div>
	{% include 'common/widgets/dashboard_widget.html.twig' %}

	{% include 'common/widgets/recommandation_widget.html.twig' %}

	<section class="widget thematic">
		<div class="widget-header">Thématique</div>
		<div class="wrap">
			<i class="sprite-members"></i>
			<ul class="bg children-bg bullets">

				{% for category in sidebar_idea_categories %}
				<li>
					<a href="/idea/all?filters%5Bstatus%5D=&filters%5Bcategory%5D={{ category.idea_category_id }}" title="">{{ category.name }}</a>
					<div>{{ category.description }}</div>
				</li>
				{% endfor %}

			</ul>
<!--
			<p class="text-right">
				<a href="#" title="Voir plus de thématiques">Voir plus de thématiques</a>
			</p>
-->
		</div>
	</section>

	{% if SOCIAL_ACTIVE %}
		{% include 'common/widgets/users-recommandation_widget.html.twig' %}
	{% endif %}


</aside>

<script>
    function checkSearch() {
        var input = document.getElementById('input_search').value;
        if(input != "") {
            return true;
        } else {
            return false;
        }
    };
</script>