<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
<script src="/assets/js/jquery/ui/jquery.ui.core.min.js"></script>
<script src="/assets/js/jquery/ui/jquery.ui.widget.min.js"></script>
<script src="/assets/js/jquery/ui/jquery.ui.mouse.min.js"></script>
<script src="/assets/js/jquery/ui/jquery.ui.slider.min.js"></script>