{% block mg_field %}
	<div class="team-wrap">
		<div class="add-users-magicsuggest">
			<div class="mg-wrap">
				<div id="users-mg" name="users-mg"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% set width = width is defined ? width : 520 %}

<script>
	$(document).ready(function () {
		$(".team-user-wrap .remove").click(function (e) {
			e.preventDefault();
			$(this).parents(".team-user-wrap").eq(0).remove();
		});
	});

	$(function () {
		var render = function (v) {
			return '<div class="team-user-wrap">' +
					'<img src="' + v.image + '" width="60" />' +
					'<div class="res-content">' +
					'<div class="res-name">' + v.name + '</div>' +
					'<div class="res-desc">' + v.desc + '</div>' +
					'<input type="hidden" name="users[]" value="' + v.id + '">' +
					'</div>' +
					'</div><div class="_cb"></div>';
		}
		var mg = $('#users-mg').magicSuggest({
			emptyText: 'Entrez le nom de l\'utilisateur',
			data: "/user/ajax_filter_user",
			selectionPosition: 'bottom',
			selectionStacked: true,
			allowFreeEntries: false,
			strictSuggest: false,
			width: {{ width }},
			selectionRenderer: render,
			renderer: render
		});
		{% if item.magic_users is defined %}
		mg.addToSelection({{ item.magic_users|json_encode|raw }}, true);
		{% endif %}
		$('#users-mg').find("input[type=text]").attr("placeholder", "Entrez le nom de l\'utilisateur");
	});


</script>