<div class="comment-form form-comment">

	<form class="media" method="post" action="/comment/new?object={{ item.key }}">
		<a class="pull-left" href="/user/{{ me.user_id }}">
			<img class="media-object" src="{{ me.picture.url|img_crop(50) }}" width="50">
		</a>
		<div class="media-body">
			<textarea placeholder="Votre commentaire..." name="comment" rows="1" required></textarea>
			<input type="submit" class="btn" value="Commenter">
		</div>
	</form>

</div>
