{% extends 'common/users_magicsuggest.html.twig' %}
{% block mg_field %}
	<div class="controls clearfix team-user-wrap">
		<div class="team-wrap">
			<p>
				<i class="custom-brown_42"></i> Ajouter un membre à l'équipe
			</p>
			<div class="add-users-magicsuggest">
				<div class="mg-wrap">
					<div id="users-mg" name="users-mg"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}