<div class="bloc comment-form form-share">
	<div class="media">
		<div class="avatar media-object pull-left">
			<img src="{{ me.picture.url|img_crop(50) }}">
		</div>
		<div class="media-body">
			<form id="feed_form" action="/post/new" method="POST" enctype="multipart/form-data">
				<div class="row-fluid">
					<textarea id="feed_form_content" name="content"
							  placeholder="Exprimez-vous auprès de vos collaborateurs"
							  required></textarea>
					<label class="btn">
						<input type="submit" name="feed_submit_btn" value="Partager" class="btn">
					</label>
				</div>

				{% if feed_context is defined %}
					<input type="hidden" name="context" value="{{ feed_context }}"/>
				{% endif %}

				<div class="upload-status"></div>
				<label class="upload-icon">
					<div class="add_picture"></div>
					<span>Ajouter une image</span>
					<input type="file" name="picture" class="picture_field">
				</label>

				<textarea name="embeded_preview" id="embeded-preview" style="display:none"></textarea>
				<textarea name="embeded_html" id="embeded-html" style="display:none"></textarea>

				<div id="embed-loading"><img src="/assets/img/loader.gif"> Chargement en cours</div>
				<div id="embed-preview"></div>

			</form>
		</div>
	</div>
</div>

<script src="/assets/js/vendor/jquery.ui.widget.js"></script>
<script src="/assets/js/vendor/jquery.fileupload.js"></script>
<script>

	var parsed_links = [];
	$(function () {

		var validate = function () {
			if (!$("#feed_form_content").val()) {
				alert('Le champ	de texte doit être rempli');
				return false;
			}
			return false;
		};

		$("input[name='feed_submit_btn']").click(function(event) {
			if (validate())
				$('#feed_form').submit();
		});

		$('#feed_form .picture_field').fileupload({
			autoUpload: false,
			replaceFileInput: false,
			add: function (e, data) {
				$.each(data.files, function () {
					$('#feed_form .upload-status').html($('<div/>', {
						text: this.name
					}));
				});
			}
		});

		$('#feed_form_content').bind('input propertychange', function () {
			var cut = $('#feed_form_content').val().match(/[^ \n]+/g);
			$.each(cut, function (index, url) {
				if (url.match(/^(https:\/\/|http:\/\/|www\.)[ ]?/)) {
					if (inArray(url, parsed_links) === false) {
						parsed_links.push(url);
						$.ajax({
							type: 'POST',
							url: '/post/embedly',
							data: { url: url },
							beforeSend: function () {
								close_preview();
								$('#embed-loading').show();
							},
							success: function (obj) {

								if (obj.url || obj.html) {

									if ($('#embeded-preview').is(':empty')) {
										//create preview
										create_content_preview(obj);
									}

									//set embeded-html for db
									if (obj.thumbnail_url && obj.html) {
										$('#embeded-html').text(obj.html);
										$('#embeded-preview').text(create_embeded_iframe_content(obj));
									} else {
										//set content for db
										$('#embeded-preview').text(create_embeded_content(obj));
									}
								}
								;

							},
							complete: function (xhr, status) {
								if (xhr.responseText.type !== 'error') {
									open_preview();
								}
								;
							}
						})
					}
				}
			})
		})

		$('#feeds').on("click", '.iframe-content-preview', function () {
			var feed_id = $(this).closest('.cameleon_feed').attr('id').split('/')[1];

			$(this).attr('id', 'embed-' + feed_id).html('');
			jQuery('<div/>', { "class": 'loader', css: { textAlign: 'center', marginBottom: '5px' } }).appendTo('#embed-' + feed_id);
			jQuery('<img/>', { src: '/assets/img/html-loader.gif' }).appendTo('.loader');

			$.ajax({
				type: 'POST',
				url: 'post/get_iframe',
				data: {
					feed_id: feed_id
				},
				success: function (object) {
					$('#embed-' + object.feed_id).html(object.embeded_html);
					return false;
				}
			});
			return false;
		})
	})

	/*///////////TOOL/////////////*/
	function inArray(needle, haystack) {
		var length = haystack.length;
		for (var i = 0; i < length; i++) {
			if (haystack[i] == needle) return true;
		}
		return false;
	}

	/*/////////SLIDES/////////*/

	function open_preview() {
		$('#embed-preview').slideDown();
		$('#embed-loading').hide();
	}

	function close_preview() {
		$('#embed-preview').slideUp().html('');
		$('#embeded-preview, #embeded-html').html('');
	}

	/*/////////PREVIEW/////////*/

	function create_content_preview(obj) {
		//img
		jQuery('<div/>', { "class": 'img-preview' }).appendTo('#embed-preview');
		jQuery('<img/>', { src: obj.thumbnail_url }).appendTo('#embed-preview .img-preview');

		//content
		jQuery('<div/>', { "class": 'content-preview' }).appendTo('#embed-preview');
		jQuery('<span/>', { id: 'embed-close', title: 'Supprimer', text: '×', css: {float: 'right', cursor: 'pointer', marginLeft: '5px'} }).appendTo('#embed-preview .content-preview');
		jQuery('<p/>', { "class": 'title-preview', text: obj.title, css: { width: '380px' } }).appendTo('#embed-preview .content-preview');
		jQuery('<p/>', { "class": 'description-preview', text: obj.description }).appendTo('#embed-preview .content-preview');

		//close embed-preview
		$('#embed-close').click(function () {
			close_preview();
			parsed_links = [];
		});
	}

	/*/////////POST/////////*/

	function create_embeded_content(obj) {
		//wrap
		jQuery('<div/>', { "class": 'embeded-content-preview' }).appendTo('#embeded-preview');

		//img
		jQuery('<a/>', { "class": 'embeded-img', href: obj.url, target: '_blank' }).appendTo('#embeded-preview .embeded-content-preview');
		jQuery('<img/>', { src: obj.thumbnail_url }).appendTo('#embeded-preview .embeded-img');

		//content
		jQuery('<div/>', { "class": 'embeded-content' }).appendTo('#embeded-preview .embeded-content-preview');
		jQuery('<a/>', { "class": 'title-preview', href: obj.url, text: obj.title, target: '_blank' }).appendTo('#embeded-preview .embeded-content');
		jQuery('<p/>', { "class": 'description-preview', text: obj.description }).appendTo('#embeded-preview .embeded-content');

		return $('#embeded-preview').html();
	}

	function create_embeded_iframe_content(obj) {
		//wrap
		jQuery('<a/>', { "class": 'iframe-content-preview', href: '' }).appendTo('#embeded-preview');

		//img
		jQuery('<div/>', { "class": 'img-preview' }).appendTo('.iframe-content-preview');
		jQuery('<img/>', { src: obj.thumbnail_url }).appendTo('#embeded-preview .iframe-content-preview .img-preview');

		//content
		jQuery('<div/>', { "class": 'content-preview' }).appendTo('#embeded-preview .iframe-content-preview');
		jQuery('<p/>', { "class": 'title-preview', text: obj.title }).appendTo('#embeded-preview .iframe-content-preview .content-preview');
		jQuery('<p/>', { "class": 'description-preview', text: obj.description }).appendTo('#embeded-preview .iframe-content-preview .content-preview');

		return $('#embeded-preview').html();
	}

</script>
