
<div id="tags" name="tags" value="{{ item.magic_tags }}"></div>
{#<a href="/tag/all"><span class="category-all">Voir toutes les catégories</span></a>#}

<script>
	$(function () {
		var data = {{ tags|json_encode|raw }};

		var tagsInput = $('#tags').magicSuggest({
			emptyText: 'Saisissez vos catégories, et validez en appuyant sur Entrée.',
			data: data,
			name: 'tags',
			selectionPosition: 'bottom',
			selectionStacked: true,
			displayField: 'name',
			valueField: 'tag_id',
			sortOrder: 'name',
			sortDir: 'asc',
			allowFreeEntries: true,
			strictSuggest: true,
			noSuggestionText: 'Aucune suggestion ...'
		});
	})
</script>