<div class="control-group">
	<label class="control-label" for="f-description">Description :</label>

	<div class="controls">
		<textarea name="description" id="f-description"
				  rows="5">{{ object is defined and object ? object.description : '' }}</textarea>
	</div>
</div>
{% if no_extra_desc is not defined or not no_extra_desc %}
	<div class="control-group">
		<label class="control-label" for="f-objectives">Objectifs :</label>

		<div class="controls">
			<textarea name="objectives" id="f-objectives"
					  rows="5">{{ object is defined and object ? object.objectives : '' }}</textarea>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="f-stakes">Enjeux :</label>

		<div class="controls">
			<textarea name="stakes" id="f-stakes"
					  rows="5">{{ object is defined and object ? object.stakes : '' }}</textarea>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="f-expectations">Attentes :</label>

		<div class="controls">
			<textarea name="expectations" id="f-expectations"
					  rows="5">{{ object is defined and object ? object.expectations : '' }}</textarea>

			<div class="controls"></div>
		</div>
	</div>
{% endif %}
