<li class="one-comment-on-a-list">
	<div class="media">
		<!-- thumb -->
		<a class="pull-left" href="/{{ comment.user.key }}" title="{{ comment.user.name }}">
			<img class="media-object" src="{{ comment.user.picture.url|img_crop(30) }}" width="30" alt="{{ comment.user.name }}">

		</a>
		<!-- comment -->
		<div class="media-body">
			<!-- text -->
			<p class="comment-text">{{ comment.content|nl2br }}</p>
			<!-- infos -->
			<div class="comment-infos">
				<span class="pull-left like" oid="objectComment/{{ comment.object_comment_id }}">
					<a href="#">
						<i class="custom-blue_52"></i>
						<span class="lbl">{% if not comment.is_liked %}J'aime{% else %}Je n'aime plus{% endif %}</span>
					</a>
					(<span	class="nb-likes">{{ comment.n_likes }}</span>)</span>
					<span class="timeago pull-right momentjs-unix">{{ comment.created_at.fromNow() }}</span>
			</div>
		</div>

		{% if is_granted('DELETE', comment.key) %}
			<a href="/comment/{{ comment.object_comment_id }}?destroy" class="close">
				<i class="basic-s-black_07"></i>
			</a>
		{% endif %}
		{% if comment.user_id == me.user_id %}
			<a href="#{{ comment.object_comment_id }}" class="edit">
				<i class="basic-s-black_02"></i>
			</a>
		{% endif %}
	</div>
</li>