<div class="one-experimentation-on-a-list">

	<div class="picture">
		<a href="/{{ experimentation.key }}"><img src="{{ experimentation.picture.url|img_crop(98) }}" width="98"></a>
	</div>

	<div class="excerpt">
		<h3 class="title"><a href="/{{ experimentation.key }}">{{ experimentation['name'] }}</a></h3>

		<p>{{ experimentation.description|truncate(150) }}</p>
		{% if experimentation.description %}
		<span class="read-more"><a href="/{{ experimentation.key }}">(lire la
				suite)</a></span>
		{% endif %}
	</div>
	<div class="progression">
		{% if experimentation.progress is defined %}
			{% include 'common/progression.html.twig' with { item: experimentation } %}
		{% endif %}
	</div>
	{% if is_granted('EDIT', 'innovation/' ~ experimentation.innovation_id) %}
		<a class="btn-blue" href="/{{ experimentation.key }}?edit">Modifier</a>
	{% endif %}

	{% include 'partial/one_social.html.twig' with {item: experimentation} %}

</div>