<div class="col4 group" id="group_{{ group.group_id }}">
	<div class="name">
		<a href="/{{ group.key }}">{{ group.name }}</a>

		<div class="close"><b class="caret"></b></div>
	</div>
	<div class="info-wrapper">
		<div class="description">{{ group.description|truncate(100) }}</div>
		<div class="info">{{ '{0} Aucun membre|{1} 1 membre|[2,Inf] %n% membres'|plurialize(group.n_users, {'%n%': group.n_users}) }}</div>
	</div>
</div>