<div class="one-idea" id="idea-{{ idea.idea_id }}" ref="{{ idea.idea_id }}">

	<div class="heading">
		<div class="title">
			<a href="/{{ idea.key }}">{{ idea.name }}</a>
		</div>		
	</div>
	{% block heading %}
		<div class="heading">
			{% include 'partial/idea/sub_heading.html.twig' %}
		</div>
	{% endblock %}

	<div class="media">
		<div class="first-col">
			<a class="bloc media-object" href="/{{ idea.key }}">
				<img src="{{ idea.user.picture.url|img_crop(50) }}" width="50"/>
			</a>
			{% block author %}
				{% include 'partial/idea/author.html.twig' %}
			{% endblock %}
		</div>
		<div class="media-body">
			<div class="bloc {% block description_class 'description' %}">
				<p>{{ idea.description|truncate(480) }}</p>
				{% if idea.description|length > 480 %}
					<div class="text-right"><a class="read-more" href="/{{ idea.key }}" title="Voir la suite">Voir la suite</a></div>
				{% endif %}
			</div>
			{% block actions %}
				<div class="actions directions">
					<div class="left">
						{% block action_rating %}
							{% include 'partial/idea/action_rating.html.twig' %}
						{% endblock %}
					</div>
					<div class="right">
						{% block edit_action %}
							{% include 'partial/idea/edit_action.html.twig' %}
						{% endblock %}
					</div>
				</div>
			{% endblock %}			
		</div>
	</div>
	{% if idea.status is defined and (idea.status == "study" or idea.status == "waiting" or idea.status == "estimate") %}
		{% block social %}
			{% if not idea.closed %}
				<!-- @one social -->				
				{% include 'partial/one_social.html.twig' with {item:idea} %}
			{% endif %}
		{% endblock %}
	{% endif %}
	
</div>