<div class="one_task_on_a_list clearfix" ref="{{ milestone.milestone_id }}" id="task{{ milestone.milestone_id }}">
	<div class="pull-left experiment_label" title="Editer">
		<span>{{ milestone.name|truncate(60) }}</span>
	</div>
	<div class="right_arrow"></div>
	<div class="pull-right experiment">
		<input class="datepicker" type="text" name="experiment">
		<script>
			$("#task{{ milestone.milestone_id }} .datepicker").datepicker({
				format: "dd M"
			}).datepicker("setDate", new Date({{ milestone.due_date.format('Y, m - 1, d') }}));
		</script>
	</div>
</div>
