<div class="one-social social-actions" oid="{{ item.key }}">
	<ul>
		<li class="list-comments">
			<a href="#">
				<i class="basic-s-blue_44"></i>{% if item['n_comments'] == 0 %}Soyez le premier à commenter{% else %}Voir les commentaires{% endif %}</a>
			{% if item['n_comments'] > 0 %}
			(<span
					class="nbcomments">{{ item.n_comments }}</span>)
			{% endif %}
		</li>
		<li class="like" oid="{{ item.key }}"><a href="#">
				<i class="custom-blue_52"></i><span
						class="lbl">{% if item.is_liked %}Je n'aime plus{% else %}J'aime{% endif %}</span></a> (<span
					class="nb-likes">{{ item['n_likes'] }}</span>)
		</li>
		<li class="report-abuse"><i class="sprite-report"></i>
			<a href="#" class="report-abuse">
				</i> Signaler un abus
			</a>
		</li>
	</ul>
	<div class="comments-container">
		<div class="comments"></div>
		{% if idea.status is not defined or (idea.status is defined and (idea.status == "study" or idea.status == "waiting" or idea.status == "estimate")) %}
			{% include 'partial/comment_form.html.twig' %}
		{% endif %}
	</div>
</div>