<div class="user{% block classes '' %}">
	<div class="media">
		<!-- thumb -->
		<a href="/{{ user.key }}" class="pull-left">
			<img width="60" class="media-object"
				 src="{{ user.picture.url|img_crop(60) }}">
		</a>
		<!-- text -->
		<div class="media-body">
			<!-- name -->
			<div class="name">
				<a href="/{{ user.key }}">
					<strong>{{ user.full_name }}</strong>
				</a>
			</div>

			{% block actions %}
			{% if user.user_id != me.user_id %}
				{% if user.user_id != me.user_id and not user.is_friend %}
					<a href="/user/contact_request?contact={{ user.user_id }}" class="pull-right message">
						<i class="custom-blue_42"></i>
					</a>
				{% else %}
					<a class="pull-right message" href="/message/new?to={{ user.user_id }}">
						<span class="basic-s-brown_36"></span>
					</a>
				{% endif %}
			{% endif %}
			{% endblock actions %}

			{% if user_action_link is defined %}
				<div class="action">
					{{ user_action_link|raw }}
				</div>
			{% else %}
				<!-- role -->
				<div class="role pull-left">
					{% if user.jobposition is defined %}
						{{ user.jobposition.name }}
					{% endif %}
				</div>
			{% endif %}
		</div>
	</div>
	{% block extended '' %}
</div>
