<div class="document">
	<div class="doc-left">
		<div class="media">
			<div class="media-object">
				<span class="basic-brown_20"></span>
			</div>

			<div class="media-body">
				<p class="doc-name">{{ document.name }}</p>

				<div class="doc-desc">
												<span class="doc-timestamp">
													{{ document.created_at.niceFormat('d %month, H:i') }}
												</span>
					|
												<span>
													Dernière version par
													<a href="/{{ document.user.key }}">{{ document.user.name }}</a>
												</span>
				</div>
			</div>
		</div>
	</div>
	<div class="doc-right">
		<a href="#" ref="{{ document.document_id }}" class="close">x</a>

		<div class="doc-download">
			<span class="basic-brown_38"></span>
			<a href="/document/download?document_id={{ document.document_id }}">
				Télécharger
			</a>
		</div>
	</div>
</div>
