<div class="control-group">
	<label class="control-label" for="f-perimeters-{{ type }}">{{ perimeter.label }}</label>

	<div class="controls clearfix mg-wrap">
		<div id="f-perimeters-{{ type }}"></div>
	</div>
</div>

<script>
	$(function () {

		var mg_{{ type }} = $('#f-perimeters-{{ type }}').magicSuggest({
			data: {{ item.magic_perimeters[type]|json_encode|raw }},
			emptyText: 'Choisissez ...',
			sortDir: 'asc',
			displayField: 'name',
			sortOrder: 'name',
			name: "perimeters[{{ type }}]",
			valueField: 'perimeter_id',
			selectionPosition: 'bottom',
			selectionStacked: true,
			allowFreeEntries: true,
			noSuggestionText: 'Aucune suggestion ...',
			value: {{ item.magic_perimeters_id[type]|json_encode|raw }}
		});

		mg_{{ type }}.setData('/perimeter/get_perimeters_from_type?type={{ type }}');
	})
</script>