<li class="li-message" data-type="">
	<img src="http://placehold.it/60x60" class="media-object">
	<div class="content">	
		<div class="head">
			<h3>{{ message['from_user']['name'] }}</h3>
			<span class="gray">il y a 3 heures</span>
			<img class="pull-right" src="/assets/img/trash.png" alt="">
		</div>
		<div class="text">
			<p class="gray">{{ message['content'] }}</p>
		</div>	
	</div>
</li>