{% extends 'partial/one_idea_on_a_list.html.twig' %}

{% set idea = innovation %}

{% block description_class %}description full-description{% endblock %}
{% block actions %}{% endblock %}
{% block heading %}
	<div class="heading">
		{% include 'partial/idea/tags.html.twig' %}
		{% if innovation.progress is defined %}
			{% include 'common/progression.html.twig' with { item: innovation } %}
		{% endif %}
	</div>
{% endblock %}
{% block author %}
	{% include 'partial/idea/author.html.twig' %}
{% endblock %}

{% block social %}
	<!-- @one social -->
	{% include 'partial/one_social.html.twig' with {item:idea} %}
{% endblock %}

{% block heading_info %}
{% endblock %}
