{% if item.tags|length > 0 %}
	<div class="tags">
		<i class="sprite-tag"></i>
		{% for t in item.tags %}{% if loop.index > 1 %}, {% endif %}<a href="#">{{ t.name }}</a>{% endfor %}
	</div>
{% endif %}