{% extends 'layout/layout.html.twig' %}
{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}
{% block content %}
	<div class="group-all content-wrp">

		{% import 'common/paginate.html.twig' as pager %}

		<div class="heading">
			<div class="title"> Communautés d'intêret</div>
			<a class="btn primary2" href="/group/new">Créer une communauté</a>
		</div>

		<div class="bloc">
			{% if my_groups|length > 0 %}
				<h3>Les communautés que j'ai créées</h3>

				<div class="wrap-col group-list">
					{% for group in my_groups %}
						{% include 'partial/one_group_on_a_list.html.twig' %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
		{% if user_groups|length > 0 %}
			<div class="bloc">
				<h3>Mes communautés</h3>

				<div class="wrap-col group-list">
					{% for group in user_groups %}
						{% include 'partial/one_group_on_a_list.html.twig' %}
					{% endfor %}
				</div>
			</div>
		{% endif %}

		{% if groups|length > 0 %}
			<div class="bloc">
				<h3>Rejoindre une communauté</h3>

				<div class="wrap-col group-list">
					{% for group in groups %}
						{% include 'partial/one_group_on_a_list.html.twig' %}
					{% endfor %}
				</div>
			</div>
		{% endif %}

		<!-- @paginate -->
		<div class="paginate">
			{{ pager.paginate(pages_count) }}
		</div>
	</div>
	<script>
		$('.group .close').click(function (e) {
			e.preventDefault();

			var group = $('.info-wrapper');

			$(this).closest('.group').siblings().find(group).slideUp();
			$(this).parent().next(group).slideToggle('fast');
		});
	</script>

	{# IE7 z-index bug => http://css-tricks.com/snippets/jquery/fixing-ie-z-index/ #}
	<!--[if lte IE 7]>					
		<script>
			$(function() {
				var zIndexNumber = 900;			
				
				$(".group").each(function() {
					$(this).css('zIndex', zIndexNumber);
					zIndexNumber -= 5;
				});
			});
		</script>
	<![endif]-->
{% endblock %}