{% extends 'admin/layout.html.twig' %}

{% block breadcrumb %}
	<li>
		<i class="icon-home home-icon"></i>
		<a href="/admin/">Accueil</a>
							<span class="divider">
								<i class="icon-angle-right arrow-icon"></i>
							</span>
	</li>
	<li class="active">Dashboard</li>
{% endblock %}

{% block page_header %}
	<h1>
		Dashboard
		<small>
			<i class="icon-double-angle-right"></i>
			Vue d'ensemble
		</small>
	</h1>
{% endblock %}
{% block content %}
	<div class="row-fluid">
		<div class="span12">
			<div class="space-6"></div>
			<h3>Modification de l'editorial <small><a href="/edito" target="_blank">voir...</a></small></h3>

			<form class="form-horizontal" action="?update_edito" method="post" enctype="multipart/form-data">
				<div class="control-group">
					<label class="control-label">Deadline</label>
					<div class="controls">

						<div id="datetimepicker1" class="input-append date">
							<input data-format="yyyy-MM-dd hh:mm" type="text" name="date" value="{{edito.date}}"></input>
							<span class="add-on">
								<i data-time-icon="icon-time" data-date-icon="icon-calendar">
								</i>
							</span>
						</div>
						<script type="text/javascript">
							$(function() {
								$('#datetimepicker1').datetimepicker({
									language: 'en'
								});
							});
						</script>

					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Image</label>
					<div class="controls">
						<input type="file" name="image">
						<br>
						<img class="media-object pull-left" src="/files/edito.jpg" width="100">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">&nbsp;</label>
					<div class="controls">
						<textarea class="tiny" name="content" rows="10" cols="300">{{edito.content}}</textarea>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">Enregistrer</button>
					</div>
				</div>
			</form>

		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="space-6"></div>
			<h3>Modification du mode d'emploi <small><a href="/instructions" target="_blank">voir...</a></small></h3>

			<form class="form-horizontal" action="?update_instructions" method="post" enctype="multipart/form-data">
				<div class="control-group">
					<label class="control-label">&nbsp;</label>
					<div class="controls">
						<textarea name="content" rows="10" cols="300">{{instructions.content}}</textarea>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">Enregistrer</button>
					</div>
				</div>
			</form>

		</div>
	</div>
{% endblock %}
