{% extends 'bloc/experimentation/breadcrumb.html.twig' %}

{% if experimentation is defined %}
	{% set __breadcrumb = {
	('/' ~ experimentation.key): experimentation.name|truncate(25)
	} %}
{% else %}
	{% set __breadcrumb = {
	'/experimentation/new': 'Nouvelle expérimentation'
	} %}
{% endif %}