{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include 'bloc/experimentation/edit/breadcrumb.html.twig' %}
{% endblock %}
{% block content %}
	<div class="experimentation-edit">
		{% include 'bloc/experimentation/edit/step' ~ step ~ '.html.twig' %}
	</div>
{% endblock %}