{% set steps = {
	1: 'Création',
	2: 'Informations',
	3: 'Constitution',
	4: 'Prévisions',
} %}
<div class="multi-steps">
	{% for k,v in steps %}
	<div class="step{% if loop.last %} last{% endif %}{% if step == k %} current{% elseif step > k %} validated{% endif %}">
		<a{% if experimentation is defined and (step >= k or experimentation.name) %} href="?edit&step={{ k }}"{% endif %} title="{{ v }}">
			<span class="step-nb">{{ k }}</span>
			{{ v }}
		</a>
	</div>
	{% endfor %}
</div>