{% extends 'bloc/experimentation/edit/step1.html.twig' %}

{% block form_content %}
	<h3>Illustrer l'innovation </h3>
	<div class="bloc">
		{% include 'common/picture_upload.html.twig' with {item: experimentation} %}
	</div>

	<h3>Ressources pour l'expérimentation</h3>
	<div class="bloc resources">
		<div class="row-fluid">
			<div class="span2"><i class="custom-brown_62"></i> Budget</div>
			<div class="span9">
				<div class="budget" id="budget"></div>
				<input type="hidden" name="budget" id="input-budget" value="{{ experimentation.budget }}">
			</div>
		</div>
		<hr>
		<div class="row-fluid">
			<div class="span2"><i class="custom-brown_43"></i> Soutiens</div>
			{% spaceless %}
				<div class="span9 fields">
					{% for r in experimentation.roi %}
						<input type="text" name="roi[]" value="{{ r }}">
					{% else %}
						<input type="text" name="roi[]">
					{% endfor %}
				</div>
			{% endspaceless %}
			<div class="span1 add-fields"><span class="add">+</span></div>
		</div>
		<hr>
		<div class="row-fluid">
			<div class="span2"><i class="basic-brown_27"></i> ROI</div>
			{% spaceless %}
				<div class="span9 fields">
					{% for s in experimentation.support %}
						<input type="text" name="support[]" value="{{ s }}">
					{% else %}
						<input type="text" name="support[]">
					{% endfor %}
				</div>
			{% endspaceless %}
			<div class="span1 add-fields"><span class="add">+</span></div>
		</div>
	</div>
	{% include 'common/ui-slider_includes.html.twig' %}
	<script>
		$(function () {
			$(".add-fields").click(function () {
				var $list = $(this).prev(".fields");
				$list.append($list.find("input").eq(0).clone().val(""));
				return;
			});
		})

		$(function () {
			simple_slider('budget', 0, 100000, 5000, '€', 'input-budget')
		})

		function simple_slider(id, min, max, step, unit, inputtarget) {

			if (unit == undefined || unit === null) {
				unit = '';
			}

			var html = '<div class="min-val">' + min + unit + '</div>';
			html += '<div class="max-val">' + max + unit + '</div>';
			html += '<div id="' + id + '-div"></div>';
			$('#' + id).html(html);

			function format_number(i) {
				i = parseInt(i);
				if (i > 1000) {
					return (i / 1000) + ".000";
				} else {
					return i;
				}
			}

			var val = parseInt($('#' + inputtarget).val());
			$("#" + id + "-div").slider({
				range: "min",
				min: min,
				value: val,
				max: max,
				step: step,
				slide: function (event, ui) {
					var h = '<div class="select-slider-value">' + format_number(ui.value) + unit + '</div>';
					$("#" + ui.handle.offsetParent.id + " > .ui-slider-handle").html(h);
					$('#' + inputtarget).val(ui.value);
				}
			});
			$("#" + id + "-div > .ui-slider-handle").html('<div class="select-slider-value">' + format_number(val) + unit + '</div>');
			$('.max-val').text(format_number(max) + unit);
		}
	</script>
{% endblock %}