<div class="innovation-new">
	{% block modals '' %}
	{% include 'bloc/experimentation/edit/multi_step.html.twig' %}
	<form class="form-horizontal step{{ step }}" method="POST">

		{% block form_content %}


		{% block xp_form '' %}

			<div id="xp-description">
				<h3>Description de l'expérimentation</h3>

				<div class="bloc">
					<div class="control-group">
						<label class="control-label" for="f-name">Titre</label>

						<div class="controls">
							<input type="text" id="f-name" name="name" placeholder="Titre de l'expérimentation"
								   value="{{ experimentation is defined ? experimentation.name : '' }}">
						</div>
					</div>
					<hr>
					<p>Décrivez brièvement l'expérimentation en question (400 caractères).</p>
					{% include 'partial/object_description.html.twig' with {object: (experimentation is defined) ? experimentation : null, no_extra_desc: true} %}
				</div>
			</div>
		{% endblock %}

		<div class="pull-right text-right">
			{% if step < 4 %}
				<p>passez à l'étape {{ step + 1 }}</p>
			{% endif %}
			<button type="submit" class="btn primary2">Enregistrer</button>
		</div>
	</form>
</div>
