{% extends 'bloc/experimentation/edit/step1.html.twig' %}

{% block form_content %}
	<h3>Catégorisation de l'expérimentation</h3>
	<div class="bloc">
		<p>Veuillez préciser les catégories concernées par cette expérimentation :</p>

		<div class="control-group full-size">
			<div class="controls clearfix mg-wrap">
				{% include 'partial/magic_tags.html.twig' with {item:experimentation} %}
			</div>
		</div>
	</div>

	<h3>Equipe d'expérimentation</h3>
	<div class="bloc">
		<div class="control-group full-size">
			{% include 'partial/experimentation_team.html.twig' with {item: experimentation} %}
		</div>

	</div>
{% endblock %}
