{% extends 'bloc/experimentation/edit/step1.html.twig' %}

{% block modals %}
	<div id="taskmodal" class="modal hide fade in" style="display: none; ">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>

			<h3>Jalon de l'expérimentation</h3>
		</div>
		<form id="modalform">
			<input type="hidden" id="modalid" name="modalid" value=""/>

			<div class="modal-body">
				<div class="clearfix">
					<label for="title">Nom</label>

					<div class="input">
						<input type="text" id="modalname" name="title">
					</div>
					<label for="experimentdate">Echéance</label>
					<input class="datepicker" type="text" name="experimentdate" id="experimentdate">
					<label for="editorwysiwyg">Description</label>
					<textarea id="editorwysiwyg"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success">Modifier</button>
				<a href="#" class="btn" data-dismiss="modal">Annuler</a>
			</div>
		</form>
	</div>
{% endblock %}

{% block form_content %}

	<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
	<script src="/assets/js/date-time/locales/bootstrap-datepicker.fr.js"></script>
	<h3>Jalons de l'experimentation</h3>
	<div class="bloc">
		<a href="#" class="add-milestone marker secondary">
			<span class="add">+</span>
			Ajouter un jalon
		</a>

		{% for milestone in experimentation.milestones %}
			{% include 'partial/one_task_on_a_list.html.twig' %}
		{% endfor %}
	</div>


	<h3>Périmètres </h3>
	<div class="bloc">
		{% for type,perimeter in perimeters %}
			{% include 'partial/one_perimeter_on_a_list.html.twig' with {item:experimentation} %}
		{% endfor %}
	</div>


	<script>

		$(function () {

			function getSQLDate($datepicker) {
				var date = $datepicker.data('datepicker').date;
				return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
			};

			tinymce.init({
				selector: 'textarea',
				entity_encoding : 'raw',
				language: 'fr_FR',
				statusbar: false,
				removed_menuitems: 'newdocument'
			});
			$("#modalform .datepicker").datepicker({
				buttonImage: "/assets/img/calendar_blue.png",
				buttonImageOnly: true,
				format: "dd/mm/yy"
			});
			$(".one_task_on_a_list .datepicker").change(function () {
				var data = {
					milestone_id: $(this).closest(".one_task_on_a_list").eq(0).attr("ref"),
					due_date: getSQLDate($(this))
				};
				$.post("/milestone/ajax?method=change_milestone", data, function (data) {
				}, "json");
			});
			$(".one_task_on_a_list .experiment_label").click(function () {
				$.get("/milestone/" + $(this).closest(".one_task_on_a_list").attr("ref"), function (data) {
					tinyMCE.get('editorwysiwyg').setContent(data.description);
					$('#modalname').val(data.name);
					$('#modalid').val(data.milestone_id);
					var due_date_parts = data.due_date.split('-');
					$("#experimentdate").datepicker("setDate", new Date(due_date_parts[0], parseInt(due_date_parts[1]) - 1, parseInt(due_date_parts[2])));
					$('#taskmodal').modal();
				}, "json");
			});
			$('#modalform').submit(function (e) {
				e.preventDefault();
				var tinydata = tinyMCE.get('editorwysiwyg').getContent();
				var modalid = $('#modalid').val();

				var data = {
					milestone_id: $('#modalid').val(),
					description: tinydata,
					due_date: getSQLDate($("#experimentdate")),
					name: $('#modalname').val()
				};
				var $task = $("#task" + data.milestone_id);
				$task.find(".experiment_label span").html(data.name);
				$task.find(".datepicker").datepicker("setDate", $("#experimentdate").data('datepicker').date);

				$.ajax({
					url: "/milestone/ajax?experimentation_id={{ experimentation.experimentation_id }}",
					data: data,
					type: "POST",
					dataType: "json",
					success: function (resp) {
						if (resp.milestone.created_at) {
							window.location.reload();
						} else {
							$('#taskmodal').modal('hide');
						}
					}
				});
			});

			$(".add-milestone").click(function (e) {
				e.preventDefault();
				tinyMCE.get('editorwysiwyg').setContent("");
				$('#modalname').val("");
				$('#modalid').val("");
				$("#experimentdate").datepicker("setDate", new Date());
				$('#taskmodal').modal();
			});
		})
	</script>
{% endblock %}
