{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}		
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}

{% block content %}	
	{% include 'common/report_modal.html.twig' %}
	{% import 'common/paginate.html.twig' as pager %}

	<div class="idea-all">

		<div class="content-wrp push-down">
			<div class="paginate">
				<div class="nb-idea primary">{{ '%n% idée référencée|%n% idées référencées'|plurialize(n_ideas, {'%n%': n_ideas}) }}</div>
				{{ pager.paginate(pages_count) }}
			</div>

			<!-- @filter -->
			<div class="filter push-up">

				<form id="filter-form">
					<label for="filter-status" class="select gray-input">
						<div class="bg">
							<span class="caret"></span>
						</div>
						<select name="filters[status]" id="filter-status">
							<option value="">Statut de l’idée</option>
							{% for k,v in idea_statuses %}
								<option value="{{ k }}"{% if request.params.filters.status is defined and request.params.filters.status == k %} selected{% endif %}>{{ v }}</option>
							{% endfor %}
						</select>
					</label>

					<label for="filter-category" class="select gray-input">
						<div class="bg">
							<span class="caret"></span>
						</div>
						<select name="filters[category]" id="filter-category">
							<option value="">Thématique</option>
							{% for k, category in idea_categories %}
								<option value="{{ k }}"{% if request.params.filters.category is defined and request.params.filters.category == k %} selected{% endif %}>{{ category }}</option>
							{% endfor %}
						</select>
					</label>
				</form>
				<script>
					$('#filter-form').each(function (){
						var $form = $(this);
						$form.find('select').change(function (){
							$form.submit();
						});
					});
				</script>
				<span>Filtrer par : </span>
			</div>		
		</div>		

		{% for idea in ideas %}
			{% if not (loop.first) %}
				<hr />
			{% endif %}
			{% include 'partial/one_idea_on_a_list.html.twig' %}			
		{% endfor %}		
		
		<div class="content-wrp push-up">
			<div class="paginate">
				{{ pager.paginate(pages_count) }}
			</div>
		</div>
	</div>

	{% include 'bloc/idea/idea_js.html.twig' %}


{% endblock %}