{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}

{% block content %}

	<div class="user-edit content-wrp">

		<form method="POST" class="form-horizontal">
			<h3>Informations personnelles</h3>

			<div class="profile-infos bloc">
				<div class="control-group">
					<label class="control-label" for="first_name">Prénom</label>

					<div class="controls">
						<input type="text" name="first_name" value="{{ user.first_name }}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="last_name">Nom</label>

					<div class="controls">
						<input type="text" name="last_name" value="{{ user.last_name }}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="jobposition_id">Direction</label>

					<div class="controls clearfix">
						<label class="select">
							<div class="bg">
								<span class="caret"></span>
							</div>
							<select name="jobposition_id">
								<option value="">Choisir une direction ...</option>
								{% for job in job_positions %}
									<option value="{{ job.jobposition_id }}"{% if job.jobposition_id == user.jobposition_id %} selected{% endif %}>{{ job.name }}</option>
								{% endfor %}
							</select>
						</label>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="location">Nom du site</label>

					<div class="controls clearfix">
						<label class="select">
							<div class="bg">
								<span class="caret"></span>
							</div>
							<select name="location">
								<option value="">Choisir un site ...</option>
								{% for site in list_sites %}
									<option value="{{ site }}"{% if site == user.location %} selected{% endif %}>{{ site }}</option>
								{% endfor %}
							</select>
						</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">Adresse email</label>

					<div class="controls">
						<input type="text" name="email" value="{{ user.email }}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="phone">Téléphone</label>

					<div class="controls">
						<input type="text" name="phone" value="{{ user.phone }}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Mot de passe</label>

					<div class="controls">
						<input type="password" name="password">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="confirm">Confirmation</label>

					<div class="controls">
						<input type="password" name="confirm">
					</div>
				</div>
			</div>

			<h3>Description du profil</h3>

			<div class="bloc">
				<div class="control-group full-size">
					<div class="controls">
						<textarea name="description" rows="8">{{ user.description }}</textarea>
					</div>
				</div>
			</div>

			<h3>Photo de profil</h3>

			<div class="bloc">
				<div class="control-group full-size">
					<div class="controls">
						{% include 'common/picture_upload.html.twig' with {item: user} %}
					</div>
				</div>
			</div>

			<h3>Centres d'intérêt</h3>

			<div class="bloc">
				<p>Veuillez préciser vos centres d'intérêt :</p>

				<div class="control-group full-size">

					<div class="controls mg-wrap">
						{% include 'partial/magic_tags.html.twig' with {item:user} %}
					</div>
				</div>
			</div>

			<h3>Conditions Générales d'Utilisation</h3>

			<div class="bloc">
				<p>Veuillez accepter les conditions générales d'utilisation :</p>
				
				<div class="control-group">
					<label class="checkbox" for="cgu">
						{% if user.cgu %}
						<input type="checkbox" name="cgu" value="1" checked="checked">
						{% else %}
						<input type="checkbox" name="cgu" value="1">
						{% endif %}
						J'accepte les <a href="#cgu-modal" data-toggle="modal" data-target="#cgu-modal">Conditions Générales d'Utilisation</a>
					</label>					
				</div>
			</div>
			
			<div class="pull-right">
				<button type="submit" class="btn primary2">Enregistrer</button>
			</div>
		</form>

	</div>


	{% include 'common/ui-slider_includes.html.twig' %}
	<script>

		$(function () {

			function cloneItem($item) {
				var $hidden = $('#skills-wrap').find('.skill-line:not(:visible)');
				if ($hidden.length === 1) {
					$hidden.show();
					return;
				}
				var new_line = $item.clone();
				var slider_wrap = new_line.find('.skill-level');
				new_line.find('input[type="text"]').val('');
				slider_wrap.html('');
				simple_slider($(slider_wrap), 0, 100, 5, '%', true);
				$('#skills-wrap').append(new_line);
				return new_line;
			}

			$('#add-skill').click(function (e) {
				e.preventDefault();
				cloneItem($(this).parent().prev(".fields").find('.skill-line:last'));
			});

			$('.profile-skills').on('click', '.delete-skill', function (e) {
				e.preventDefault();
				var l = $('.profile-skills .skill-line').length;
				if (l > 1) {
					$(this).closest('.skill-line').remove();
				} else {
					var $newItem = cloneItem($(this).closest('.skill-line'));
					$newItem.hide();
					$(this).closest('.skill-line').remove();
				}
			});

			//set ui slider
			$(function () {
				$('.skill-level').each(function (index, elem) {
					simple_slider($(elem), 0, 100, 5, '%')
				})
			})

			function simple_slider(container, min, max, step, unit, new_entry) {

				if (unit == undefined || unit === null) {
					unit = '';
				}

				//get hidden field value for slider init option val
				//initialise with 0% if new entry field
				var val;
				if (new_entry) {
					var val = 0;
				} else {
					var val = $(container).next().val();
				}
				;

				//create slider div
				var div = $("<div/>");
				container.append(div);

				div.slider({
					range: "min",
					value: val,
					min: min,
					max: max,
					step: step,
					slide: function (event, ui) {
						var h = '<div class="select-slider-value">' + ui.value + unit + '</div>';
						div.find(".ui-slider-handle").html(h);
						$(container).next().val(ui.value);
					}
				});

				div.find(".ui-slider-handle").html('<div class="select-slider-value">' + val + unit + '</div>');
				$(container).next().val(val);
			}

		});

	</script>


{% endblock %}