{% block feed_container %}
	<div class="cameleon_feed" id="feed/{{ feed.feed_id }}">
		<div class="cameleon_feed_content media">
			{% block feed_user %}
				<div class="cameleon_feed_avatar">
					<img src="{{ feed.user.picture.url|img_crop(50) }}" width="50"/>
				</div>
			{% endblock %}

			<div class="feed-floating media-body">
				<div class="directions">
					<div class="cameleon_feed_title left">
						{% block feed_username %}
							<a href="/{{ feed.user.key }}"><span>{{ feed.user.name }}</span></a>
						{% endblock %}
						{% block feed_object_title %}
							{% if feed.object is defined %}
								&rarr; <a href="/{{ feed.object.key }}">{{ feed.object.name }}</a>
							{% endif %}
						{% endblock %}

						{% if feed.context is defined %}
							dans <a href="/{{ feed.context.key }}"
									title="{{ feed.context.name }}">{{ feed.context.name|truncate(30) }}</a>
						{% endif %}

					</div>
					<div class="right">
						{% if is_granted('DELETE', feed.key) %}
							<a href="/feed/{{ feed.feed_id }}?destroy" class="cameleon_feed_close">
								<i class="basic-s-black_07"></i>
							</a>
						{% endif %}
						{% if is_granted('DELETE', feed.key) or feed.user_id == me.user_id %}
							<a href="#{{ feed.feed_id }}" class="cameleon_feed_edit">
								<i class="basic-s-black_02"></i>
							</a>
						{% endif %}
						{% block feed_time %}
							<div class="cameleon_feed_time">{{ feed.created_at.fromNow() }}</div>
						{% endblock %}						
					</div>					
				</div>

				{% block feed_content %}
					{% if feed.object.description %}
						<div class="cameleon_feed_text">{{ feed.object.description|linkize|nl2br }}</div>
					{% endif %}
				{% endblock %}

				{% include 'partial/one_social.html.twig' with {item: feed} %}
			</div>
		</div>
	</div>
{% endblock %}