{% extends 'partial/feed/feed.html.twig' %}

{% set item = feed.object %}
{% set status_name = get_idea_status_name(feed.name) %}

{% block feed_object_title %}
	vient de passer l'idée <a href="/{{ feed.object.key }}">{{ item.name }}</a> en statut <a href="/idea/all?filters%5Bstatus%5D={{feed.name}}">{{ status_name }}</a>
{% endblock %}

{% block feed_content %}
	<div class="cameleon_feed_text">{{ feed.content }}</div>
{% endblock %}