{% extends 'partial/feed/feed.html.twig' %}

{% block feed_object_title %}
	{% if feed['object'] is defined %}
		&rarr; <a href="/milestone/all?experimentation_id={{ feed.object.experimentation_id }}#{{ feed['object']['position'] }}">{{ feed['object']['name'] }}</a>
	{% endif %}
{% endblock %}
{% block feed_content %}
	<div class="cameleon_feed_text">{{ feed.object.description|raw }}</div>
{% endblock %}