{% extends 'partial/feed/feed.html.twig' %}

{% block feed_object_title %}
	a publié
{% endblock %}

{% block feed_content %}
	<div class="cameleon_feed_text">
		<p class="post-content">
			{{ feed.object.content | nl2br | linkize }}
		</p>
		{% if feed.object.picture is defined %}
			<p>
				<a href="{{ feed.object.picture.url }}" target="_blank"><img
							src="{{ feed.object.picture.url|img_thumb(520) }}" class="img-polaroid"/></a>
			</p>
		{% endif %}
		{{ feed.object.embeded_preview | raw }}
	</div>
{% endblock %}
