#feeds {
	margin-top: 0;

	.load-more {
		text-align: center;

		a {
			display: block;
			padding: 10px 0;
			margin: 10px 0;

			&:hover {
				background: #CCC;
				text-decoration: none;
			}
		}
	}
}

// #feeds

.cameleon_feed {
	margin: 20px 0 0 0;
	padding: 0 0 20px 0;	

	&:last-child {
		border: 0;
	}
	.context {
		font-size: 80%;

		&:before {
			content: " - ";
		}
	}
	.feed-floating {		

		p {
			margin: 0 0 10px;
		}
	}
	a {
		.secondary;

		&.primary {
			.primary;
		}
	}

	.cameleon_feed_content {

		.cameleon_feed_close {
			float:right;
			display:inline-block;
			padding-left: 4px;
		}
		.cameleon_feed_edit {
			float:right;
			display:inline-block;
			padding-left: 4px;
		}
		.cameleon_feed_avatar {
			.square(60px);
			margin-right: 10px;
			float: left;
		}
		.cameleon_feed_title {
			display: inline-block;
			max-width: 465px; 

			a {
				color: @primary;

				span {
					.bold;
					color: @secondary;
				}

				&:hover {
					&, span {
						color: @secondary;
					}
				}
			}
		}
		.cameleon_feed_time {
			float: right;
			display: inline-block;
			font-size: 11px;
		}
		.cameleon_feed_text {
			margin-top: 12px;
			//padding: 10px;			
			margin-bottom: 10px;
			color: @secondary2;

			p.post-content a:hover {
				color: @secondary;
			}

			.loader {
				display: none;
			}

			.iframe-content-preview {
				display: block;

				.img-preview {
					cursor: pointer;
					display: inline-block;
					vertical-align: top;
				}
				.content-preview {
					display: inline-block;
					width: 420px;
					margin-left: 10px;

					.title-preview {
						cursor: pointer;
						margin-bottom: 10px;
						display: block;
						font-weight: bold;
					}
				}
			}
			.embeded-content-preview {

				.embeded-img {
					cursor: pointer;
					display: inline-block;
					vertical-align: top;
				}
				.embeded-content {
					display: inline-block;
					width: 420px;
					margin-left: 10px;

					a {
						display: block;
						margin-bottom: 10px;
						font-weight: bold;
					}
					.embeded-title {
						cursor: pointer;
						margin-bottom: 10px;
						display: block;
						font-weight: bold;
					}
				}
			}
		}
		// .cameleon_feed_text

	}
	// .cameleon_feed_content

	.action_comment,
	.action_like,
	.action_rating {
		display: inline-block;
		margin-left: 20px;
	}
	.comments {
		.comment {
			background-color: @tertiary;

			margin-bottom: 10px;
			padding: 8px;

			.text {
				margin-bottom: 5px;
				display: inline-block;
				width: 476px;

				.title {
					.bold;
				}
			}
			.avatar {
				.square(30px);
				margin-right: 10px;
				float: left;
			}
			.male {
				background: url("@{img-path}/common/user/1/s.jpg");
			}
			.female {
				background: url("@{img-path}/common/user/2/s.jpg");
			}
			.action_like {
				margin-left: 40px;
			}
			.time {
				float: right;
				display: inline-block;
			}
		}
	}

}

// .cameleon_feed
