{% extends 'bloc/breadcrumb.html.twig' %}
{% set _breadcrumb = {} %}

{% if idea is defined %}
	{% set _breadcrumb = _breadcrumb|merge({
	'/innovation/all': 'Innovation Participative',
	('/' ~ idea.key): idea.name|truncate(55)
	}) %}
{% elseif innovation is defined %}
	{% set _breadcrumb = _breadcrumb|merge({
	'/innovation/all': 'Catalogue Des Innovations',
	('/' ~ innovation.key): innovation.name|truncate(55)
	}) %}
	{% if experimentation is defined %}
		{% set _breadcrumb = _breadcrumb|merge({
		('/experimentation/all?innovation_id=' ~ innovation.innovation_id): 'Expérimentations',
		('/' ~ experimentation.key): experimentation.name|truncate(55)
		}) %}
	{% endif %}
{% endif %}

{% if __breadcrumb is defined %}
	{% set _breadcrumb = _breadcrumb|merge(__breadcrumb) %}
{% endif %}
