{% extends 'bloc/innovation/breadcrumb.html.twig' %}
{% set __breadcrumb = {
('/' ~ innovation.key): innovation.name|truncate(55),
('/innovation/resources?innovation_id=' ~ innovation.innovation_id): 'Ressources'
} %}
