{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}
{% block content %}
	{% import 'common/paginate.html.twig' as pager %}
	<div class="idea-all">
		<div class="heading paginate">
			<div class="title">Ressources par expérimentation</div>
			{{ pager.paginate(pages_count) }}
		</div>

		{% for experimentation in experimentations %}
			<div class="experimentation">
				<h3><a href="/{{ experimentation.key }}">{{ experimentation.name }}</a></h3>
				{% for user in experimentation.users %}
					{% include 'partial/one_user_on_a_list.html.twig' %}
				{% else %}
					<p>Aucune ressource sur cette expérimentation.</p>
				{% endfor %}
			</div>

		{% endfor %}

		<div class="list-title clearfix">
			{{ pager.paginate(pages_count) }}
		</div>
	</div>
{% endblock %}