{% include 'layout/dom/doctype.html.twig' %}
<head>
	{% include 'layout/dom/meta.html.twig' %}
	{% include 'layout/dom/link.html.twig' %}

	{% include 'layout/dom/script.html.twig' %}
</head>

<body>
	<div class="wrapper">
		<div id="live-flashes-container" class="modal hide fade in" style="display: none;"></div>
		<header>
			<div class="container">

				<div class="action clearfix">
					<!-- @header-user-menu -->
					<ul class="nav user">
						<li class="nb">
						</li>
					</ul>
				</div>

				<!-- @header-logo -->
				<a class="logo" href="/" title="AG2R LA MONDIALE, le contraire de seul au monde">
					<img src="/assets/img/common/logo.png" alt="AG2R LA MONDIALE, le contraire de seul au monde"/>
				</a>		

			</div>
		</header>
		
		<div class="main container">
			<a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full"
			   data-uv-primary-color="#cc6d00"
			   data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="210190"><img
						src="/assets/img/feedback.png"
						style="position: fixed; left:0; top:30%;"></a>		

			<div class="row">
				{% block _container %}
				<div class="span9">
					{% if flashes is defined and flashes|length > 0 %}
						<div id="flashes-container">
							{% for type,messages in flashes %}
								<ul class="alert alert-{{ type == 'notice' ? 'info' : (type == 'error' ? 'danger' : 'success') }}">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									{% for message in messages %}
										<li class="{{ type }}">{{ message }}</li>
									{% endfor %}
								</ul>
							{% endfor %}
						</div>
					{% endif %}
					<section role="main" class="content">			
						{% include_block 'content.html.twig' %}
					</section>
				</div>
				{% endblock %}
			</div>
		</div>
	</div>
	{% block javascript_bottom %}
		{% include 'layout/dom/script_footer.html.twig' %}
	{% endblock %}
	<!--UserVoice JavaScript SDK-->
</body>
</html>