{% include 'layout/dom/doctype.html.twig' %}
<head>
	{% include 'layout/dom/meta.html.twig' %}
	{% include 'layout/dom/link.html.twig' %}

	{% include 'layout/dom/script.html.twig' %}
</head>

<body>
{% set unread_messages_count = get_unread_messages_count() %}
<div class="wrapper">
	<div id="live-flashes-container" class="modal hide fade in" style="display: none;"></div>

	{% include 'common/header.html.twig' %}
	{% include 'common/navbar.html.twig' %}


	<div class="main container">
		<a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full"
		   data-uv-primary-color="#cc6d00"
		   data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="210190"><img
					src="/assets/img/feedback.png"
					style="position: fixed; left:0; top:30%;"></a>		

		<div class="row">
			{% block _container %}
			<div class="span9">
				{% if flashes is defined and flashes|length > 0 %}
					<div id="flashes-container">
						{% for type,messages in flashes %}
							<ul class="alert alert-{{ type == 'notice' ? 'info' : (type == 'error' ? 'danger' : 'success') }}">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								{% for message in messages %}
									<li class="{{ type }}">{{ message }}</li>
								{% endfor %}
							</ul>
						{% endfor %}
					</div>
				{% endif %}
				<section role="main" class="content">
					{% block breadcrumb '' %}					
					{% block content '' %}
				</section>
			</div>
			<div class="span3">
				{% include 'common/sidebar.html.twig' %}
			</div>
			{% endblock %}

		</div>
	</div>

	{% include 'common/contact_modal.html.twig' %}
	{% include 'common/cgu_modal.html.twig' %}
</div>

{% include 'common/footer.html.twig' %}
{% block javascript_bottom %}
	{% include 'layout/dom/script_footer.html.twig' %}
{% endblock %}
<!--UserVoice JavaScript SDK-->
</body>
</html>
