{% extends 'bloc/breadcrumb.html.twig' %}

{% set _breadcrumb = {
	'/idea/all': 'Innovation participative'
} %}

{% if __breadcrumb is defined %}
{% set _breadcrumb = _breadcrumb|merge(__breadcrumb) %}
{% endif %}
