<div id="status-idea-modal" class="modal hide fade in" style="display: none; ">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Statuer l'idée</h3>
	</div>
	<form method="post" action="/idea/apply_action">
		<div class="modal-body">
			<div class="clearfix">
				<input type="hidden" name="idea_id" value=""/>
				<span>Action: &nbsp;</span>
				<select id="status-workflow-select" name="action"></select>
				<textarea style="width: 515px;" id="status-workflow-message" name="message" placeholder="Motif ..." rows="5"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success">Statuer</button>
			<a href="#" class="btn" data-dismiss="modal">Annuler</a>
		</div>
	</form>
</div>
<div id="deny-idea-modal" class="modal hide fade in" style="display: none; ">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>

		<h3>Refuser l'idée</h3>
	</div>
	<form method="post" action="/idea/deny">
		<div class="modal-body">
			<div class="clearfix">
				<input type="hidden" name="idea_id" value=""/>
				<textarea style="width: 515px" name="message" placeholder="Raison du refus..." rows="5"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-danger">Refuser</button>
			<a href="#" class="btn" data-dismiss="modal">Annuler</a>
		</div>
	</form>
</div>
<script src="/assets/js/review.js"></script>
<script>
	$(function () {
		new Review($(".action-rating"));

		$(".one-idea .status-btn").click(function (e) {
			e.preventDefault();
			var $modal = $("#status-idea-modal");
			$modal.find("input[name=idea_id]").val($(this).attr("href").substring(1));
			$modal.find("textarea").val("");
			var s = $(this).data("status");
			var select = document.getElementById('status-workflow-select');
			select.options.length = 0;
			if (s == 'study')
				select.options[select.options.length] = new Option('Etudier', 'waiting');
			if (s == 'waiting')
				select.options[select.options.length] = new Option('En cours d\'estimation', 'estimate');
			if (s != 'study') {
				select.options[select.options.length] = new Option('Mettre en oeuvre', 'confirmed');
				select.options[select.options.length] = new Option('Expérimenter', 'experiment');
			}
			select.options[select.options.length] = new Option('Déjà existant', 'duplicate');
			select.options[select.options.length] = new Option('Refuser', 'refused');
			$('#status-idea-modal').modal();
		});
		$(".one-idea .deny-btn").click(function (e) {
			e.preventDefault();
			var $modal = $("#deny-idea-modal");
			$modal.find("input[name=idea_id]").val($(this).attr("href").substring(1));
			$modal.find("textarea").val("");
			$('#deny-idea-modal').modal();
		});
		$('#status-idea-modal form').submit(function (e) {
			e.preventDefault();
			var $form = $(this);
			$(this).find(':submit').attr('disabled', true);
			$.ajax({
				url: $(this).attr("action"),
				type: $(this).attr("method"),
				data: $(this).serialize(),
				success: function () {
					var idea_id = $form.find("input[name=idea_id]").val();
					document.location.reload();
				}
			});
		});
		$('#deny-idea-modal form').submit(function (e) {
			e.preventDefault();
			var $form = $(this);
			$(this).find(':submit').attr('disabled', true);
			$.ajax({
				url: $(this).attr("action"),
				type: $(this).attr("method"),
				data: $(this).serialize(),
				success: function () {
					var idea_id = $form.find("input[name=idea_id]").val();
					document.location.reload();
				}
			});
		});
	})

</script>