{% extends 'layout/layout.html.twig' %}


{% block breadcrumb %}
	{% include 'bloc/experimentation/edit/breadcrumb.html.twig' %}
{% endblock %}

{% block content %}

	<div class="experimentation-edit">
		{% include 'bloc/experimentation/new/step1.html.twig' %}
	</div>

{% endblock %}