{% extends 'bloc/experimentation/edit/step1.html.twig' %}
{% set step = 1 %}

{% block xp_form %}

	<h3>Nouvelle expérimentation</h3>

	<div class="bloc">
		<div class="row-fluid control-group">
			<div class="span8">
				<label class="radio" for="f-scratch">
					<input id="f-scratch" type="radio" name="from" value="scratch" checked="checked">
					Créer de toute pièce
				</label>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span8">
				<label class="radio" for="f-from">
					<input id="f-from" type="radio" name="from" value="xp">
					S'inspirer d'une expérimentation existante</label>
			</div>

			<div class="innovation-experiences span4" style="display: none">
				<label class="select">
					<div class="bg">
						<span class="caret"></span>
					</div>
					<select name="from_experimentation">
						<option value="">Choisissez ...</option>
						{% for experimentation in experimentations %}
							<option value="{{ experimentation.experimentation_id }}">{{ experimentation.name }}</option>
						{% endfor %}
					</select>
				</label>
			</div>
		</div>
	</div>

	<script>
		$(function () {
			$('input[name="from"]').change(function () {
				if ($(this).val() == "xp") {
					$('.innovation-experiences').fadeIn();
					$("#xp-description").slideUp();
				} else {
					$('.innovation-experiences').fadeOut();
					$("#xp-description").slideDown();
				};
			})
		})
	</script>

{% endblock %}


