{% extends 'bloc/experimentation/breadcrumb.html.twig' %}

{% set __breadcrumb = {
('/' ~ experimentation.key): experimentation.name|truncate(55),
('/experimentation/resources?experimentation_id=' ~ experimentation.experimentation_id): 'Ressources'
} %}
