{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
	<div class="list-title clearfix">
		<h1>Ressources de l'expérimentation</h1>
	</div>

	<div class="user-index">
		{% for user in experimentation.users %}
			{% include 'partial/one_user_on_a_list.html.twig' %}
		{% else %}
			<p>Aucune ressource sur cette expérimentation.</p>
		{% endfor %}
	</div>
{% endblock %}