{% block content %}
<div class="panel panel-default span9">
<div class="panel-heading"><h3 class="panel-title"><strong>Mot de passe oublié </strong></h3></div>
<div class="panel-body">
<form role="form" method="post" action="/auth/lostpassword">
<div class="form-group">
<label for="exampleInputEmail1">Identifiant</label>
<input type="email" class="form-control" style="border-radius:0px" name="email" placeholder="Identifiant">
</div>
<button type="submit" class="btn btn-sm btn-default">Envoi</button>
</form>
</div>
</div>
{% endblock %}