@import "compass/utilities/sprites";

// basic 24x24px black/blue/brown
$basic-spacing: 10px;
$basic-layout: horizontal;
$basic-sprite-dimensions: 24px;

@import "basic/*.png";
@include all-basic-sprites;

// basic-s 16x16px black/blue/brown
$basic-s-spacing: 10px;
$basic-s-layout: horizontal;
$basic-s-sprite-dimensions: 24px;

@import "basic-s/*.png";
@include all-basic-s-sprites;

// custom white/grey/black/blue/brown
$custom-spacing: 10px;
$custom-layout: horizontal;
$custom-sprite-dimensions: 20px;

@import "custom/*.png";
@include all-custom-sprites;

[class^="basic-"], [class^="custom-"] {
	display: inline-block;
	vertical-align: middle;
}
