{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}


{% block content %}
	<div class="user-show content-wrp">

{# heading #}	
		<div class="heading links">
			<div class="title">{{ user.full_name }}</div>
			{% if user.user_id == me.user_id %}				
				<a class="btn primary2" href="/{{ user.key }}?edit" title="Modifier">Modifier</a>				
			{% endif %}
		</div>

{# user headline #}
		<div class="media headline">
			
			<a class="bloc media-object pull-left text-center">
				<img src="{{ user.picture.url|img_crop(98) }}" width="98">
			</a>
			
			<div class="media-body">
				<div class="bloc">				
					{% if user.jobposition is defined %}
						<h4>{{ user.jobposition.name }}</h4>
					{% endif %}

					{% if user.location %}
						<div class="row-fluid">
							<div class="span6">
								Nom du site : {{ user.location }}
							</div>
						</div>
					{% endif %}
					
					<div class="details"><a href="mailto:{{ user.email }}">{{ user.email }}</a> - {{ user.phone }}</div>
					
					<div class="row-fluid push-up">
						<div class="span8">
							{% if SOCIAL_ACTIVE %}
							<a class="contacts"><img src="/assets/img/humans.png" alt="">
								<span>{{ '{0} Aucun contact|{1} 1 contact|[2,Inf[ %n% contacts'|plurialize(user.contacts_count, {'%n%': user.contacts_count}) }}</span>
							</a>
							{% endif %}
							<div class="push-up">
								<a href="/experimentation/all?user_id={{ user.user_id }}" class="innovations">
									<span>{{ '{0} Aucune expérimentation|{1} 1 expérimentation|[2,Inf[ %n% expérimentations'|plurialize(user.experimentations_count, {'%n%': user.experimentations_count}) }}</span>
								</a>
								{% if user.login_name is not empty %}
									&nbsp;|&nbsp;
									{% set intranet_profile_url = get_intranet_profile_url(user.login_name) %}
									<a href="{{intranet_profile_url}}" class="contacts">
										<span>Lien vers son profil intranet</span>
									</a>
								{% endif %}
							</div>
						</div>											
						<div class="span4">
							<div class="user-action">
								{% if status == 'accepted' and user.user_id != me.user_id %}
									<a href="/user/delete_relation?contact={{ user.user_id }}">Supprimer ce contact</a>
								{% elseif status == 'pending' %}
									{% if invited %}
										<span>Demande envoyée</span>
									{% else %}
										<a href="/user/accept_request?contact={{ user.user_id }}">Acceptez</a>
										- <a href="/user/decline_request?contact={{ user.user_id }}">refusez</a>
									{% endif %}
								{% elseif status is empty and user.user_id != me.user_id %}
									{% if SOCIAL_ACTIVE %}
										<a href="/user/contact_request?contact={{ user.user_id }}"><span>Ajouter</span> <i
												class="sprite-add-member"></i></a>
									{% endif %}
								{% endif %}
							</div>
							{% if SOCIAL_ACTIVE and user.user_id != me.user_id %}
								<div class="user-action send-message"><a style="margin-left: -2px;font-size:12px;"
																		 href="/message/new?to={{ user.user_id }}"><span>Lui écrire</span>
										<img src="/assets/img/message.png" alt=""></a></div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

		</div>

{# Description #}
		<h3>Description du profil</h3>
		<div class="bloc">
			<p>{{ user.description|nl2br }}</p>
		</div>

		<h3>Centres d'intérêt <small>: ce sur quoi j'aimerais être informé</small></h3>
		<div class="bloc">
			<ul class="user_tags">
				{% for tag in user.tags %}
					<li>{{ tag.name }}</li>
				{% endfor %}
			</ul>
		</div>

{# Expérimentations #}
		<h3>Expérimentations <small>: auxquelles j'ai participé</small></h3>		
		{% for experimentation in user.experimentations %}
			<div class="bloc innovation media">
				<a class="media-object pull-left" href="/{{ experimentation.key }}">
					<img src="{{ experimentation.picture.url|img_crop(80) }}" width="80">
				</a>
				<div class="media-body innovation-details">
					<a href="/{{ experimentation.key }}"><h5>{{ experimentation.name }}</h5></a>
					<p>{{ experimentation.description|truncate(80) }}</p>
				</div>
				<a href="/{{ experimentation.key }}">En savoir plus <i class="icon-plus"></i></a>
			</div>
		{% endfor %}

		{% if user.experimentations|length > 0 %}
			<a class="pull-right" href="/experimentation/all?user_id={{ user.user_id }}">Voir toutes les
				expérimentations</a>
		{% endif %}
		

{# ? #}
		<div class="bloc clearfix hide">			
			<div class="user_skills_wrap">
				<div class="user_skills"></div>
			</div>
			<div class="user_experiences_wrap">
				<h4></h4>
				<span></span>
				<div class="user_experiences"></div>
			</div>
		</div>

	</div>
{% endblock %}