{% extends 'bloc/breadcrumb.html.twig' %}

{% set _breadcrumb = {
'/innovation/all': 'Catalogue des Innovations'
} %}

{% if __breadcrumb is defined %}
	{% set _breadcrumb = _breadcrumb|merge(__breadcrumb) %}
{% endif %}

