{% extends 'bloc/breadcrumb.html.twig' %}

{% if innovation is not defined and experimentation is defined %}
	{% set innovation = experimentation.innovation %}
{% endif %}

{% if innovation is defined %}
	{% set _breadcrumb = {
	'/innovation/all': 'Catalogue des Innovations',
	('/' ~ innovation.key): innovation.name|truncate(20),
	('/experimentation/all?innovation_id=' ~ innovation.innovation_id): 'Expérimentations'
	} %}
{% elseif user is defined %}
	{% set _breadcrumb = {
	('/' ~ user.key): user.name,
	('/experimentation/all?user_id=' ~ user.user_id): 'Expérimentations'
	} %}
{% else %}
	{% set _breadcrumb = {
	'/innovation/all': 'Catalogue des Innovations'
	} %}
{% endif %}

{% if __breadcrumb is defined %}
	{% set _breadcrumb = _breadcrumb|merge(__breadcrumb) %}
{% endif %}
