{% extends 'layout/layout.html.twig' %}

{% block breadcrumb %}		
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}

{% block content %}	
	{% include 'common/report_modal.html.twig' %}
	{% import 'common/paginate.html.twig' as pager %}

	<div class="idea-all">

		<div class="content-wrp push-down">
			<div class="paginate">
				{% if search_type == 'idea' %}
					<div class="nb-idea primary">Recherche de "{{search}}": {{ '%n% idée trouvée|%n% idées trouvées'|plurialize(n_ideas, {'%n%': n_ideas}) }}</div>
				{% endif %}
				{% if search_type == 'innovation' %}
					<div class="nb-idea primary">Recherche de "{{search}}": {{ '%n% innovation trouvée|%n% innovations trouvées'|plurialize(n_innovations, {'%n%': n_innovations}) }}</div>
				{% endif %}
				{{ pager.paginate(pages_count) }}
			</div>	

			<!-- @filter -->
			<div class="filter push-up">

				<form id="filter-form">
					<input type="hidden" value="{{search}}" name="search">
					<label for="filter-category" class="select gray-input">
						<div class="bg">
							<span class="caret"></span>
						</div>
						<select name="search_type" id="filter-category">
							<option value="idea" {% if search_type == 'idea' %} selected='selected' {% endif %}>Idées</option>
							<option value="innovation" {% if search_type == 'innovation' %} selected='selected' {% endif %}>Innovations</option>
						</select>
					</label>
				</form>
				<script>
					$('#filter-form').each(function (){
						var $form = $(this);
						$form.find('select').change(function (){
							$form.submit();
						});
					});
				</script>
				<span>Rechercher par : </span>
			</div>
		</div>		

		{% if search_type == 'idea' %}
			{% for idea in ideas %}
				{% if not (loop.first) %}
					<hr />
				{% endif %}
				{% include 'partial/one_idea_on_a_list.html.twig' %}
			{% endfor %}
		{% endif %}
		{% if search_type == 'innovation' %}
			{% for innovation in innovations %}
				{% if not (loop.first) %}
					<hr />
				{% endif %}
				{% include 'partial/one_innovation_on_a_list.html.twig' %}
			{% endfor %}
		{% endif %}
		
		<div class="content-wrp push-up">
			<div class="paginate">
				{{ pager.paginate(pages_count) }}
			</div>
		</div>
	</div>

	{% include 'bloc/idea/idea_js.html.twig' %}


{% endblock %}