<link rel="shortcut icon" href="/assets/img/favicon.png">

<link href="/assets/css/bootstrap/2-3-2/bootstrap.css" rel="stylesheet">
<link href="/assets/css/magicsuggest-1.3.1-min.css" rel="stylesheet">
<link href="/assets/css/datepicker.css" rel="stylesheet">
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
<link href="/assets/css/layouta.css" rel="stylesheet">