<script src="/assets/js/jquery/magicsuggest-1.3.1-min.js"></script>
<script src="/assets/js/vendor/bootstrap.min.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/js/readmore.min.js"></script>

<script type="text/javascript">
	// view-specific javascript
	// ... will be jspacked (in production)
	jQuery(document).ready(function($) {
		{#{% include_block 'js.html.twig' %}#}
	});

	var uvOptions = {};
	(function () {

		var uv = document.createElement('script');
		uv.type = 'text/javascript';
		uv.async = true;
		uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/x1493sudWeQQJjuOyQekHA.js';

		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(uv, s)

	})();
</script>
