<script src="/assets/js/jquery/jquery-1.8.3.min.js"></script>
<script src="/assets/js/placeholders.min.js"></script>
<script src="/assets/js/like.js"></script>
<script src="/assets/js/social.js"></script>
<script src="/assets/js/main.js"></script>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="/assets/js/respond/respond.min.js"></script>
<![endif]-->
