/*
#Boutons
*/
/*
Default : `border-radius: 4px + backgound-image`, HTML could be `<a>, <span>,input, button, div`<br>
>`<div class="btn">Default btn</div>`<br>
>`<a href="#" title="" class="btn">Text btn</a>`<br>
>`<span class="btn">Text btn</span>`<br>
>`<button class="btn primary2 square">primary2 Square btn</button>`<br>
>`<input class="btn primary2" value="I'am a input" />`<br>

	<div class="btn">btn default</div>	
*/
.btn {
	position: relative;
	overflow: hidden;
	*overflow: visible;
	border: 0;
	.gotham-bold;
	.white !important;
	line-height: 20px;

	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		right: -40%;
		.square(100%);		
		background: url("@{img-path}/common/btn_opacity.png") no-repeat;
	}
	&:hover {
		.white;
		text-decoration: none;
		text-shadow: 1px -1px 0 darken(@white, 35%);
	}

	&.square {
		background-image: none;
		.border-radius(0);

		&:after { content: none; }
	}


	&.primary {
		background-color: @primary;
	}

	&.primary2 {
		background-color: @primary2;
	}
	&.secondary3 {
		background-color: @secondary3;
	}
	&.composed {
		.clearfix;
		text-align: left;

		i { 
			float: left;
			margin-right: 7px;
		}
		span {
			float: left;
		}
	}
	&.block {
		display: block;	
	}
}

label.btn {	
	*padding: 8px 0 7px; // IE7	

	input, .btn {
		padding: 0;		
		*line-height: 1em; // IE7
		background: none !important;

		&:hover {
			.box-shadow(none);
		}
	}
}