.comment-form {

	form { 
		margin: 0;

		.btn {			
			float: right;				
		}
		textarea, input, .btn {
			vertical-align: top;
		}
		textarea {
			float: left;		
			height: 14px;
			padding: 8px 6px;
			resize: vertical;					
		}
	}	
	.media-body {					
		padding: 10px 10px 0;
		*padding-bottom: 10px;

		&.bg {
			background-color: @tertiary;
		}

	}
	.picture_field { display: none; }
	//.avatar { .square(60px); }

// comment
	&.form-comment {
		form {
			textarea {
				width: 385px;
				*width: 379px;
			}
			input.btn { 
				*padding: 0;
				*height: 32px; // IE7	
			}
		}
	}
// share
	&.form-share {
		form {
			textarea {
				width: 78%;							
			}
		}
		.file_path {
			font-size: 12px;
			display: inline-block;
			margin-left: 5px;
			font-style: italic;
			vertical-align: middle;
		}		
		
	} //.action-share
	
	.upload-status { clear: both; }
	.upload-icon {
		.clearfix;
		margin-top: 2px;

		*margin-top: 10px;								
		cursor: pointer;
		
		&, .add_picture, span { display: inline-block; }

		.add_picture {				
			.custom-blue_64;
			font-size: 12px;
			float: left; 						
		}
		span {
			float: left;
			margin-left: 5px; 				
			vertical-align: top;
			line-height: 14px;
			color: @primary;							
		}
	} // .upload-icon
	
} // .comment-form

#embed-loading {
	display: none;
	text-align: center;
}
#embed-preview {

	.img-preview {
		display: inline-block;
		vertical-align: top;
		padding-top: 3px;
	}
	.content-preview {
		display: inline-block;
		width: 400px;
		text-align: justify;
		padding-left: 10px;
		
		p.title-preview {
			margin-bottom: 10px;
			display: inline-block;
			font-weight: bold;
			text-decoration: underline;
		}
		p.description-preview {
			font-size: 11px;
		}
	}

} // #embed-preview
