.edito {	
	padding: 10px;
	margin-bottom: 15px;
	background-color: @white;

	> h2 {
		position: relative;
		margin: 0;
		color: @secondary3;
		font-size: 18px;

		span {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.media { 
		margin-top:  10px;
	}
	.desc {
		
	}

}