.search {		
		
	form, .form {
		margin: 0;
		position: relative;				

		label {				
			display: inline-block;
			position: absolute;
			right: 11px;
			top: 7px;			
			margin: 0;				
		}
	}
	.search-input {		
		margin: 0;
		border: 1px solid #9a9a9a;							
	}

}