.highlight {
	background-color: @white;
	padding: 5px 15px;
	margin-bottom: 15px;
	border: 1px solid #eaeaea;

	.countdown {			
		color: @secondary;
		text-align: center;

		> * { 
			display: inline-block;
		}
		> strong {
			margin-right: 8px;
		}

		.timer {
			margin: 4px 0;
			padding: 5px 10px;			

			span {
				color: @primary2;
				font-size: 16px;
			}
		}
	} // .countdown

}