.multi-steps {
	.clearfix;
	margin: 15px 0;
	
	.step {
		background-color: @white;
		float: left;
		width: 155px;

		&.last {
			background-color: @tertiary;
		}

	// current + validated
		&.current a, &.validated a {
			background-color: @secondary3;			
			.white;
			cursor: default;

			.step-nb {
				border: 1px solid @white;
				//.secondary3;
				background-color: @white;	
			}

		// arrows
			&:before {
				border-left-color: transparent;
			}
			&:after {
				border-left-color: @secondary3;
			}
		}
		&.current a:hover .step-nb { .secondary2; }

	// validated 
		&.validated {
			background-color: @secondary3;

			a {
				.step-nb {
					// background-color: @primary2;
					// .white;
					// border: 1px solid transparent;
					.primary2;					
				}
				&:before {
					border-left-color: @white;
				}
			}
		}
	}
	
	a {
		display: block;
		float: none;
		position: relative;		
		padding: 15px 10px 5px 0;
		.size(34px,78%);
		*padding-right: 30px;
		*width: 125px;
		background-color: @white;

		line-height: 23px;
		.secondary2;
		text-align: right;
		text-decoration: none;

		span {
			display: inline-block;
			float: right;
		}
		.step-nb {
			.square(22px);
			margin-left: 10px;				
			.border-radius(50%);
			text-align: center;
			line-height: 21px;
			border: 1px solid @secondary3;			
			.secondary2;
		}
		&:hover .step-nb {
			background-color: @secondary3;	
			.white;
		}
	
	// arrows
		&:before, &:after {
			.square(0);
			content: '';
			position: absolute;
			top: 0;			
			border-style: solid;			
			border-color: transparent transparent transparent transparent;
		}
		&:before {
			top: -5px;
			right: -26px;
			border-width: 32px 0 32px 26px;
			border-left-color: @tertiary;	
		}
		&:after {			
			right: -23px;
			z-index: 10;
			border-width: 27px 0 27px 23px;
			border-left-color: @white;			
		}	
	}	

}