.paginate {
	.clearfix;

	ul {
		.mp-reset;
		list-style: none;
		float: right;

		li {
			display: inline-block;			

			&, a { color: @secondary2; }

			a {
				padding: 5px;

				&:hover {
					text-decoration: none;
					color: @primary;
				}
			}
			&.active a { 
				background-color: @primary;
				color: @white;
			}	
		}
	}
}
