{% extends 'layout/layout.html.twig' %}
{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}
{% block content %}
	<div class="idea-new content-wrp">
		<h3>Proposer une idée</h3>

		<div class="bloc">
			<p>Partagez votre idée en précisant son titre, sa thématique et sa description détaillée. La communauté pourra ensuite voter et commenter votre idée !</p>
		</div>

		{% include 'bloc/idea/edit/edit_form.html.twig' %}
	</div>
{% endblock %}