{% extends 'layout/layout.html.twig' %}

{% block content %}
	{% if login_method is defined and login_method == 'saml' %}
		<script type="text/javascript">
			var bIsIE = navigator.appName.indexOf("Microsoft") != -1;
			if (bIsIE) {
				var navVersion = navigator.appVersion;
				if ((navVersion.indexOf("MSIE 6.0") != -1) || (navVersion.indexOf("MSIE 7.0") != -1) || (navVersion.indexOf("MSIE 8.0") != -1)) {
					window.location.href = '/redirect.html';
				}
			}
		</script>
	{% endif %}
	<div class="edito">
		<h2>EDITO</h2>

		<div class="media">
			<img class="media-object pull-left" src="/files/edito.jpg" width="100">

			<div class="media-body">
				<p class="desc">{{edito.content | striptags | truncate(400, false, '...') | raw}}</p>

				<div class="action">
					{# <div class="countdown">
						<strong class="uppercase">temps fort </strong>

						{% if edito.timer_html %}
						<div class="timer">{{edito.timer_html | raw}}</div>
						<span>restantes</span>
						{% endif %}

						<span>Terminé</span>
					</div> #}					
				</div>
			</div>
			<div class="text-right">
				<a href="/edito">> lire la suite</a>
			</div>

		</div>
	</div>
	{% include 'common/feed/feeds.html.twig' with {_groups_news: true} %}
	{% if askcgu is defined and askcgu %}
		<div id="cgu_accept_modal" class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Vous devez accepter les CGU</h4>
		      </div>
		      <div class="modal-body">
		        <p>Pour interagir sur le site, vous devez accepter les Conditions Générales d'Utilisation.</p>
				<p>Pour cela, cliquer sur « Editer mon profil » puis cocher la case « J'accepte les Conditions Générales d’Utilisation » en bas de votre profil.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		        <button type="button" class="btn btn-primary">Editer mon profil</button>
		      </div>
		    </div>
		  </div>
		</div>
		<script>
			$(document).ready(function () {
				$('#cgu_accept_modal').modal();
				$('#cgu_accept_modal .btn-primary').click(function(event) {
					document.location.href = "/{{user.key}}?edit";
				});
			});
		</script>
	{% endif %}
{% endblock %}