{% if SOCIAL_ACTIVE %}
	{% include 'partial/feed_form.html.twig' %}
{% endif %}

<div class="tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#all" data-toggle="tab">Actualités</a></li>
		{% if _groups_news is defined and _groups_news %}
		<li><a href="#idea" data-toggle="tab">Dernières idées</a></li>
		{% endif %}
		<li><a href="#popular" data-toggle="tab">Les plus populaires</a></li>
	</ul>
</div>

{% include 'common/report_modal.html.twig' %}

<div id="feeds" class="bloc"></div>
{% include 'common/feed/js.html.twig' %}
