<script>
	(function ($) {
		var default_data = {
			key: "{{ feed_context is defined ? feed_context : '' }}"
		};

		function loadFeed(data, append) {
			data = $.extend({}, default_data, data);
			$.ajax({
				url: "/feed/all",
				data: data,
				success: function (resp) {
					var $feeds = $("#feeds");
					$feeds.find('.load-more').remove();
					if (append) {
						$feeds.append(resp);
					} else {
						$feeds.html(resp);
					}
					init_social($feeds);
				}
			});
		}

		function loadIdea(data, append) {
			data = $.extend({}, default_data, data);
			$.ajax({
				url: "/idea/all",
				data: data,
				success: function (response) {
					resp = $(response).find(".paginate").last();
					var $feeds = $("#feeds");
					$feeds.find('.load-more').remove();
					if (resp.length <= 1) {
						$feeds.html('<div class="alert alert-info">Aucune idée.</div>');
					} else {
						if (append) {
							$feeds.append(resp);
						} else {
							$feeds.html(resp);
						}
					}
				}
			});
		}

		loadFeed({});
		$("#feeds").on("click", ".load-more a", function (e) {
			e.preventDefault();
			loadFeed({
				last_id: $(this).attr("last_id"),
				last_date: $(this).attr("last_date")
			}, true);
			$(this).text("Chargement ...");
		});

		$('a[data-toggle="tab"]').on('shown', function (e) {
			var type = $(e.target).attr("href").substring(1);
			default_data.type = type;
			loadFeed({});
			/*
			if (type === 'idea')
				loadIdea({});
			else
				loadFeed({});
			*/
		})
	})(jQuery);

</script>