{% for feed in feeds %}
	{% include 'partial/feed/index.html.twig' %}
{% else %}
	<div class="alert alert-info">Aucun feed.</div>
{% endfor %}

{% if feeds|length == limit %}
	{% set last_feed = feeds|last %}
	<div class="load-more">
		<a href="#" last_id="{{ last_feed.feed_id }}" last_date="{{ last_feed.created_at.timestamp }}">
			<i class="basic-s-black_09"></i>
			<span>Charger plus d'actualités</span>
		</a>
	</div>
{% endif %}