    <style>
        body {font-size: 16px; font-family: Calibri,verdana,Arial,Helvetica,sans-serif;}
        a {font-size: 16px;}

    </style>

    <script type="text/javascript">

        function redirectLinkInFirefox(oLink, bCloseIEWindow) {
            var bIsIE = navigator.appName.indexOf("Microsoft")!=-1;
            var navVersion = navigator.appVersion; 
            // test si navigateur obsolete (IE 6 , 7 ou 8)
            var bIsV6 = (navVersion.indexOf("MSIE 6.0")!=-1) || (navVersion.indexOf("MSIE 7.0")!=-1) || (navVersion.indexOf("MSIE 8.0")!=-1);

            if(bIsIE && bIsV6) {
                openLinkInFirefox(oLink, bCloseIEWindow);
            } else { // on suppose que si on est pas sous IE6,7,8 on est deja sous Firefox ou IE9
                window.location.href = oLink.href;
            }
        }

        function openLinkInFirefox(oLink, bCloseIEWindow) {

            var oShell = new ActiveXObject("WScript.Shell");

            var FIREFOX_EXE_PATH = oShell.ExpandEnvironmentStrings("%ProgramFiles%") + "\\Mozilla Firefox\\firefox.exe";

            //var FIREFOX_EXE_PATH="C:\\softs\\Mozilla\\FirefoxPortableTest 5.0\\FirefoxPortableTest\\FirefoxPortable.exe";

            var sLaunchCmd = '"' + FIREFOX_EXE_PATH + '" "' + oLink.href + '"';
            //alert(sLaunchCmd);
            //alert(FIREFOX_EXE_PATH);

            try {
                var oFso = new ActiveXObject("Scripting.FileSystemObject");
                if (! oFso.FileExists (FIREFOX_EXE_PATH)) {
                    alert("Le navigateur Firefox n'est pas installe correctement sur votre poste.\n" 
                        + "Veuillez contacter le SVP pour verifier son installation.\n"
                        + "Si toutefois vous disposez de la bulle Firefox, vous pouvez y ouvrir cette page.\n");
                    oFso = null;
                    return;
                }
                oFso = null;
            } catch(e) {
                alert("Votre navigateur IE a rencontre une erreur lors de la detection de l'installation de Firefox sur votre poste.\n" 
                    + "Veuillez contacter le SVP pour verifier sa configuration.\n"
                    + "Incident : " + e);
            }

            try {
                oShell.run (sLaunchCmd);
                oShell = null;

                if (bCloseIEWindow) {
                    closeCurrentIEWindow();
                }
            } catch(e) {
                alert("Erreur a l'ouverture de Firefox depuis IE sur votre poste.\n" 
                    + "Veuillez contacter le SVP pour verifier la configuration de votre IE.\n"
                    + "L'affichage de la page demandee necessite un navigateur moderne.\n" 
                    + "Essayez d'ouvrir manuellement la page courante dans Firefox.\n"
                    + "Incident : " + e);
            }
        }

        function closeCurrentIEWindow() {
            window.opener = top;  // Eviter le message de confirmation de fermeture d'IE
            window.close();    
        }

    </script>

</head>
<body>
    Redirection automatique vers la page cible ...<br>
    <a id="idRedirectFirefoxLink" href="http://wasp85/authfdi/servlet/fdi/ENTROPIC" onclick="redirectLinkInFirefox(this, true); return false;">Ouvrir avec Firefox</a>
    <br />

    <!-- Script execute a l'affichage de la page -->
    <script>
        var oLink = document.getElementById('idRedirectFirefoxLink');
        redirectLinkInFirefox(oLink, true);
    </script>
</body>