{% extends 'layout/layout.html.twig' %}


{% block breadcrumb %}
	{% include_block 'breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
	{% import 'common/paginate.html.twig' as pager %}

	<div class="experimentation-index">

		<!-- header -->
		<div class="list-title clearfix">
			<h1>{{ '%n% expérimentation disponible|%n% expérimentations disponibles'|plurialize(experimentations_count, {'%n%': experimentations_count}) }}<h1>
			{{ pager.paginate(pages_count) }}
		</div>

		<!-- partials -->
		{% for experimentation in experimentations %}
			{% include 'partial/one_experimentation_on_a_list.html.twig' %}
		{% endfor %}

		<div class="list-title clearfix">
			{{ pager.paginate(pages_count) }}
		</div>

	</div>

{% endblock %}